[% INCLUDE doctype.tt %]
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]

<!-- archivos de javascript generales (cargar en todas las páginas) -->
[% INCLUDE jsgenerales.tt %]

<!--
En la plantilla siguiente se incluye el javascript para cargar el menu,
asociado al evento onload de la página. Si se quiere personalizar dicho evento,
debe escribirse la nueva función de javascript requerida y, dentro, invocar a
la función cargarMenu() existente, cambiando la respectiva etiqueta <body>.
-->
[% INCLUDE jscargarmenu.tt %]
[% formbuilder.jshead %]

</head>
<body onload="cargarMenu()">

[% INCLUDE encabezado.tt %]

<fieldset>
<legend>Solicitar Vi&aacute;tico</legend>

<table align="center" width="100%">
  <tr>
    <td>[% INCLUDE 'cssmenu.tt' %]</td>
  </tr>
</table>

[% formbuilder.start %]
[% formbuilder.statetags %]
[% formbuilder.keepextras %]

<br/>
[% IF solicitante %]
<table align="center" width="50%">
  <tr>
    <td width="30%" align="center" class="titulodonforojo">Solicitante activo:</td>
    <td width="70%" align="left" ><b>[% id_tprif_sol %]-[% icedula_sol %]</b>&nbsp;&nbsp;[% snombres_sol %]&nbsp;&nbsp;<b>Categor&iacute;a:</b>&nbsp;&nbsp;[% scategoria_sol %]</td>
  </tr>
</table>
[% END %]

<br/>

<table align="center" width="50%" border="0">
  <tr>
    <td align="center" colspan="4" class="titulodonforojo">[% titulo %]</td>
  </tr>
  <tr>
    <td width="25%" align="left" class="fondoetiqueta"><b>C&eacute;dula:</b></td>
    <td width="75%" colspan="3" align="left"><b>[% id_tprif %]-[% icedula %]</b></td>
  </tr>
  <tr>
    <td width="25%" align="left" class="fondoetiqueta"><b>Nombres:</b></td>
    <td width="75%" colspan="3" align="left">[% snombres %]</td>
  </tr>
[% IF tipo == 'E' %]
  <tr>
    <td width="25%" align="left" class="fondoetiqueta"><b>Apellidos:</b></td>
    <td width="75%" colspan="3" align="left">[% sapellidos %]</td>
  </tr>
  <tr>
    <td width="25%" align="left" class="fondoetiqueta"><b>G&eacute;nero:</b></td>
    <td width="75%" colspan="3" align="left">[% sgenero %]</td>
  </tr>
  <tr>
    <td width="25%" align="left" class="fondoetiqueta"><b>Cargo:</b></td>
    <td width="45%" align="left">[% scargo %]</td>
    <td width="15%" align="left" class="fondoetiqueta"><b>Encargadur&iacute;a</b></td>
    <td width="15%" align="left">[% sencargaduria %]</td>
  </tr>
  <tr>
    <td width="25%" align="left" class="fondoetiqueta"><b>Unidad de Adscripci&oacute;n:</b></td>
    <td width="75%" colspan="3" align="left">[% sunidad %]</td>
  </tr>
  <tr>
    <td width="25%" align="left" class="fondoetiqueta"><b>Comisi&oacute;n de Servicio:</b></td>
    <td width="75%" colspan="3" align="left">[% bcomision %]</td>
  </tr>
[% ELSE %]
  <tr>
    <td width="25%" align="left" class="fondoetiqueta"><b>Cargo:</b></td>
    <td width="75%" colspan="3" align="left">[% scargo %]</td>
  </tr>
  <tr>
    <td width="25%" align="left" class="fondoetiqueta"><b>Unidad Solicitante:</b></td>
    <td width="75%" colspan="3" align="left">[% sunidad %]</td>
  </tr>
[% END %]
  <tr>
    <td width="25%" align="left" class="fondoetiqueta"><b>Categoria:</b></td>
    <td width="75%" colspan="3" align="left">[% scategoria %]</td>
  </tr>
</table>

<table align="center" width="50%">
  <tr>
    <td align="center">[% formbuilder.field.btnvolver.field %]</td>
  </tr>
</table>
[% formbuilder.end %]
</fieldset>
</body>
</html>