<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]

<!-- archivos de javascript para Prototype -->
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/prototype.js"></script>

<!-- archivos de javascript para Seleccionar Item en las Listas -->
<script type="text/javascript" src="[%ruta_estatica%]/js/seleccionarItemList.js"></script>

<!-- archivos de javascript generales (cargar en todas las páginas) -->
[% INCLUDE jsgenerales.tt %]

<!-- hoja de estilo del calendario -->
<link rel="stylesheet" type="text/css" media="all" href="[% ruta_estatica %]/js/jscalendar/calendar-win2k-cold-2.css" title="Calendario" />
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/calendar.js"></script>
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/lang/calendar-es.js"></script>
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/calendar-setup.js"></script>

[% formbuilder.jshead %]


<script type="text/javascript">

    function upd(valor, ruta){
        document.forma.id_presupuestos.value = valor;
        document.forma.action = ruta;
        document.forma.submit();
    }
</script>

<script language="JavaScript">


function marcar() {
  document.forma.marca.value = 1;
}
</script>
</head>
<body onload="cargarMenu()">

[% INCLUDE encabezado.tt %]
<fieldset>
<legend>Presupuesto</legend>

[% formbuilder.start %]
[% formbuilder.statetags %]
[% formbuilder.keepextras %]
[% INCLUDE jscargarmenu.tt %]
<table align="center" width="65%">
  <tr>
    <td align="center" colspan="2" class="titulodonforojo">Presupuesto</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_presupuestos.label %]</b></td>
    <td align="left"><b>[% formbuilder.field.id_presupuestos.value %][% formbuilder.field.id_presupuestos.field %]</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.ianio.label %]<b></td>
    <td align="left">[% formbuilder.field.ianio.field %](*)</td>
  </tr>
<!--  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_tppresupuesto.label %]<b></td>
    <td align="left">[% formbuilder.field.id_tppresupuesto.value %]</td>
  </tr>-->
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_tpedopresupuesto.label %]<b></td>
    <td align="left">[% formbuilder.field.id_tpedopresupuesto.field %](*)</td>
  </tr>
<tr>
    <td width="15%" align="left" class="fondoetiqueta" rowspan=2 valign=center><b>Periodo de formulaci&oacute;n<!--[% formbuilder.field.ddesde.label %]--><b></td>
    <td width="75%" align="left" valign=center>[% formbuilder.field.ddesde.label %]: [% formbuilder.field.ddesde.field %]&nbsp;<img src="[% ruta_estatica %]/imagenes/calendario.jpg" title="Desplegar Calendario" width="25" height="18" id="a_dfecha" style="cursor: pointer; border: 0px solid #0F305A;" onmouseover="this.style.background='#0F305A';" onMouseOut="this.style.background=''"/>
           <script type="text/javascript">
           Calendar.setup({
                inputField     :    "ddesde",     // id of the input field
                ifFormat       :    "%d/%m/%Y",      // format of the input field
                button         :    "a_dfecha",  // trigger for the calendar (button ID)
                align          :    "Tl",           // alignment (defaults to "Bl")
                singleClick    :    true
           });
           </script>(*)</td>
  </tr>

<tr>
    <!--<td width="15%" align="left" class="fondoetiqueta"><b>[% formbuilder.field.dhasta.label %]<b></td>-->
    <td width="75%" align="left"  valign=center>[% formbuilder.field.dhasta.label %] : [% formbuilder.field.dhasta.field %]&nbsp;<img src="[% ruta_estatica %]/imagenes/calendario.jpg" title="Desplegar Calendario" width="25" height="18" id="b_dfecha" style="cursor: pointer; border: 0px solid #0F305A;" onmouseover="this.style.background='#0F305A';" onMouseOut="this.style.background=''"/>
           <script type="text/javascript">
           Calendar.setup({
                inputField     :    "dhasta",     // id of the input field
                ifFormat       :    "%d/%m/%Y",      // format of the input field
                button         :    "b_dfecha",  // trigger for the calendar (button ID)
                align          :    "Tl",           // alignment (defaults to "Bl")
                singleClick    :    true
           });
           </script>(*)</td>
  </tr>
  <tr>
  <td colspan="2" align="center">[% formbuilder.submit %]&nbsp;
    <input type=button  onclick="javascript: document.forma.flag.value=0; upd(0,'/presupuesto/administracion/presupuesto/listarPresupuestos')" value='<< Regresar'/>
  </td>
  </tr>
  <tr class=''>
    <td colspan=2 >(*) Estos campos son obligatorios</td>
  </tr>
</table>
[% formbuilder.field.flag.field %]
[% formbuilder.end %]
</fieldset>
</body>
</html>