<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body>
        <table align="center" border=0 ellspacing=1 cellpadding=2 width=100% >
            <tr>
                <td width="80%" height="74" colspan="2">
                    <img src="[% ruta_estatica %]/imagenes/bandes.jpg" width="150" height="74">
                </td>
            </tr>
            <tr bgcolor= #015289>
                <th width=45 colspan=4><font color=#ffffff>Resumen de la Asignaci&oacute;n de recursos <br>(Expresados en Dolares Americanos)</font></th>
            </tr>
            <tr>
                <th width=45 colspan=4 align=center>[% FOREACH field IN tabla %]<img src="[% ruta_estatica %]/imagenes/Banderas/[% field.id_tppais %].png" border="0" width=25>&nbsp; [% END %]</th>
            </tr>
            [% IF tabla %]
            <tr>
                <th width=45 colspan=4 align=center>[% FOREACH field IN banderas %]<img src="[% ruta_estatica %]/imagenes/Banderas/[% field.id_tppais %].png" border="0" width=25>&nbsp; [% END %]<br>&nbsp;</th>
            </tr>
            [% END %]
        </table>
        <table align="center" border=1 cellspacing=0 cellpadding=2 >
            <tr bgcolor= #015289>
                <th width=150><font color=#ffffff>[% criterio %]</font></th>
                <th width=150><font color=#ffffff>Aprobado</font></th>
                <th width=150><font color=#ffffff>Desembolsado</font></th>
                <th width=150><font color=#ffffff>Por Desembolsar</font></th>
            </tr>
            [% FOREACH field IN tabla %]
            <tr bgcolor=[% field.clase_1 %]>
                <td nowrap><br><img src="[% ruta_estatica %]/imagenes/Banderas/[% field.id_tppais %].png" border="0" width=25> [% field.regionpdf %]</td>
                <td align=right>[% field.aprobado %]</td>
                <td align=right>[% field.desembolsado %]</td>
                <td align=right>[% field.desembolsar %]</td>
            </tr>
            [% END %]
        </table>
        <table align=center width=100%>
            <tr>
                <td align=center>
                    <img src="/tmp/[% pie %].jpg" border=0 width=500/>
                </td>
            </tr>
        </table>
    </body>
</html>
