<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]

[%INCLUDE jsgenerales.tt %]

<!-- archivos de javascript para Prototype -->
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/prototype.js"></script>

<!-- archivos de javascript para Seleccionar Item en las Listas -->
<script type="text/javascript" src="[%ruta_estatica%]/js/seleccionarItemList.js"></script>

[%formbuilder.jshead%]
<script type="text/javascript">

function verReporte() {
if (document.detalleNomPeriodos.procesos.value == "") {
  alert("-Seleccione una opcion para el campo Procesos Disponibles");
}else{
    document.detalleNomPeriodos.action = "[%ruta%]datosReciboPago";
    document.detalleNomPeriodos.submit();
}
}
</script>

[%INCLUDE jscargarmenu.tt%]

</head>
<body onload="cargarMenu()">

[%INCLUDE encabezado.tt %]
[%formbuilder.start%]
[%formbuilder.statetags%]
[%formbuilder.keepextras%]
<fieldset>
  <legend>Recibo de Pago</legend>
  <table align="center" colspan="2">
  <tr>
  <td><b>Procesos Disponibles para el Periodo:</b>&nbsp;[% periodo %]</td>
  </tr>
  </br>
      <tr>
        <td><b>C&eacute;dula:</b> &nbsp;[% cedula %]</td>
      </tr>
      <tr>
        <td><b>Nombres y Apellidos:</b> &nbsp;[% nombrecompleto %]</td>
      </tr>
      <tr>
        <td>&nbsp;</td><br>
      </tr>
      <tr align="center">
        <td>[%formbuilder.field.procesos.field%]</td>
      </tr>
    <tr align="center">
      <td>[% formbuilder.field.volver.field %]&nbsp;[% formbuilder.submit %]</td>
    </tr>
  </table>
[%formbuilder.end%]
<br/>
</body>
</html>