<html>
    <head>
        <m  eta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body>
        <table align="center" border=0 ellspacing=1 cellpadding=2 width=100% >
            <tr>
                <td width="80%" height="74" colspan="2">
                    <img src="[% ruta_estatica %]/imagenes/bandes.jpg" width="150" height="74">
                </td>
            </tr>
            <tr tr bgcolor= #015289>
                <th width=45 colspan=26>
                    <font color=#ffffff>Situaci&oacute;n de los Proyectos del FACI <br>(Expresados en Dolares Americanos)</font>
                </th>
            </tr>
        </table><br><br><br>
        <table align="center" border=1 cellspacing=0 cellpadding=2 >
            <tr bgcolor= #015289>
                <th width=150><font color=#ffffff>Situación</font></th>
                <th width=150><font color=#ffffff>N° De Proyectos</font></th>
                <th width=150><font color=#ffffff>Aprobado</font></th>
            </tr>
            [% FOREACH field IN tabla %]
            <tr bgcolor=[% field.clase_1 %]>
                <td nowrap>[% field.situacionpdf %]</td>
                <td align=center>[% field.cantidad %]</td>
                <td align=right>[% field.aprobado %]</td>
            </tr>
            [% END %]
        </table>
        <table align=center width=100%>
            <tr>
                <td align=center>
                    <img src="/tmp/[% pie %].jpg" border=0 width=500/>
                </td>
            </tr>
        </table>
    </body>
</html>
