<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]

<!-- archivos de javascript para Prototype -->
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/prototype.js"></script>

<!-- archivos de javascript para Seleccionar Item en las Listas -->
<script type="text/javascript" src="[%ruta_estatica%]/js/seleccionarItemList.js"></script>

<!-- hoja de estilo del calendario -->
<link rel="stylesheet" type="text/css" media="all" href="[% ruta_estatica %]/js/jscalendar/calendar-win2k-cold-2.css" title="Calendario" />
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/calendar.js"></script>
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/lang/calendar-es.js"></script>
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/calendar-setup.js"></script>

<!-- archivos de javascript generales (cargar en todas las páginas) -->
[% INCLUDE jsgenerales.tt %]

[% formbuilder.jshead %]



<script type="text/javascript">

    function upd(valor, ruta){
        document.forma.id_ciudadanos.value = valor;
        document.forma.action = ruta;
        document.forma.submit();
    }

    function upd2(valor, ruta){
        document.forma.id_casos.value = valor;
        document.forma.action = ruta;
        document.forma.submit();
    }

</script>
</head>
<body onload="cargarMenu()">

[% INCLUDE encabezado.tt %]
<fieldset>
<legend>Casos de Atenci&oacute;n al Ciudadano</legend>

[% formbuilder.start %]
[% formbuilder.statetags %]
[% formbuilder.keepextras %]
[% INCLUDE jscargarmenu.tt %]
<table align="center" width="65%">
    <tr>
        <td align center  colspan=2 >
            <table align="center" border=0 cellspacing="1" cellpadding="2" width="65%">
                <tr class=titulodonforojo>
                    <th width=40 colspan=2 align=center> Consulta</th>
                </tr>
                <tr>
                    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_tprif.label %]</b></td>
                    <td align="left">[% formbuilder.field.id_tprif.field %]</td>
                </tr>
                <tr>
                    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.scedularif.label %]</b></td>
                    <td align="left">[% formbuilder.field.scedularif.field %]</td>
                </tr>
                <tr>
                    <td align="left" class="fondoetiqueta" nowrap><b>Nombre, <br>Apellido, <br>Nombre de la empresa <br>o Razón social</b></td>
                    <td align="left">[% formbuilder.field.snombre.field %]</td>
                </tr>
                <tr>
                    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_tpcaso.label %]</b></td>
                    <td align="left">[% formbuilder.field.id_tpcaso.field %]</td>
                </tr>
                <tr>
                    <td class="fondoetiqueta" align="left"><b>Fecha de Creaci&oacute;n del caso</td>
                    <td>
                        <table>
                                <tr>
                                    <td>[% formbuilder.field.dcaso_desde.label %]</td>
                                    <td>[% formbuilder.field.dcaso_desde.field %]&nbsp;<img src="[% ruta_estatica %]/imagenes/calendario.jpg" title="Desplegar Calendario" width="25" height="18" id="a_dfecha" style="cursor: pointer; border: 0px solid #0F305A;" onmouseover="this.style.background='#0F305A';" onMouseOut="this.style.background=''"/>
                                    <script type="text/javascript">
                                    var f1 = new Date();
                                    var ff = f1.getYear()+1900;
                                    Calendar.setup({
                                            inputField     :    "dcaso_desde",     // id of the input field
                                            ifFormat       :    "%d/%m/%Y",      // format of the input field
                                            button         :    "a_dfecha",  // trigger for the calendar (button ID)
                                            align          :    "Tl",           // alignment (defaults to "Bl")
                                            singleClick    :    true,
                                            range          :    [2009,ff]
                                    });
                                    </script></td>
                                </tr>
                                <tr>
                                    <td>[% formbuilder.field.dcaso_hasta.label %]</td>
                                    <td>[% formbuilder.field.dcaso_hasta.field %]&nbsp;<img src="[% ruta_estatica %]/imagenes/calendario.jpg" title="Desplegar Calendario" width="25" height="18" id="b_dfecha" style="cursor: pointer; border: 0px solid #0F305A;" onmouseover="this.style.background='#0F305A';" onMouseOut="this.style.background=''"/>
                                    <script type="text/javascript">
                                    Calendar.setup({
                                            inputField     :    "dcaso_hasta",     // id of the input field
                                            ifFormat       :    "%d/%m/%Y",      // format of the input field
                                            button         :    "b_dfecha",  // trigger for the calendar (button ID)
                                            align          :    "Tl",           // alignment (defaults to "Bl")
                                            singleClick    :    true,
                                            range          :    [2009,ff]
                                    });
                                    </script></td>
                                </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_responsables.label %]</b></td>
                    <td align="left">[% formbuilder.field.id_responsables.field %] [% responsable %]</td>
                </tr>
                <tr>
                    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_tpedocaso.label %]</b></td>
                    <td align="left">[% formbuilder.field.id_tpedocaso.field %]</td>
                </tr>
                <tr>
                    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_remitidopor.label %]</b></td>
                    <td align="left">[% formbuilder.field.id_remitidopor.field %]</td>
                </tr>
                <tr>
                    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_remitidopara.label %]</b></td>
                    <td align="left">[% formbuilder.field.id_remitidopara.field %]</td>
                </tr>
                <tr>
                    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.flag.label %]</b></td>
                    <td align="left">[% formbuilder.field.flag.field %]</td>
                </tr>
                <tr >
                    <th width=40 colspan=2 align=center> [% formbuilder.submit %]</th>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="left" class="" nowrap >
            <table align="center" border=0 cellspacing="1" cellpadding="2" width="65%">
                <tr class=titulodonforojo>
                    <th width=40 colspan=12 align=center> Casos de Atenci&oacute;n al Ciudadano</th>
                </tr>
                <tr class=fondoetiqueta5 align=center>
                    <th width=40>Caso</th>
                    <th width=200>Ciudadano</th>
                    <th width=200>Nombre</th>
                    <th width=200>Tipo</th>
                    <th width=40>Fecha</th>
                    <th width=40>Asunto</th>
                    <th width=40>Monto</th>
                    <th width=40>Estatus</th>
                    <th width=40>Llamadas</th>
                </tr>
                [% FOREACH field IN tabla %]
                <tr class=[% field.clase %]>
                    <td><a href="javascript: upd2([% field.id %],'/concac/atencion/administracion/fichaCaso')"  style="text-decoration:none">[% field.id %]</a></td>
                    <td>[% field.id_tprif %]-[% field.scedularif %]</td>
                    <td>[% field.nombre %]</td>
                    <td>[% field.id_tpcaso %]</td>
                    <td>[% field.dcaso %]</td>
                    <td>[% field.sasunto %]</td>
                    <td align=right>[% field.nmonto %]</td>
                    <td align=center>[% field.id_tpedocaso %]</td>
                    <td align=center>[% field.llamadas %]</td>
                </tr>
                [% END %]
                <tr >
                    <td colspan=11><hr><b>Casos:</b> [% cant_casos %] - <img src="/static/imagenes/phone.png" width=20 > <b>Llamadas:</b> [% cant_llamadas %]</td>
                </tr>
            </table>
        </td>

    </tr>
  <!--  <tr>
        <td align center  colspan=2 >
            <input type=button  onclick="javascript: upd(document.forma.id_ciudadanos.value,'/concac/atencion/atencion/entradaAtencion')" value='<< Regresar'/>&nbsp; <input type=button  onclick="javascript: upd(document.forma.id_ciudadanos.value,'/concac/atencion/atencion/entradaCaso')" value='Agregar Caso >>'/>
        </td>
    </tr>       -->
    
</table>
<input type=hidden name=retorno value='/concac/reporte/reporte/consultarCaso'>
[% formbuilder.field.id_ciudadanos.field %]
[% formbuilder.field.id_casos.field %]
[% formbuilder.end %]
</fieldset>
</body>
</html>
