<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]

<!-- archivos de javascript para Prototype -->
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/prototype.js"></script>

<!-- archivos de javascript para Seleccionar Item en las Listas -->
<script type="text/javascript" src="[%ruta_estatica%]/js/seleccionarItemList.js"></script>

<!-- archivos de javascript generales (cargar en todas las páginas) -->
[% INCLUDE jsgenerales.tt %]

<!-- hoja de estilo del calendario -->
<!--<link rel="stylesheet" type="text/css" media="all" href="[% ruta_estatica %]/js/jscalendar/calendar-win2k-cold-2.css" title="Calendario" />
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/calendar.js"></script>
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/lang/calendar-es.js"></script>
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/calendar-setup.js"></script>-->

[% formbuilder.jshead %]




<script language="JavaScript">

var arregloCampos = new Array(
  new Array('id_proyecto','id_accionespecifica'),
  new Array('id_accionespecifica')
);

//Función funcionCargarListas: se encarga de cargar el contenido de las listas dependientes deL valor del indicador de acuerdo a la selección realizada (Tipo de Antecedente seleccionada para el caso de un indicador).
function funcionCargarListas(nombreCampoSeleccionado){
  var forma = document.datalle;
  var listaSeleccionada = eval('forma.'+nombreCampoSeleccionado);
  var url = '[% ruta_listas %]';
  var campoLlenar = buscarValorAsociadoEnArreglo(arregloCampos, '0', nombreCampoSeleccionado, 1);
  var funcion = eval('llenar_' + campoLlenar);
  var valorSeleccionado = listaSeleccionada.options[listaSeleccionada.selectedIndex].value;
  if (valorSeleccionado) {
    var pars = nombreCampoSeleccionado+"="+valorSeleccionado;
    var myAjax = new Ajax.Request( url, { method: 'post', parameters: pars , onComplete: funcion});
  }
  else {
    limpiarListas(campoLlenar);
  }
}

//Función llenarListaDependiente: método encargado de traducir la respuesta del servidor con la lista de valores que deben ser incluidas y llenar las listas dependientes con la información.
function llenarListaDependiente(originalRequest, nombreListaLlenar) {
  var respuesta = originalRequest.responseText;
  var forma = document.datalle;
  var listaLlenar = eval('forma.'+nombreListaLlenar);
  limpiarListas(nombreListaLlenar);

  if ( respuesta != 'undef' ){
    var primerarreglo = respuesta.split("|");
    for(i=0;i<primerarreglo.length;i++){
      var elemento  = primerarreglo[i].split(":");
      agregarOpcionLista(listaLlenar,new Option(elemento[1],elemento[0]));
    }
  }
}

// Función limpiarListas: Método encargado de limpiar el contenido de una lista desplegable.
function limpiarListas(nombreLista) {
  var forma = document.datalle;
  vaciarLista(eval('forma.'+nombreLista));
}

//Función llenar_id_tpindicador: Método encargado de hacer el llamado al método llenarListaDependiente, indicando que la lista a trabajar es la de los indicadores.
function llenar_id_accionespecifica(originalRequest) {
  llenarListaDependiente(originalRequest, 'id_accionespecifica');
}

</script>

<script type="text/javascript">

    function upd(valor, ruta){
        document.datalle.id_recursos.value = valor;
        document.datalle.action = ruta;
        document.datalle.submit();
    }

    function upd_2(valor, ruta){
        document.datalle.id_recursos.value = valor;
        document.datalle.id_productoservicios.value = '';
        document.datalle.action = ruta;
        document.datalle.submit();
    }

       
    function marcar() {
        document.datalle.marca.value = 1;
    }

//********************//
//******  AJAX  ******//
//********************//

function cargarCombo(campoLlenar){
  var forma = document.datalle;

  var texto = document.getElementById('criterio').value;
  var funcion = eval('llenar_' + campoLlenar);
  var url = '[% ruta_combo %]';
    
  if (document.datalle.id_tpproductoservicio.value) {
    var pars = campoLlenar+"="+texto+"&id_tpproductoservicio="+document.datalle.id_tpproductoservicio.value;
    var myAjax = new Ajax.Request( url, { method: 'post', parameters: pars , onComplete: funcion});
   }else{
    alert('Debe seleccionar tipo de recurso');
    }

//   else {
//     limpiarListas(campoLlenar);
//   }
}


function llenar_id_productoservicios(originalRequest) {
  llenarListaDependiente(originalRequest, 'id_productoservicios');
}

function llenarListaDependiente(originalRequest, nombreListaLlenar) {
  var respuesta = originalRequest.responseText;
  var forma = document.datalle;
  var listaLlenar = eval('forma.'+nombreListaLlenar);

  limpiarListas(nombreListaLlenar);

  if ( respuesta != 'undef' ){
    var primerarreglo = respuesta.split("|");
    for(i=0;i<primerarreglo.length;i++){
      var elemento  = primerarreglo[i].split(":");
      agregarOpcionLista(listaLlenar,new Option(elemento[1],elemento[0]));
    }
  }
}


function limpiarListas(nombreLista) {
  var forma = document.datalle;
  vaciarLista(eval('forma.'+nombreLista));
}

function bloquear(){
    if (document.datalle.id_tpproductoservicio.value == 3){
        document.datalle.ncantidad.value=0;
        document.datalle.nmntoegreso.value='';
        document.datalle.ncantidad.disabled=true;
        document.datalle.nmntoegreso.disabled=false;
    }else{
        document.datalle.nmntoegreso.value=0;
        document.datalle.ncantidad.value='';
        document.datalle.ncantidad.disabled=false;
        document.datalle.nmntoegreso.disabled=true;
        
    }
    cargarCombo('id_productoservicios');
}

</script>
</head>
<body onload="cargarMenu()">

[% INCLUDE encabezado.tt %]
<fieldset>
<legend>Formulaci&oacute;n Presupuestaria</legend>

[% formbuilder.start %]
[% formbuilder.statetags %]
[% formbuilder.keepextras %]
[% INCLUDE jscargarmenu.tt %]
<table align="center" width="65%">
    
  <tr>
    <td align="center" colspan="2" class="titulodonforojo">Formulaci&oacute;n Presupuestaria </td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_actividades.label %]<b></td>
    <td align="left"><b>[% formbuilder.field.id_actividades.value %][% formbuilder.field.id_actividades.field %]- [% formbuilder.field.sdescripcion.value %]</b></td>
  </tr>
[% IF formular %]
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.sdescripcion.label %]<b></td>
    <td align="left">[% formbuilder.field.sdescripcion.field %] <input type=button  onclick="javascript: document.datalle.flag.value=0; upd(0,'/presupuesto/formulacion/formulacion/editarActividad')" value='Cambiar nombre'/></td>
  </tr>
  <tr>
    <td class=fondoetiqueta5 colspan=2 align=center><b>Recursos<b></td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_tpproductoservicio.label %]<b></td>
    <td align="left">[% formbuilder.field.id_tpproductoservicio.field %]&nbsp;(*)</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_productoservicios.label %]<b></td>
    <td align="left">[% formbuilder.field.criterio.field %]&nbsp;[% formbuilder.field.id_productoservicios.field %]&nbsp;(*)</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.ncantidad.label %]<b></td>
    <td align="left">[% formbuilder.field.ncantidad.field %]&nbsp;(*)</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.nmntoegreso.label %]<b></td>
    <td align="left">[% formbuilder.field.nmntoegreso.field %]&nbsp;(*)</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.imesinicio.label %]<b></td>
    <td align="left">[% formbuilder.field.imesinicio.field %]&nbsp;(*)</td>
  </tr> 
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.imesfin.label %]<b></td>
    <td align="left">[% formbuilder.field.imesfin.field %]&nbsp;(*)</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_tptrimestre.label %]<b></td>
    <td align="left">[% formbuilder.field.id_tptrimestre.field %]&nbsp;(*)</td>
  </tr>
  <tr>
    <td colspan="2" align=""><a style="text-decoration:none" href="javascript:document.datalle.hoja.value=1;upd([% formbuilder.field.id_actividades.value %],'/presupuesto/administracion/conformaractividad/detallarActividad')"><IMG src="/static/imagenes/excel.jpg" border="0"> Generar hoja de c&aacute;lculo</a></td>
  </tr>
  <tr>
    <td colspan="2" align="center">[% formbuilder.submit %]&nbsp;
    <input type=button  onclick="javascript: document.datalle.flag.value=0; upd(0,'/presupuesto/formulacion/formulacion/entradaFormulacion')" value='<< Regresar'/>
    </td>
  </tr>
    <tr class=''>
      <td colspan=2 >(*) Estos campos son obligatorios</td>
    </tr>
[% ELSE %]
    <tr>
        <td colspan="2" align=""><a style="text-decoration:none" href="javascript:document.datalle.hoja.value=1;upd([% formbuilder.field.id_actividades.value %],'/presupuesto/administracion/conformaractividad/detallarActividad')"><IMG src="/static/imagenes/excel.jpg" border="0">Generar hoja de c&aacute;lculo</a></td>
    </tr>
      <tr>
    <td colspan="2" align="center">
    <input type=button  onclick="javascript: document.datalle.flag.value=0; upd(0,'/presupuesto/formulacion/formulacion/entradaFormulacion')" value='<< Regresar'/>
    </td>
  </tr>
[% END %]
    <tr>
    <td align="left" class="" nowrap colspan=2 >
            <table align="center" border=0 cellspacing="1" cellpadding="2" width="65%">
        <tr class=titulodonforojo>
            <th width=40 colspan=12 align=center> Base de c&aacute;lculo</th>
        </tr>
  <tr class=fondoetiqueta5 align=center>
            <th width=40>N°</th>
            <th width=200>Concepto</th>
            <th width=40>Precio (BsF)</th>
            <th width=40>Cantidad</th>
            <th width=40>Costo (BsF)</th>
            <th width=40>Partida</th>
            <th width=100 align=just>Denominaci&oacute;n</th>
            <th width=40>Periodo</th>
            <th width=40>Periodo Adquisici&oacute;n</th>
            [% IF formular %]
            <th width=40>Eliminar</th>
            [% END %]
        </tr>
        [% FOREACH field IN tabla %]
        <tr class=[% field.clase %]>
            <td>[% IF field.num %]<a style="text-decoration:none" href="javascript:upd_2([% field.id %],'/presupuesto/formulacion/formulacion/detallarActividad')">[% field.num %]</a>[% END %]</td>
            <td>[% field.id_productoservicios %]</td>
            <td align=right><font color=red ><b><a style="text-decoration:none; color: #FF0000" href="javascript:if (confirm('¿Desea Reajustar el Producto?'))upd([% field.id %],'/presupuesto/formulacion/formulacion/reajustarProducto')" onmouseover="javascript: Tip('<b>Reajustar</b>' )" onmouseout="UnTip()" >[% field.actualizado %]</a></b></font> [% field.precio %]</td>
            <td align=right>[% field.ncantidad %]</td>
            <td align=right>[% field.subtotal %]</td>
            <td><a onmouseover="javascript: var str= '[% field.partida %]'; Tip('<b>PARTIDA: </b>' + str.substring(0,3) + '<br><b>GENERICA: </b>' + str.substring(3,5) +'<br><b>ESPECIFICA: </b>' + str.substring(5,7) +'<br><b>SUB-ESPECIFICA: </b>' + str.substring(7,9) )" onmouseout="UnTip()"    />[% field.partida %]<a></td>
            <td>[% field.denominacion %]</td>
            <td align=center>
                [% IF field.num %]
                    [% IF field.imesinicio == field.imesfin %]
                        [% field.imesinicio %]
                    [% ELSE %]
                        [% field.imesinicio %]-[% field.imesfin %]
                    [% END %]
                [% END %]
            </td>
            <td>[% FOREACH field.trimestres %] [% trimestre %] <br>[% END %]</td>
            [% IF formular %]
            <td align=center>[% IF field.num %]<a style="text-decoration:none" href="javascript:if (confirm('Desea eliminar el registro'))upd([% field.id %],'/presupuesto/formulacion/formulacion/eliminarRecurso')"><IMG src="/static/imagenes/menu/delete.gif" border="0"></a>[% END %]</td>
            [% END %]
            
        </tr>
        [% END %]
        <tr >
            <tD colspan=11><hr></tD>            
        </tr>
      </table>
<!--         <font color=red ><b>(!)</b></font> El Producto ha cambiado su caracteristica. debe reajustar su presupuesto. haga click en la marca para reajustar -->
    </td>
  </tr>
 
</table>
[% formbuilder.field.id_recursos.field %]
[% formbuilder.field.marca.field %]
[% formbuilder.field.flag.field %]
<input name=hoja type=hidden />
[% formbuilder.end %]

</fieldset>
</body>
</html>