<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]

<!-- archivos de javascript para Prototype -->
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/prototype.js"></script>

<!-- archivos de javascript para Seleccionar Item en las Listas -->
<script type="text/javascript" src="[%ruta_estatica%]/js/seleccionarItemList.js"></script>

<!-- archivos de javascript generales (cargar en todas las páginas) -->
[% INCLUDE jsgenerales.tt %]

<!-- hoja de estilo del calendario -->
<link rel="stylesheet" type="text/css" media="all" href="[% ruta_estatica %]/js/jscalendar/calendar-win2k-cold-2.css" title="Calendario" />
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/calendar.js"></script>
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/lang/calendar-es.js"></script>
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/calendar-setup.js"></script>

[% formbuilder.jshead %]


<script type="text/javascript">

    function upd(valor, ruta){
        document.datosbasicos.id_actividades.value = valor;
        document.datosbasicos.action = ruta;
        document.datosbasicos.submit();
    }


</script>

<script language="JavaScript">

var arregloCampos = new Array(
  new Array('id_unidadesadmin','id_proyectos','id_accionespecificas'),
  new Array('id_proyectos','id_accionespecificas')
);

//Función funcionCargarListas: se encarga de cargar el contenido de las listas dependientes deL valor del indicador de acuerdo a la selección realizada (Tipo de Antecedente seleccionada para el caso de un indicador).
function funcionCargarListas1(nombreCampoSeleccionado){
  var forma = document.datosbasicos;
  var listaSeleccionada = eval('forma.'+nombreCampoSeleccionado);
  var url = '[% ruta_listas1 %]';
  var campoLlenar = buscarValorAsociadoEnArreglo(arregloCampos, '0', nombreCampoSeleccionado, 1);
  var funcion = eval('llenar_' + campoLlenar);
  var valorSeleccionado = listaSeleccionada.options[listaSeleccionada.selectedIndex].value;
  if (valorSeleccionado) {
    var pars = nombreCampoSeleccionado+"="+valorSeleccionado+"&id_presupuesto="+forma.id_presupuesto.value;
    var myAjax = new Ajax.Request( url, { method: 'post', parameters: pars , onComplete: funcion});
  }
  else {
    limpiarListas(campoLlenar);
  }
}

function funcionCargarListas2(nombreCampoSeleccionado){
  var forma = document.datosbasicos;
  var listaSeleccionada = eval('forma.'+nombreCampoSeleccionado);
  var url = '[% ruta_listas2 %]';
  var campoLlenar = buscarValorAsociadoEnArreglo(arregloCampos, '0', nombreCampoSeleccionado, 1);
  var funcion = eval('llenar_' + campoLlenar);
  var valorSeleccionado = listaSeleccionada.options[listaSeleccionada.selectedIndex].value;
  if (valorSeleccionado) {
    var pars = nombreCampoSeleccionado+"="+valorSeleccionado;
    var myAjax = new Ajax.Request( url, { method: 'post', parameters: pars , onComplete: funcion});
  }
  else {
    limpiarListas(campoLlenar);
  }
}

//Función llenarListaDependiente: método encargado de traducir la respuesta del servidor con la lista de valores que deben ser incluidas y llenar las listas dependientes con la información.
function llenarListaDependiente(originalRequest, nombreListaLlenar) {
  var respuesta = originalRequest.responseText;
  var forma = document.datosbasicos;
  var listaLlenar = eval('forma.'+nombreListaLlenar);
  limpiarListas(nombreListaLlenar);

  if ( respuesta != 'undef' ){
    var primerarreglo = respuesta.split("|");
    for(i=0;i<primerarreglo.length;i++){
      var elemento  = primerarreglo[i].split(":");
      agregarOpcionLista(listaLlenar,new Option(elemento[1],elemento[0]));
    }
  }
}

// Funcion limpiarListas: Metodo encargado de limpiar el contenido de una lista desplegable.
function limpiarListas(nombreLista) {
  var forma = document.datosbasicos;
  vaciarLista(eval('forma.'+nombreLista));
}

//Función llenar_id_tpindicador: Método encargado de hacer el llamado al método llenarListaDependiente, indicando que la lista a trabajar es la de los indicadores.
function llenar_id_accionespecificas(originalRequest) {
  llenarListaDependiente(originalRequest, 'id_accionespecificas');
}

function llenar_id_proyectos(originalRequest) {
  llenarListaDependiente(originalRequest, 'id_proyectos');
}

</script>
</head>
<body onload="cargarMenu()">

[% INCLUDE encabezado.tt %]
<fieldset>
<legend>Formulaci&oacute;n Presupuestaria</legend>

[% formbuilder.start %]
[% formbuilder.statetags %]
[% formbuilder.keepextras %]
[% INCLUDE jscargarmenu.tt %]

[% IF formular %]
<table align="center" width="65%">
  <tr>
    <td align="center" colspan="2" class="titulodonforojo">Formulaci&oacute;n Presupuestaria</td>
  </tr>
  <!--<tr>
    <td align="left" class="fondoetiqueta" nowrap><b>Unidad Administrativa<b></td>
    <td align="left">[% unidad %]</td>
  </tr>-->
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>Unidad Administrativa<b></td>
    <td align="left">[% formbuilder.field.id_unidadesadmin.field %]</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_proyectos.label %]<b></td>
    <td align="left">[% formbuilder.field.id_proyectos.field %]</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_accionespecificas.label %]<b></td>
    <td align="left">[% formbuilder.field.id_accionespecificas.field %]&nbsp;(*)</td>
  </tr>

    <tr class=''>
      <td colspan=2 >(*) Estos campos son obligatorios</td>
    </tr>
    <tr>
    <td align="center" class="" colspan=2 >
            <table align="center" border=0 cellspacing="1" cellpadding="2" >
            <tr class=titulodonforojo>
            <th colspan=3> Metas e iniciativas consultadas en el Safpoa</th>
            </tr>
           <tr class=fondoetiqueta5 align=center>
            <th width=40>N°</th>
            <th width=700>Descripci&oacute;n</th>
            <th width=40>Marcar</th>
           </tr>
        [% FOREACH field IN tabla %]
        <tr class=[% field.clase %]>
            <td>[% field.id %]</td>
            <td>[% field.sdescripcion %]</td>
            <td align=center>[% IF field.id %]<input type='checkbox' name='id_metas' id='id_metas' value=[% field.id %]>[% ELSE %][% field.cuenta %][% END %]</td>
        </tr>
        [% END %]
        <tr >
            <tD colspan=3>&nbsp;</tD>
        </tr>
      </table>
        
    </td>
    </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.smeta.label %]<b></td>
    <td align="left">[% formbuilder.field.smeta.field %]</td>
  </tr>
        <tr >
            <tD colspan=11><hr></tD>            
        </tr>

  <tr>
    <td colspan="2" align="center">[% formbuilder.submit %]&nbsp;

    </td>
  </tr>
</table>
[% END %]
 <table align="center" border=0 cellspacing="1" cellpadding="2" width="65%">
        <tr class=titulodonforojo>
            <th width=40 colspan=12> Lista de Actividades </th>
        </tr>
  <tr class=fondoetiqueta5>
            <th width=20>id</th>
            <th width=150>Actividad</th>
            <th width=150>Accion Especifica</th>
            <th width=150>Proyecto/ Acci&oacute;n Centralizada</th>
            [% IF formular %]
                <th width=10>Detallar</th>
                <th width=10>Eliminar</th>
            [% ELSE %]
                <th width=10>Ver Base de Calculo</th>
            [% END %]
            
        </tr>
        [% FOREACH field IN tabla2 %]
        <tr class=[% field.clase %]>
            <td>[% field.id %]</td>
            <td>[% field.sdescripcion %]</td>
            <td>[% field.id_accionespecificas %]</td>
            <td>[% field.snombproy %]</td>
            [% IF field.id %]
                [% IF formular %]
                    <td align="center">
                    <a style="text-decoration:none" href="javascript:upd([% field.id %],'/presupuesto/formulacion/formulacion/detallarActividad')">Detallar</a></td>
                    <td align=center>
                    <a style="text-decoration:none" href="javascript:if (confirm('Desea eliminar el registro'))upd([% field.id %],'/presupuesto/formulacion/formulacion/eliminarActividad')"><IMG src="/static/imagenes/menu/delete.gif" border="0"></a></td>
                [% ELSE %]
                    <td align="center">
                    <a style="text-decoration:none" href="javascript:upd([% field.id %],'/presupuesto/formulacion/formulacion/detallarActividad')">Ver</a>
<!--                     <a style="text-decoration:none" href="javascript:upd([% field.id %],'/presupuesto/administracion/conformaractividad/detallarActividad')">Ver</a></td> -->
            [% END %]
            
            [% ELSE %]
                [% IF formular %] 
                    <td align="center">
                    </td>                
                [% END %]
                <td align=center>
                </td>                
            [% END %]
        </tr>
        [% END %]
        <tr >
            <tD colspan=11><hr></tD>            
        </tr>
      </table>
[% formbuilder.field.id_actividades.field %]
[% formbuilder.field.id_presupuesto.field %]
[% formbuilder.field.flag.field %]
[% formbuilder.end %]
</fieldset>
</body>
</html>