<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]

<!-- archivos de javascript para Prototype -->
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/prototype.js"></script>

<!-- archivos de javascript para Seleccionar Item en las Listas -->
<script type="text/javascript" src="[%ruta_estatica%]/js/seleccionarItemList.js"></script>

<!-- archivos de javascript generales (cargar en todas las páginas) -->
[% INCLUDE jsgenerales.tt %]

<!-- hoja de estilo del calendario -->
<link rel="stylesheet" type="text/css" media="all" href="[% ruta_estatica %]/js/jscalendar/calendar-win2k-cold-2.css" title="Calendario" />
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/calendar.js"></script>
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/lang/calendar-es.js"></script>
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/calendar-setup.js"></script>

[% formbuilder.jshead %]
[% formbuilder.jsfunc%]


<script type="text/javascript">

    function upd(valor, ruta){
        document.datosbasicos.action = ruta;
        document.datosbasicos.submit();
    }


</script>

<script language="JavaScript">

//Funcion funcionCargarproyectos: se encarga de cargar el contenido de las listas dependientes deL valor del indicador de acuerdo a la seleccion realizada (Tipo de Antecedente seleccionada para el caso de un indicador).
function CargarProyectos(){
  var forma = document.datosbasicos;
  var listaSeleccionada = eval('forma.id_unidadesadmin');
  var url = '[% ruta_listas_proyectos %]';
  var funcion = eval('llenar_id_proyectos');
  //var pars = nombreCampoSeleccionado+"="+valor;
  var pars = 'id_unidadesadmin=' +forma.id_unidadesadmin.value + ';id_presupuestos=' + forma.id_presupuestos.value;
  var myAjax = new Ajax.Request( url, { method: 'post', parameters: pars , onComplete: funcion});
  
  
}

//Funcion funcionCargarproyectos: se encarga de cargar el contenido de las listas dependientes deL valor del indicador de acuerdo a la seleccion realizada (Tipo de Antecedente seleccionada para el caso de un indicador).
function CargarAccionEspecificas(nombreCampoSeleccionado, valor){
  var forma = document.datosbasicos;
  var listaSeleccionada = eval('forma.'+nombreCampoSeleccionado);
  var url = '[% ruta_listas_accionespecificas %]';
  var funcion = eval('llenar_id_accionespecificas');
  var pars = nombreCampoSeleccionado+"="+valor;
  var myAjax = new Ajax.Request( url, { method: 'post', parameters: pars , onComplete: funcion});
}


//Funcion llenarListaDependiente: metodo encargado de traducir la respuesta del servidor con la lista de valores que deben ser incluidas y llenar las listas dependientes con la información.
function llenarListaDependiente(originalRequest, nombreListaLlenar) {
  var respuesta = originalRequest.responseText;
  var forma = document.datosbasicos;
  var listaLlenar = eval('forma.'+nombreListaLlenar);
  limpiarListas(nombreListaLlenar);

  if ( respuesta != 'undef' ){
    var primerarreglo = respuesta.split("|");
    for(i=0;i<primerarreglo.length;i++){
      var elemento  = primerarreglo[i].split(":");
      agregarOpcionLista(listaLlenar,new Option(elemento[1],elemento[0]));
    }
  }
}

// Funcion limpiarListas: Metodo encargado de limpiar el contenido de una lista desplegable.
function limpiarListas(nombreLista) {
  var forma = document.datosbasicos;
  vaciarLista(eval('forma.'+nombreLista));
}

//Funcion llenar_id_proyectos: Metodo encargado de hacer el llamado al metodo llenarListaDependiente, indicando que la lista a trabajar es la de los indicadores.
function llenar_id_proyectos(originalRequest) {
  llenarListaDependiente(originalRequest, 'id_proyectos');
  limpiarListas('id_accionespecificas');
}

//Funcion llenar_id_accionespecificas: Metodo encargado de hacer el llamado al metodo llenarListaDependiente, indicando que la lista a trabajar es la de los indicadores.
function llenar_id_accionespecificas(originalRequest) {
  llenarListaDependiente(originalRequest, 'id_accionespecificas');
}

</script>
</head>
<body onload="cargarMenu();CargarProyectos('id_unidadesadmin', document.datosbasicos.id_unidadesadmin.value);">

[% INCLUDE encabezado.tt %]
<fieldset>
<legend>Consultar Distribuci&oacute;n de Gastos</legend>

[% formbuilder.start %]
[% formbuilder.statetags %]
[% formbuilder.keepextras %]
[% INCLUDE jscargarmenu.tt %]
<table align="center" width="65%">
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_presupuestos.label %]<b></td>
    <td align="left">[% formbuilder.field.id_presupuestos.field %](*)</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_unidadesadmin.label %]<b></td>
    <td align="left">[% formbuilder.field.id_unidadesadmin.field %]</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_proyectos.label %]<b></td>
    <td align="left">[% formbuilder.field.id_proyectos.field %]</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_accionespecificas.label %]<b></td>
    <td align="left">[% formbuilder.field.id_accionespecificas.field %]</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.periodo.label %]<b></td>
    <td align="left">[% formbuilder.field.periodo.field %](*)</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.tipoarchivo.label %]<b></td>
    <td align="left">[% formbuilder.field.tipoarchivo.field %](*)</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.formato.label %]<b></td>
    <td align="left">[% formbuilder.field.formato.field %](*)</td>
  </tr>
  <tr class=''>
      <td colspan=2 >(*) Estos campos son obligatorios</td>
  </tr>
  <tr>
    <td colspan="2" align="center">[% formbuilder.field.consultar.field %]&nbsp;

    </td>
  </tr>
</table>
[% formbuilder.field.flag.field %]
[% formbuilder.end %]
</fieldset>
</body>
</html>