<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]

<!-- archivos de javascript generales (cargar en todas las páginas) -->
[% INCLUDE jsgenerales.tt %]

<script type="text/javascript">

function indexDesemLicita( id ){
  document.indexLicitacion.action = "[% url_indexDesemLicita %]";
  document.indexLicitacion.id_licitaciones.value = id;
  document.indexLicitacion.submit();
}

function mostrarLicitacion( id ){
  document.indexLicitacion.action = "[% url_mostrarLicitacion %]";
  document.indexLicitacion.id_licitaciones.value = id;
  document.indexLicitacion.submit();
}

function borrarLicitacion( id ){
  if(confirm("¿Desea eliminar la Licitación cod: "+id+"?")){
    document.indexLicitacion.action = "[% url_borrarLicitacion %]";
    document.indexLicitacion.id_licitaciones.value = id;
    document.indexLicitacion.submit();
  }
}

</script>

<!--
En la plantilla siguiente se incluye el javascript para cargar el menu,
asociado al evento onload de la página. Si se quiere personalizar dicho evento,
debe escribirse la nueva función de javascript requerida y, dentro, invocar a
la función cargarMenu() existente, cambiando la respectiva etiqueta <body>.
-->
[% INCLUDE jscargarmenu.tt %]
[% formbuilder.jshead %]
</head>
<body onload="cargarMenu()">
[% INCLUDE encabezado.tt%]
<fieldset>
<legend>Registrar Licitaciones</legend>

[% formbuilder.start %]
[% formbuilder.statetags %]
[% formbuilder.keepextras %]

<table align="center" width="87%" border="0">
  <tr>
    <td align="center" colspan="4" class="titulodonforojo">Datos Consolidado del Proyecto</td>
  </tr>
  <tr>
    <td width="25%" align="left" class="fondoetiqueta5">[% formbuilder.field.id_proyectos.label %]</td>
    <td width="75%" colspan="3" align="left"><b>[% datos.id %]</b></td>
  </tr>
  <tr>
    <td width="25%" align="left" class="fondoetiqueta5">Monto del Proyecto:</td>
    <td width="75%" colspan="3" align="left">[% datos.nmtoproyecto %]&nbsp;$</td>
  </tr>
  <tr>
    <td width="30%" align="left" class="fondoetiqueta5">Monto de Financiamiento:</td>
    <td width="20%" align="left">[% datos.nmtofinanc %]&nbsp;$</td>
    <td width="30%" align="left" class="fondoetiqueta5">Monto disponible del Proyecto:</td>
    <td width="20%" align="left">[% datos.nmtototaldisp %]&nbsp;$</td>
  </tr>
  <tr>
    <td width="30%" align="left" class="fondoetiqueta5">Nro. Licitaciones:</td>
    <td width="20%" align="left">[% datos.nrolicitaciones %]</td>
    <td width="30%" align="left" class="fondoetiqueta5">Monto total de los contratos por licitaci&oacute;n:</td>
    <td width="20%" align="left">[% datos.mntototallicita %]&nbsp;$</td>
  </tr>
  <tr>
    <td width="100%" align="center" colspan="4">[% formbuilder.field.btnvolver.field %]&nbsp;[% formbuilder.submit %]</td>
  </tr>
</table>
<br>&nbsp;

<table align="center" cellpadding="2" width="100%" border="0">
<tr>
  <td align="center" colspan="11" class="titulodonforojo">Listado de las Licitaciones</td>
</tr>
<tr>
  <td width="2%" align="center" class="fondoetiqueta5">Cod.</td>
  <td width="24%" align="center" class="fondoetiqueta5">Tipo de Adquisición</td>
  <td width="10%" align="center" class="fondoetiqueta5">Fecha de Pago</td>
  <td width="10%" align="center" class="fondoetiqueta5">Fecha de Contrato</td>
  <td width="22%" align="center" class="fondoetiqueta5">Monto de la Oferta ($)</td>
  <td width="22%" align="center" class="fondoetiqueta5">Monto del Contrato ($)</td>
  <td width="8%" align="center" class="fondoetiqueta5">Desembolsos</td>
  <td width="2%" align="center" class="fondoetiqueta5">&nbsp;</td>
</tr>
[% IF registros %]
  [% FOREACH registros %]
  <tr bgcolor="[% sclase %]">
    <td width="2%" align="center" ><a href="javascript:mostrarLicitacion([% id %]);">[% id %]</a></td>
    <td width="24%" align="center" >[% id_tpadquisicion %]</td>
    <td width="10%" align="center" >[% dinicio %]</td>
    <td width="10%" align="center" >[% dcontrato %]</td>
    <td width="22%" align="right" >[% nmtooferta %]</td>
    <td width="22%" align="right" >[% nmtocontrato %]</td>
    <td width="8%" align="center" ><a href="javascript:indexDesemLicita([% id %]);">DES</a></td>
    <td width="2%" align="right" >
      [% IF datos.valido %]
        <a href="javascript:borrarLicitacion([% id %]);"><img src="[% ruta_estatica %]/imagenes/menu/delete.gif" border="0"></a>
      [% ELSE %]&nbsp;[% END %]
    </td>
  </tr>
  [% END %]
[% ELSE %]
<tr>
  <td align="center" colspan="10" class="titulodonfomarillo">No Existen licitaciones registradas.</td>
</tr>
[% END %]
</table>
[% formbuilder.field.id_licitaciones.field %]
[% formbuilder.end %]
</fieldset>
</body>
</html>