[% INCLUDE doctype.tt %]
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]
<!-- hoja de estilo del calendario -->
<link rel="stylesheet" type="text/css" media="all" href="[% ruta_estatica %]/js/jscalendar/calendar-win2k-cold-2.css" title="Calendario" />
<script type="text/javascript" src="[%ruta_estatica%]/js/jscalendar/calendar.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/jscalendar/lang/calendar-es.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/jscalendar/calendar-setup.js"></script>

<!-- archivos de javascript para Prototype -->
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/prototype.js"></script>

<!-- archivos de javascript para Seleccionar Item en las Listas -->
<script type="text/javascript" src="[%ruta_estatica%]/js/seleccionarItemList.js"></script>


<!-- archivos de javascript generales (cargar en todas las páginas) -->
[% INCLUDE jsgenerales.tt %]

<!--
En la plantilla siguiente se incluye el javascript para cargar el menu,
asociado al evento onload de la página. Si se quiere personalizar dicho evento,
debe escribirse la nueva función de javascript requerida y, dentro, invocar a
la función cargarMenu() existente, cambiando la respectiva etiqueta <body>.
-->
[% INCLUDE jscargarmenu.tt %]
[% formbuilder.jshead %]

</head>
<body onload="cargarMenu()">

[% INCLUDE encabezado.tt %]

<fieldset>
<legend>Registrar Ayuda Social</legend>

<table align="center" width="100%">
  <tr>
    <td>[% INCLUDE 'cssmenu.tt' %]</td>
  </tr>
</table>

[% formbuilder.start %]
[% formbuilder.statetags %]
[% formbuilder.keepextras %]

[% IF solicitante %]
<table align="center" width="50%">
<tr>
  <td width="30%" align="left" class="titulodonforojo"><b>Solicitante:</b></td>
  <td width="70%" align="left" class="fondoetiqueta"><b><a href="[% ruta_infobenef %]">[% id_tprifsol %]-[% sidentificadorsol %]</a>&nbsp;&nbsp;[% snombresol %]</b></td>
</tr>
</table>
[% END %]
<br/>

<table align="center" width="50%">
  <tr>
    <td align="center" colspan="2" class="titulodonforojo">[% tituloBenef %]</td>
  </tr>
  <tr>
    <td width="25%" align="left" class="fondoetiqueta"><b>C&eacute;dula:</b></td>
    <td width="75%" align="left"><b>[% id_tprif %]-[% sidentificador %]</b></td>
  </tr>
  <tr>
    <td width="25%" align="left" class="fondoetiqueta"><b>[% formbuilder.field.snombre.label %]</b></td>
    <td width="75%" align="left">[% formbuilder.field.snombre.field %]</td>
  </tr>
  <tr>
    <td width="25%" align="left" class="fondoetiqueta"><b>[% formbuilder.field.sapellido.label %]</b></td>
    <td width="75%" align="left">[% formbuilder.field.sapellido.field %]</td>
  </tr>
  <tr>
    <td width="25%" align="left" class="fondoetiqueta"><b>[% formbuilder.field.sgenero.label %]</b></td>
    <td width="75%" align="left">[% formbuilder.field.sgenero.field %]</td>
  </tr>
  <tr>
    <td width="25%" align="left" class="fondoetiqueta"><b>[% formbuilder.field.dfechanac.label %]</b></td>
    <td width="75%" align="left">[% formbuilder.field.dfechanac.field %]&nbsp;<img src="[% ruta_estatica %]/imagenes/calendario.jpg" title="Desplegar Calendario" width="25" height="18" id="t_dfechanac" style="cursor: pointer; border: 0px solid #0F305A;" alt="Calendario" onmouseover="this.style.background='#0F305A';" onmouseout="this.style.background=''"/>
           <script type="text/javascript">
           Calendar.setup({
                    inputField     :    "dfechanac",     // id of the input field
                    ifFormat       :    "%d/%m/%Y",      // format of the input field
                    button         :    "t_dfechanac",  // trigger for the calendar (button ID)
                    align          :    "Tl",           // alignment (defaults to "Bl")
                    singleClick    :    true
                        });
           </script></td>
  </tr>
  <tr>
    <td colspan="2" align="left" ><font color="#0F305A" size="0" >Nota: Todos los campos son obligatorios.</font></td>
  </tr>
</table>

<table align="center" width="50%">
  <tr>
    <td colspan="2" align="center">[% formbuilder.field.btnvolver.field %]&nbsp;[% formbuilder.submit %]</td>
  </tr>
</table>

[% formbuilder.field.tpbenef.field %]
[% formbuilder.end %]

</fieldset>
</body>
</html>