[% INCLUDE doctype.tt %]
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]

<!-- archivos de javascript para Prototype -->
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/prototype.js"></script>

<!-- archivos de javascript para Seleccionar Item en las Listas -->
<script type="text/javascript" src="[%ruta_estatica%]/js/seleccionarItemList.js"></script>

<!-- hoja de estilo del calendario -->
<link rel="stylesheet" type="text/css" media="all" href="[% ruta_estatica %]/js/jscalendar/calendar-win2k-cold-2.css" title="Calendario" />
<script type="text/javascript" src="[%ruta_estatica%]/js/jscalendar/calendar.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/jscalendar/lang/calendar-es.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/jscalendar/calendar-setup.js"></script>

<!-- archivos de javascript generales (cargar en todas las páginas) -->
[% INCLUDE jsgenerales.tt %]

<script type="text/javascript">

function mostrarAyuda( id ){
  document.indexestatus.action = "[% url_cambiarEstatus %]";
  document.indexestatus.idAyuda.value = id;
  document.indexestatus.submit();
}

function paginar( page ){
  document.indexestatus.page.value = page;
  document.indexestatus.submit();
}

function limpiar(){
  document.indexestatus.nayuda.value = '';
  document.indexestatus.id_tprif.selectedIndex = 0;
  document.indexestatus.sidentificador.value = '';
  document.indexestatus.dfechaini.value = '';
  document.indexestatus.dfechafin.value = '';
  document.indexestatus.page.value = '';
}

</script>

<!--
En la plantilla siguiente se incluye el javascript para cargar el menu,
asociado al evento onload de la página. Si se quiere personalizar dicho evento,
debe escribirse la nueva función de javascript requerida y, dentro, invocar a
la función cargarMenu() existente, cambiando la respectiva etiqueta <body>.
-->
[% INCLUDE jscargarmenu.tt %]
[% formbuilder.jshead %]

</head>
<body onload="cargarMenu()">

[% INCLUDE encabezado.tt %]

[% formbuilder.start %]
[% formbuilder.statetags %]
[% formbuilder.keepextras %]
<fieldset>
<legend>Cambiar Estatus Ayuda Social</legend>
<table align="center" width="55%">
  <tr>
    <td align="center" colspan="4" class="titulodonforojo">Buscar Ayudas Sociales</td>
  </tr>
  <tr>
    <td width="30%" colspan="1" align="left" class="fondoetiqueta"><b>[% formbuilder.field.nayuda.label %]</b></td>
    <td width="60%" colspan="3" align="left">[% formbuilder.field.nayuda.field %]</td>
  </tr>
  <tr>
    <td width="30%" colspan="1" align="left" class="fondoetiqueta"><b>[% formbuilder.field.sidentificador.label %]</b></td>
    <td width="60%" colspan="3" align="left">[% formbuilder.field.id_tprif.field %]-[% formbuilder.field.sidentificador.field %]</td>
  </tr>
  <tr>
    <td width="20%" align="left" class="fondoetiqueta"><b>[% formbuilder.field.dfechaini.label %]</b></td>
    <td width="30%" align="left">[% formbuilder.field.dfechaini.field %]&nbsp;<img src="[% ruta_estatica %]/imagenes/calendario.jpg" title="Desplegar Calendario" alt="Calendario" width="25" height="18" id="t_dfechaini" style="cursor: pointer; border: 0px solid #0F305A;" onmouseover="this.style.background='#0F305A';" onmouseout="this.style.background=''"/>
           <script type="text/javascript">
           Calendar.setup({
                    inputField     :    "dfechaini",     // id of the input field
                    ifFormat       :    "%d/%m/%Y",      // format of the input field
                    button         :    "t_dfechaini",  // trigger for the calendar (button ID)
                    align          :    "Tl",           // alignment (defaults to "Bl")
                    singleClick    :    true
                        });
           </script></td>
    <td width="20%" align="left" class="fondoetiqueta"><b>[% formbuilder.field.dfechafin.label %]</b></td>
    <td width="30%" align="left">[% formbuilder.field.dfechafin.field %]&nbsp;<img src="[% ruta_estatica %]/imagenes/calendario.jpg" title="Desplegar Calendario" alt="Calendario" width="25" height="18" id="t_dfechafin" style="cursor: pointer; border: 0px solid #0F305A;" onmouseover="this.style.background='#0F305A';" onmouseout="this.style.background=''"/>
           <script type="text/javascript">
           Calendar.setup({
                    inputField     :    "dfechafin",     // id of the input field
                    ifFormat       :    "%d/%m/%Y",      // format of the input field
                    button         :    "t_dfechafin",  // trigger for the calendar (button ID)
                    align          :    "Tl",           // alignment (defaults to "Bl")
                    singleClick    :    true
                        });
           </script></td>
  </tr>
</table>

<table align="center" width="90%">
  <tr>
    <td colspan="4" align="center">[% formbuilder.submit %]&nbsp;[% formbuilder.field.btnreset.field %]</td>
  </tr>
</table>
<br/>

<table align="center" width="98%">
<tr>
  <td align="center" colspan="10" class="titulodonforojo">[% tituloTabla %]</td>
</tr>
<tr>
  <td width="4%" align="center" class="fondoetiqueta5">Nro.</td>
  <td width="6%" align="center" class="fondoetiqueta5">Fecha de Registro</td>
  <td width="6%" align="center" class="fondoetiqueta5">Fecha Cambio de Estatus</td>
  <td width="20%" align="center" class="fondoetiqueta5">Destinos</td>
  <td width="9%" align="center" class="fondoetiqueta5">Monto Solicitado</td>
  <td width="9%" align="center" class="fondoetiqueta5">Monto Aprobado</td>
  <td width="13%" align="center" class="fondoetiqueta5">Solicitante</td>
  <td width="13%" align="center" class="fondoetiqueta5">Beneficiario</td>
  <td width="9%" align="center" class="fondoetiqueta5">Estatus</td>
  <td width="10%" align="center" class="fondoetiqueta5">Especialista</td>
</tr>
[% IF registros %]
  [% FOREACH registros %]
  <tr bgcolor="[% sclase %]">
    <td width="4%" align="center" ><a href="javascript:mostrarAyuda([% idAyuda %]);">[% nayuda %]</a></td>
    <td width="6%" align="center" >[% dfecha %]</td>
    <td width="6%" align="center">[% defectiva %]</td>
    <td width="20%" align="justify">
      <ul>
      [% FOREACH destinos %]
        <li>[% sdescripcion %]</li>
      [% END %]
      </ul>
    </td>
    <td width="9%" align="right" >[% nmntosolicitado %]</td>
    <td width="9%" align="right" >[% nmntoaprobado %]</td>
    <td width="13%" align="justify">[% sidsolicitante %]<br/>[% solicitante %]</td>
    <td width="13%" align="justify">[% sidbeneficiario %]<br/>[% beneficiario %]</td>
    <td width="9%" align="justify">[% estatus %]</td>
    <td width="10%" align="justify">[% especialista %]</td>
  </tr>
  [% END %]
  [% IF total_entries %]
  <tr>
    <td align="left" width="100%" colspan="10"><b>Total Registros:</b> [% total_entries %]<td>
  </tr>
  [% END %]
[% ELSE %]
<tr>
  <td align="center" colspan="10" class="titulodonfomarillo">No Existen Ayudas Sociales Registradas.</td>
</tr>
[% END %]
</table>
[% IF registros and last_page > 1 %]
<br/>
<table align="center" width="30%">
<tr>
  <td width="45%">
    <a style="text-decoration:none" href="javascript:paginar([% previous_page %])"><< Anterior</a>
  </td>
  <td width="10%" align="center">
    [% current_page %] / [% last_page %]
  </td>
  <td width="45%" align="right">
    <a style="text-decoration:none" href="javascript:paginar([% next_page %])">Siguiente >></a>
  </td>
</tr>
</table>
[% END %]

</fieldset>
[% formbuilder.field.page.field %]
[% formbuilder.field.idAyuda.field %]
[% formbuilder.end %]
</body>
</html>