[% INCLUDE doctype.tt %]
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]

<!-- archivos de javascript generales (cargar en todas las páginas) -->
[% INCLUDE jsgenerales.tt %]

<!--
En la plantilla siguiente se incluye el javascript para cargar el menu,
asociado al evento onload de la página. Si se quiere personalizar dicho evento,
debe escribirse la nueva función de javascript requerida y, dentro, invocar a
la función cargarMenu() existente, cambiando la respectiva etiqueta <body>.
-->
[% INCLUDE jscargarmenu.tt %]
[% formbuilder.jshead %]

</head>
<body onload="cargarMenu()">

[% INCLUDE encabezado.tt %]

<fieldset>
<legend>Registrar Ayuda Social</legend>

<table align="center" width="100%">
  <tr>
    <td>[% INCLUDE 'cssmenu.tt' %]</td>
  </tr>
</table>

[% formbuilder.start %]
[% formbuilder.statetags %]
[% formbuilder.keepextras %]

<table align="center" width="50%">
  <tr>
    <td align="center" colspan="2" class="titulodonforojo">Informaci&oacute;n Solicitante Jur&iacute;dico</td>
  </tr>
  <tr>
    <td width="40%" align="left" class="fondoetiqueta"><b>Rif:</b></td>
    <td width="60%" align="left"><b>[% id_tprif %]-[% sidentificador %]</b></td>
  </tr>
  <tr>
    <td width="40%" align="left" class="fondoetiqueta"><b>Raz&oacute;n Social:</b></td>
    <td width="60%" align="left">[% srazon %]</td>
  </tr>
  <tr>
    <td width="40%" align="left" class="fondoetiqueta"><b>Tipo de Empresa:</b></td>
    <td width="60%" align="left">[% id_tpempresa %]</td>
  </tr>
  <tr>
    <td width="40%" align="left" class="fondoetiqueta"><b>C&eacute;dula del Representante Legal</b></td>
    <td width="60%" align="left">[% scedularepre %]</td>
  </tr>
  <tr>
    <td width="40%" align="left" class="fondoetiqueta"><b>Nombre del Representante Legal:</b></td>
    <td width="60%" align="left">[% snombrerepre %]</td>
  </tr>
  <tr>
    <td width="40%" align="left" class="fondoetiqueta"><b>Tel&eacute;fono Principal:</b></td>
    <td width="60%" align="left">[% stelefono %]</td>
  </tr>
  <tr>
    <td width="40%" align="left" class="fondoetiqueta"><b>Tel&eacute;fono Movil:</b></td>
    <td width="60%" align="left">[% stelefono2 %]</td>
  </tr>
  <tr>
    <td width="40%" align="left" class="fondoetiqueta"><b>Tel&eacute;fono Otro:</b></td>
    <td width="60%" align="left">[% stelefono3 %]</td>
  </tr>
  <tr>
    <td width="40%" align="left" class="fondoetiqueta"><b>Estado:</b></td>
    <td width="60%" align="left">[% id_tpentfederal %]</td>
  </tr>
  <tr>
    <td width="40%" align="left" class="fondoetiqueta"><b>Municipio:</b></td>
    <td width="60%" align="left">[% id_tpmunicipio %]</td>
  </tr>
  <tr>
    <td width="40%" align="left" class="fondoetiqueta"><b>Direcci&oacute;n</b></td>
    <td width="60%" align="left">[% sdireccion %]</td>
  </tr>
</table>

<table align="center" width="50%">
  <tr>
    <td colspan="2" align="center">[% formbuilder.field.btnvolver.field %]&nbsp;[% formbuilder.submit %]&nbsp;[% IF valido %][% formbuilder.field.btnborrar.field %][% END %]</td>
  </tr>
</table>

[% formbuilder.end %]
</fieldset>
</body>
</html>