<html>
<body>
<table border="0" cellpadding="2" cellspacing="0" align="center" width="620px">
<tr>
  <td width="100%"><img src="[% ruta_estatica %]/imagenes/bandes.jpg" width="150" height="76" /></td>
</tr>
<tr>
  <td width="100%"><hr></td>
</tr>
<tr>
  <td width="100%" align="right">Gerencia Ejecutiva de Programas Sociales</td>
</tr>
</table>
<br>
[% IF header %]
<table border="0" cellpadding="2" cellspacing="0" align="center" width="620px">
<tr>
  <td colspan="3" width="100%" align="center"><font size="6"><b>Memorando</b></font></td>
</tr>
<tr>
  <td width="40%" align="right"><font size="6"><b>GEPS/</b></font></td>
  <td width="20%" align="center">&nbsp;</td>
  <td width="40%" align="left"><font size="6"><b>/[% anio %]</b></font></td>
</tr>
</table>
<br>
<font size="4">
<table border="0" cellpadding="2" cellspacing="0" align="center" width="620px">
<tr>
  <td width="15%" align="left"><b>PARA:</b></td>
  <td width="85%" align="left">[% spara %]</td>
</tr>
<tr>
  <td width="15%" align="left">&nbsp;</td>
  <td width="85%" align="left">[% scargopara %]</td>
</tr>
<tr>
  <td width="15%" align="left"><b>DE:</b></td>
  <td width="85%" align="left">[% sde %]</td>
</tr>
<tr>
  <td width="15%" align="left">&nbsp;</td>
  <td width="85%" align="left">[% scargode %]</td>
</tr>
<tr>
  <td width="15%" align="left"><b>ASUNTO:</b></td>
  <td width="85%" align="left">Emisi&oacute;n de Cheque</td>
</tr>
<tr>
  <td width="15%" align="left"><b>FECHA:</b></td>
  <td width="85%" align="left">[% dfecha %]</td>
</tr>
</table>
[% END %]
<br>
<table border="0" cellpadding="0" cellspacing="0" align="center" width="620px">
<tr height="[% alto %]">
  <td width="100%" valign="top">
    [% IF header %]
    <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
      <tr>
        <td width="100%" height="10px" colspan="2" bgcolor="#DDDDDD">&nbsp;</td>
      </tr>
      <tr>
        <td width="100%" align="justify">[% scontenido %]</td>
      </tr>
    </table>
    [% END %]
    <br>
    <table border="1" cellpadding="2" cellspacing="0" align="center" width="620px">
      <tr bgcolor="#015289">
        <th width="3%" height="20px"><font size="3" color="white">Nro</font></th>
        <th width="20%" height="20px"><font size="3" color="white">Beneficiario</font></th>
        <th width="10%" height="20px"><font size="3" color="white">C&eacute;dula</font></th>
        <th width="20%" height="20px"><font size="3" color="white">Proveedor</font></th>
        <th width="10%" height="20px"><font size="3" color="white">RIF</font></th>
        <th width="20%" height="20px"><font size="3" color="white">Destino</font></th>
        <th width="17%" height="20px"><font size="3" color="white">Monto</font></th>
      </tr>
      [% FOREACH ayudas %]
      <tr>
        <td width="3%" align="center" height="30px"><font size="2">[% nayuda %]</font></td>
        <td width="20%" align="justify" height="30px"><font size="2" >[% sbeneficiario %]</font></td>
        <td width="10%" align="center" height="30px"><font size="2" >[% sidentificador %]</font></td>
        <td width="20%" align="justify" height="30px"><font size="2" >[% sproveedor %]</font></td>
        <td width="10%" align="center" height="30px"><font size="2" >[% srifprov %]</font></td>
        <td width="20%" align="justify" height="30px"><font size="2" >[% destinos %]</font></td>
        <td width="17%" align="right" height="30px"><font size="2" >[% monto %]</font></td>
      </tr>
      [% END %]
    </table>
  </td>
</tr>
</table>
<br>
[% IF footer %]
<table border="0" cellpadding="2" cellspacing="0" align="center" width="620px">
<tr>
  <td width="100%" align="center">Atentamente,</td>
</tr>
<tr>
  <td>&nbsp;</td>
</tr>
<tr>
  <td width="100%" align="center">[% sfirma %]</td>
</tr>
<tr>
  <td width="100%" align="center"><b>[% scargofirma %]</b></td>
</tr>
<tr>
  <td width="100%" align="center">&nbsp;</b></td>
</tr>
<tr>
  <td width="100%" align="center">&nbsp;</b></td>
</tr>
<tr>
  <td width="100%" align="center">&iexcl;Patria Socialismo o Muerte... Venceremos!</td>
</tr>
</table>
[% END %]
</font>
</body>
</html>