<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]

<!-- archivos de javascript generales (cargar en todas las páginas) -->
[% INCLUDE jsgenerales.tt %]

<script language="JavaScript">

function habilitarOpcion(campo){

  var valor = campo.value;

  if ( valor == 'otro' ) {
    if ( campo.checked ) {
      document.getElementById('sotrorecaudo').disabled = false;
    } else {
      document.getElementById('sotrorecaudo').value = '';
      document.getElementById('sotrorecaudo').disabled = true;
    }
  }

}

</script>

<!--
En la plantilla siguiente se incluye el javascript para cargar el menu,
asociado al evento onload de la página. Si se quiere personalizar dicho evento,
debe escribirse la nueva función de javascript requerida y, dentro, invocar a
la función cargarMenu() existente, cambiando la respectiva etiqueta <body>.
-->
[% INCLUDE jscargarmenu.tt %]
[% formbuilder.jshead %]
</head>
<body onload="cargarMenu()">
[% INCLUDE encabezado.tt%]
<fieldset>
<legend>Verificar Documentaci&oacute;n</legend>

[% formbuilder.start %]
[% formbuilder.statetags %]
[% formbuilder.keepextras %]

<table align="center" cellpadding="2" width="100%" border="0">
  <tr>
    <td align="center" colspan="2" class="titulodonforojo">Documentaci&oacute;n a consignar</td>
  </tr>
  <tr>
    <td width="15%" align="left" class="fondoetiqueta5">[% formbuilder.field.id_proyectos.label %]</td>
    <td width="85%" colspan="3" align="left"><b>[% datos.id %]</b></td>
  </tr>
  <tr>
    <td width="15%" align="left" class="fondoetiqueta5">[% formbuilder.field.ssolicitante.label %]</td>
    <td width="85%" colspan="3" align="left">[% datos.ssolicitante %]</td>
  </tr>
  <tr>
    <td width="15%" align="left" class="fondoetiqueta5">[% formbuilder.field.recaudos.label %]</td>
    <td width="85%" colspan="1" align="left">
      [% formbuilder.field.recaudos.field %]&nbsp;
      [% IF datos.sotrorecaudo %]
      <input id="otro" name="recaudos" type="checkbox" checked  value="otro" onchange="javascript:habilitarOpcion(this)" />
      [% ELSE %]
      <input id="otro" name="recaudos" type="checkbox" value="otro" onchange="javascript:habilitarOpcion(this)" />
      [% END %]
      &nbsp;[% formbuilder.field.sotrorecaudo.label %]&nbsp;[% formbuilder.field.sotrorecaudo.field %]
    </td>
  </tr>
  <tr>
    <td width="15%" align="left" class="fondoetiqueta5">[% formbuilder.field.sobservaciones.label %]</td>
    <td width="85%" colspan="3" align="left">[% formbuilder.field.sobservaciones.field %]</td>
  </tr>
  <tr>
    <td width="100%" align="center" colspan="4">[% formbuilder.field.btnvolver.field %]&nbsp;[% formbuilder.submit %]</td>
  </tr>
</table>

[% formbuilder.end %]
</fieldset>
</body>
</html>