Estimado(a) [% solicitante %]:

  [% asunto1 %] [%plan%][%tiposolicitud%][%asunto2%][%estatus%][%asunto3%][%causa%][%asunto4%]


Nota: Esta es una cuenta de correo no monitoreada, Por favor no responder a este correo.

---
Atentamente,
[% unidad %]