<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]

<!-- archivos de javascript generales (cargar en todas las páginas) -->
[% INCLUDE jsgenerales.tt %]

<!--
En la plantilla siguiente se incluye el javascript para cargar el menu,
asociado al evento onload de la página. Si se quiere personalizar dicho evento,
debe escribirse la nueva función de javascript requerida y, dentro, invocar a
la función cargarMenu() existente, cambiando la respectiva etiqueta <body>.
-->
[% INCLUDE jscargarmenu.tt %]
[% formbuilder.jshead %]

<script type="text/javascript">

function runMode( id, accion ){
  document.indexpoa.action = accion;
  document.indexpoa.id_producto.value = id;
  document.indexpoa.submit();
}

function paginar( page ){
  document.indexpoa.page.value = page;
  document.indexpoa.submit();
}

</script>

</head>
<body onload="cargarMenu()">

[% INCLUDE encabezado.tt %]
<fieldset>
<legend>Consultas del Plan Operativo Anual</legend>

[% formbuilder.start %]
[% formbuilder.statetags %]
[% formbuilder.keepextras %]

<table align="left" width="100%" border="0">
  <tr>
    <td width="20%" class="fondoetiqueta" align="left"><b>[% formbuilder.field.listaunidad.label %]</b></td>
    <td align="left" valign="middle">[% formbuilder.field.listaunidad.field %]&nbsp;(*)</td>
  </tr>
  <tr>
    <td width="20%" class="fondoetiqueta" align="left"><b>[% formbuilder.field.criterio.label %]</b></td>
    <td align="left" valign="middle">[% formbuilder.field.criterio.field %]&nbsp;&nbsp;(*)&nbsp;[% formbuilder.submit %]</td>
  </tr>
  <tr>
    <td colspan="2" align="left" ><font color="#0F305A" size="0" >Nota: (*) Estos campos son obligatorios.</font></td>
  </tr>
</table>
<br><br>&nbsp;

<table align="center" cellpadding="2" width="97%" border="0">
<tr>
  <td align="center" colspan="8" class="titulodonforojo">[% titulo_consulta %]</td>
</tr>
[% IF biniciativa == 1 %]
  <tr>
    <td width="16%" align="center" class="fondoetiqueta5">Gerencia</td>
    <td width="16%" align="center" class="fondoetiqueta5">Coordinaci&oacute;n</td>
    <td width="16%" align="center" class="fondoetiqueta5">Objetivo</td>
    <td width="16%" align="center" class="fondoetiqueta5">&Aacute;rea Estr.</td>
    <td width="16%" align="center" class="fondoetiqueta5">Directriz</td>
    <td width="16%" align="center" class="fondoetiqueta5">Iniciativa</td>
  </tr>
[% ELSE %]
<tr>
  <td width="25%" align="center" class="fondoetiqueta5">Gerencia</td>
  <td width="25%" align="center" class="fondoetiqueta5">Coordinaci&oacute;n</td>
  <td width="25%" align="center" class="fondoetiqueta5">Objetivo</td>
  [% IF bmetas == 1 %]
    <td width="25%" align="center" class="fondoetiqueta5">Meta</td>
  [% END %]
  [% IF bindicadores == 1 %]
    <td width="25%" align="center" class="fondoetiqueta5">Indicador</td>
  [% END %]
</tr>
[% END %]
[% IF registros %]
  [% FOREACH registros %]
    [% IF biniciativa == 1 %]
      <tr bgcolor="[% sclase %]">
        <td width="16%" align="left">[% actividad %]</td>
        <td width="16%" align="justify">[% coordinacion %]</td>
        <td width="16%" align="left">[% objetivo %]</td>
        <td width="16%" align="left">[% area %]</td>
        <td width="16%" align="left">[% dirct %]</td>
        <td width="16%" align="left">[% iniciativa %]</td>
      </tr>
    [% ELSE %]
      <tr bgcolor="[% sclase %]">
        <td width="25%" align="left">[% actividad %]</td>
        <td width="25%" align="justify">[% coordinacion %]</td>
        [% IF bobj == 1 %]
          <td width="50%" align="left">[% objetivo %]</td>
        [% ELSE %]
          <td width="25%" align="left">[% objetivo %]</td>
        [% END %]
        [% IF bmetas == 1 %]
          <td width="25%" align="left">[% meta %]</td>
        [% END %]
        [% IF bindicadores == 1 %]
          <td width="25%" align="left">[% indicador %]</td>
        [% END %]
      </tr>
    [% END %]
  [% END %]
[% ELSE %]
  [% IF bsumit %]
    <tr>
      <td align="center" colspan="8" class="titulodonfomarillo">No Existe Informaci&oacute;n asociada al criterio indicado.</td>
    </tr>
  [% END %]
[% END %]
</table>

[% IF registros and last_page > 1 %]
<br>
<table align="center" width="30%">
<tr>
  <td width="45%">
    <a style="text-decoration:none" href="javascript:paginar([% previous_page %])"><< Anterior</a>
  </td>
  <td width="10%" align="center">
    [% current_page %] / [% last_page %]
  </td>
  <td width="45%" align="right">
    <a style="text-decoration:none" href="javascript:paginar([% next_page %])">Siguiente >></a>
  </td>
</tr>
</table>
[% END %]

<br>
<table align="center" width="95%" border="0">
  <tr>
    <td align="center">[% formbuilder.field.btningresar.field %]</td>
  </tr>
</table>

[% formbuilder.field.id_producto.field %]
[% formbuilder.field.page.field %]
[% formbuilder.end %]
</fieldset>
</body>
</html>
