<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]

<!-- archivos de javascript generales (cargar en todas las páginas) -->
[% INCLUDE jsgenerales.tt %]

<script type="text/javascript">

function mostrarDesemLicita( id ){
  document.indexDesemLicita.action = "[% url_mostrarDesemLicita %]";
  document.indexDesemLicita.id_desembolsos.value = id;
  document.indexDesemLicita.submit();
}

function borrarDesemLicita( id ){
  if(confirm("¿Desea eliminar el desembolso cod: "+id+"?")){
    document.indexDesemLicita.action = "[% url_borrarDesemLicita %]";
    document.indexDesemLicita.id_desembolsos.value = id;
    document.indexDesemLicita.submit();
  }
}

</script>

<!--
En la plantilla siguiente se incluye el javascript para cargar el menu,
asociado al evento onload de la página. Si se quiere personalizar dicho evento,
debe escribirse la nueva función de javascript requerida y, dentro, invocar a
la función cargarMenu() existente, cambiando la respectiva etiqueta <body>.
-->
[% INCLUDE jscargarmenu.tt %]
[% formbuilder.jshead %]
</head>
<body onload="cargarMenu()">
[% INCLUDE encabezado.tt%]
<fieldset>
<legend>Registrar Desembolsos por Licitaciones</legend>

[% formbuilder.start %]
[% formbuilder.statetags %]
[% formbuilder.keepextras %]

<table align="center" width="85%" border="0">
  <tr>
    <td align="center" colspan="4" class="titulodonforojo">Datos Consolidado de la Licitaci&oacute;n</td>
  </tr>
  <tr>
    <td width="20%" align="left" class="fondoetiqueta5">[% formbuilder.field.id_licitaciones.label %]</td>
    <td width="25%" align="left"><b>[% datos.id %]</b></td>
    <td width="35%" align="left" class="fondoetiqueta5">[% formbuilder.field.id_proyectos.label %]</td>
    <td width="20%" align="left"><b>[% datos.id_proyectos %]</b></td>
  </tr>
  <tr>
    <td width="20%" align="left" class="fondoetiqueta5">Objeto de la licitaci&oacute;n:</td>
    <td width="80%" colspan="3" align="left">[% datos.sobjeto %]</td>
  </tr>
  <tr>
    <td width="20%" align="left" class="fondoetiqueta5">Tipo de Adquisición:</td>
    <td width="25%" align="left">[% datos.id_tpadquisicion %]&nbsp;</td>
    <td width="35%" align="left" class="fondoetiqueta5">Monto del Contrato:</td>
    <td width="20%" align="left">[% datos.nmtocontrato %]&nbsp;$</td>
  </tr>
  <tr>
    <td width="20%" align="left" class="fondoetiqueta5">Nro. Desembolsos:</td>
    <td width="25%" align="left">[% datos.nrodesemlicita %]</td>
    <td width="35%" align="left" class="fondoetiqueta5">Monto total de los desembolsos por licitaci&oacute;n:</td>
    <td width="20%" align="left">[% datos.mntodesemlicita %]&nbsp;$</td>
  </tr>
  <tr>
    <td width="100%" align="center" colspan="4">[% formbuilder.field.btnvolver.field %]&nbsp;[% formbuilder.submit %]</td>
  </tr>
</table>
<br>&nbsp;

<table align="center" cellpadding="2" width="100%" border="0">
<tr>
  <td align="center" colspan="10" class="titulodonforojo">Listado de los Desembolsos por Licitaciones</td>
</tr>
<tr>
  <td width="2%" align="center" class="fondoetiqueta5">Cod.</td>
  <td width="18%" align="center" class="fondoetiqueta5">Beneficiario</td>
  <td width="18%" align="center" class="fondoetiqueta5">Contratista</td>
  <td width="7%" align="center" class="fondoetiqueta5">Fecha de Pago</td>
  <td width="7%" align="center" class="fondoetiqueta5">Fecha de Solicitud</td>
  <td width="12%" align="center" class="fondoetiqueta5">Monto de la Ejecuci&oacute;n</td>
  <td width="12%" align="center" class="fondoetiqueta5">Monto de la Comisi&oacute;n</td>
  <td width="12%" align="center" class="fondoetiqueta5">Monto del Desembolso</td>
  <td width="12%" align="center" class="fondoetiqueta5">Monto del Desembolso ($)</td>
  <td width="2%" align="center" class="fondoetiqueta5">&nbsp;</td>
</tr>
[% IF registros %]
  [% FOREACH registros %]
  <tr bgcolor="[% sclase %]">
    <td width="2%" align="center" ><a href="javascript:mostrarDesemLicita([% id %]);">[% id %]</a></td>
    <td width="15%" align="justify" >[% sbeneficiario %]</td>
    <td width="15%" align="justify" >[% scontratista %]</td>
    <td width="7%" align="center" >[% dpago %]</td>
    <td width="7%" align="center" >[% dsolicitud %]</td>
    <td width="12%" align="right" >[% nmtoejec %]</td>
    <td width="12%" align="right" >[% nmtocomision %]</td>
    <td width="12%" align="right" >[% mntototal %]</td>
    <td width="12%" align="right" >[% mntototaldolar %]</td>
    <td width="2%" align="right" >
      [% IF datos.valido %]
      <a href="javascript:borrarDesemLicita([% id %]);"><img src="[% ruta_estatica %]/imagenes/menu/delete.gif" border="0"></a>
      [% ELSE %]&nbsp;[% END %]</td>
  </tr>
  [% END %]
[% ELSE %]
<tr>
  <td align="center" colspan="10" class="titulodonfomarillo">No Existen desembolsos registrados por licitaciones.</td>
</tr>
[% END %]
</table>
[% formbuilder.field.id_desembolsos.field %]
[% formbuilder.end %]
</fieldset>
</body>
</html>