<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]

<!-- archivos de javascript generales (cargar en todas las páginas) -->
[% INCLUDE jsgenerales.tt %]

<!--
En la plantilla siguiente se incluye el javascript para cargar el menu,
asociado al evento onload de la página. Si se quiere personalizar dicho evento,
debe escribirse la nueva función de javascript requerida y, dentro, invocar a
la función cargarMenu() existente, cambiando la respectiva etiqueta <body>.
-->
[% INCLUDE jscargarmenu.tt %]
[% formbuilder.jshead %]

</head>
<body onload="cargarMenu()">

[% INCLUDE encabezado.tt %]

[% formbuilder.start %]
[% formbuilder.statetags %]
[% formbuilder.keepextras %]

<table align="left" width="100%" border="0">
<tr>
  <td colspan="3" width="100%" align="left"><b>CÓDIGO DEL ENTE</b></td>
</tr>
<tr>
  <td colspan="3" width="100%" align="left"><b>DENOMINACIÓN DEL ENTE</b></td>
</tr>
<tr>
  <td colspan="3" width="100%" align="left"><b>ORGANO DE ADSCRIPCIÓN</b></td>
</tr>
<tr>
  <td colspan="3" width="100%" align="left"><b>PERÍODO PRESUPUESTARIO &nbsp; [% ianio %]</b></td>
</tr>
<tr>
<tr>
  <td colspan="5" width="100%" align="center"><h3>PRESUPUESTO DE CAJA</h3></b></td>
</tr>
<tr>
  <td colspan="5" width="100%" align="center"><b>(En Bolívares)</b></td>
</tr>
<tr>
  <td align="center" class="fondoetiqueta5">CÓDIGO</td>
  <td align="center" class="fondoetiqueta5">DENOMINACIÓN</td>
  <td align="center" class="fondoetiqueta5">AÑO REAL AL 31/12/[% ano_real %]</td>
  <td align="center" class="fondoetiqueta5">AÑO ÚLTIMO ESTIMADO AL 31/12/[% ano_estimado %]</td>
  <td width="40%">
    <table>
      <tr>
        <td colspan="17" align="center" class="fondoetiqueta5">AÑO PRESUPUESTADO</td>
      </tr>
      <tr>
        <td align="center" class="fondoetiqueta5">ENE.</td>
        <td align="center" class="fondoetiqueta5">FEB.</td>
        <td align="center" class="fondoetiqueta5">MAR.</td>
        <td align="center" class="fondoetiqueta5">TRIM I.</td>
        <td align="center" class="fondoetiqueta5">ABR.</td>
        <td align="center" class="fondoetiqueta5">MAY.</td>
        <td align="center" class="fondoetiqueta5">JUN.</td>
        <td align="center" class="fondoetiqueta5">TRIM II.</td>
        <td align="center" class="fondoetiqueta5">JUL.</td>
        <td align="center" class="fondoetiqueta5">AGO.</td>
        <td align="center" class="fondoetiqueta5">SEP.</td>
        <td align="center" class="fondoetiqueta5">TRIM III.</td>
        <td align="center" class="fondoetiqueta5">OCT.</td>
        <td align="center" class="fondoetiqueta5">NOV.</td>
        <td align="center" class="fondoetiqueta5">DIC.</td>
        <td align="center" class="fondoetiqueta5">TRIM IV.</td>
        <td align="center" class="fondoetiqueta5">TOTAL</td>
      </tr>
    </table>
  </td>
</tr>
[% FOREACH datosrep %]
<tr>
  <td align="center">[% codigo %]</td>
  <td align="left"><b>[% denominacion %]</b></td>
  <td align="center">[% real %]</td>
  <td align="center">[% estimado %]</td>
  <td width="40%">
    <table>
      <tr>
        <td align="center">[% mes_1 %]</td>
        <td align="center">[% mes_2 %]</td>
        <td align="center">[% mes_3 %]</td>
        <td align="center">[% trimestre_1 %]</td>
        <td align="center">[% mes_4 %]</td>
        <td align="center">[% mes_5 %]</td>
        <td align="center">[% mes_6 %]</td>
        <td align="center">[% trimestre_2 %]</td>
        <td align="center">[% mes_7 %]</td>
        <td align="center">[% mes_8 %]</td>
        <td align="center">[% mes_9 %]</td>
        <td align="center">[% trimestre_3 %]</td>
        <td align="center">[% mes_10 %]</td>
        <td align="center">[% mes_11 %]</td>
        <td align="center">[% mes_12 %]</td>
        <td align="center">[% trimestre_4 %]</td>
        <td align="center">[% total %]</td>
      </tr>
    </table>
  </td>
</tr>
[% END %]
<!--
<tr>
  <td>&nbsp;</td>
  <td><b>SALDO INICIAL CAJA</b></td>
  <td></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><code>&nbsp;&nbsp;</code><b>INGRESOS</b></td>
  <td></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><code>&nbsp;&nbsp;&nbsp;&nbsp;</code>INGRESOS FINANCIEROS</td>
  <td></td>
</tr>
<tr>
  <td align="center"><b>301.10.05.02/301.10.05.00</b></td>
  <td><code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code>INGRESOS POR INVERSIONES EN VALORES</td>
  <td></td>
</tr>
<tr>
  <td align="center"><b>303.05.02.00/303.04.02.00</b></td>
  <td><code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code>INGRESOS POR CARTERA DE CRÉDITOS</td>
  <td></td>
</tr>
<tr>
  <td align="center"><b>303.03.03.00</b></td>
  <td><code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code>INGRESOS COMISIÓN ADMINISTRACION DE FIDEICOMISO</td>
  <td></td>
</tr>
<tr>
  <td align="center"><b>303.03.99.00</b></td>
  <td><code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code>OTROS INGRESOS FINANCIEROS</td>
  <td></td>
</tr>
<tr>
  <td align="center"><b>303.99.01.00</b></td>
  <td><code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code>OTROS INGRESOS OPERATIVOS</td>
  <td></td>
</tr>
<tr>
  <td align="center"></td>
  <td><code>&nbsp;&nbsp;&nbsp;&nbsp;</code>RECUPERACIÓN DE PRESTAMOS (CAPITAL)</td>
  <td></td>
</tr>
<tr>
  <td align="center"><b>310.02.02.00</b></td>
  <td><code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code>AL SECTOR PÚBLICO</td>
  <td></td>
</tr>
<tr>
  <td align="center"><b>310.01.01.00</b></td>
  <td><code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code>AL SECTOR PRIVADO</td>
  <td></td>
</tr>
<tr>
  <td align="center"><b>310.03.02.00</b></td>
  <td><code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code>AL SECTOR EXTERNO</td>
  <td></td>
</tr>
<tr>
 <td>&nbsp;</td>
</tr>
<tr>
  <td align="center"><b>312.99.02.00</b></td>
  <td><code>&nbsp;&nbsp;&nbsp;&nbsp;</code>OBTENCIÓN DE RECURSOS PARA PROGRAMAS ESPECIALES DE FINANCIAMIENTO</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td align="center"><b>307.00.00.00</b></td>
  <td><code>&nbsp;&nbsp;&nbsp;&nbsp;</code>VENTA DE TÍTULOS Y VALORES</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td align="center"><b>307.01.00.00</b></td>
  <td><code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code>VENTA DE TÍTULOS Y VALORES DE CORTO PLAZO</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td align="center"><b>307.01.01.00</b></td>
  <td><code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code>PRIVADOS</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td align="center"><b>307.01.02.00</b></td>
  <td><code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code>PÚBLICOS</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td align="center"><b>307.01.03.00</b></td>
  <td><code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code>EXTERNOS</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td align="center"><b>307.02.00.00</b></td>
  <td><code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code>VENTA DE TÍTULOS Y VALORES DE LARGO PLAZO</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td align="center"><b>307.02.01.00</b></td>
  <td><code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code>PRIVADOS</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td align="center"><b>307.02.02.00</b></td>
  <td><code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code>PÚBLICOS</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td align="center"><b>307.02.03.00</b></td>
  <td><code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code>EXTERNOS</td>
  <td>&nbsp;</td>
</tr>
<tr>
 <td>&nbsp;</td>
</tr>
<tr>
  <td align="center"><b>304.99.01.00</b></td>
  <td><code>&nbsp;&nbsp;&nbsp;&nbsp;</code>OTROS INGRESOS NO OPERATIVOS</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><b>SALDO INICIAL + INGRESOS</b></td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><code>&nbsp;&nbsp;</code>EGRESOS</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><code>&nbsp;&nbsp;&nbsp;&nbsp;</code>EGRESOS DE OPERACIONES</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code>INTERÉSES Y COMISIONES</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td align="center"><b></b></td>
  <td><code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code>GASTOS DE FUNCIONAMIENTO</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><code>&nbsp;&nbsp;&nbsp;&nbsp;</code>OTROS GASTOS CORRIENTES</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><code>&nbsp;&nbsp;&nbsp;&nbsp;</code>EFECTOS A PAGAR</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><code>&nbsp;&nbsp;&nbsp;&nbsp;</code>INVERSIÓN REAL</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><code>&nbsp;&nbsp;&nbsp;&nbsp;</code>INVERSIÓN FINANCIERA (DETALLAR)</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td align="center"><b>405.02.01.01/405.02.01.02/401.02.01.03<br>405.02.02.01/405.02.02.02/405.02.02.03</b></td>
  <td><code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code>ADQUISICIÓN DE TÍTULOS VALORES</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td align="center"><b>405.01.00.00</b></td>
  <td><code>&nbsp;&nbsp;&nbsp;&nbsp;</code>APORTES EN ACCIONES Y PARTICIPACIÓN DE CAPITAL</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td align="center"><b>405.10.03.00</b></td>
  <td><code>&nbsp;&nbsp;&nbsp;&nbsp;</code>INCREMENTO DE FONDOS EN FIDEICOMISO</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td align="center"><b>405.03.00.00/405.04.00.00</b></td>
  <td><code>&nbsp;&nbsp;&nbsp;&nbsp;</code>LIQUIDACIÓN DE CRÉDITOS</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><b>SALDO FINAL CAJA</b></td>
  <td>&nbsp;</td>
</tr> -->
</table>
<table align="center" width="95%" border="0">
  <tr>
    <td align="center">[% formbuilder.field.btningresar.field %]</td>
  </tr>
</table>

[% formbuilder.end %]
</body>
</html>
