[% INCLUDE doctype.tt %]
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]

</head>
<body>

[% INCLUDE encabezado.tt %]

<table align="center">
<tr>
  <td>Disculpe, se ha presentado un error en el servidor. Por favor intente mas tarde.</td>
</tr>
</table>

</body>
</html>