<script type="text/javascript">
function cargarMenu(){ 
  [% IF nombre_usuario%]
  aMenuBar=new dhtmlXMenuBarObject("menu_zone",'100%',25,"Bienvenido(a): [%nombre_usuario%] - [%fecha_actual%]");
  aMenuBar.setGfxPath("[%ruta_estatica%]/imagenes/menu/");
  aMenuBar.loadXML("[%ruta_menu%]");
  aMenuBar.showBar();
  [% END %]
}
</script>