<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]

<!-- archivos de javascript para Prototype -->
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/prototype.js"></script>

<!-- archivos de javascript para Seleccionar Item en las Listas -->
<script type="text/javascript" src="[%ruta_estatica%]/js/seleccionarItemList.js"></script>

<!-- archivos de javascript generales (cargar en todas las páginas) -->
[% INCLUDE jsgenerales.tt %]

<!--
En la plantilla siguiente se incluye el javascript para cargar el menu,
asociado al evento onload de la página. Si se quiere personalizar dicho evento,
debe escribirse la nueva función de javascript requerida y, dentro, invocar a
la función cargarMenu() existente, cambiando la respectiva etiqueta <body>.
-->
[% INCLUDE jscargarmenu.tt %]
[% formbuilder.jshead %]

<script language="Javascript">

function buscar_op(cadena){
  obj=document.getElementById('id_partidas');
  var puntero=cadena.length;
  var encontrado=false;
  var opcombo=0;
  while (!encontrado && (opcombo < obj.length)){
    if(obj[opcombo].text.substr(0,puntero).toLowerCase()==cadena.toLowerCase()){
      obj.selectedIndex=opcombo;
      encontrado=true;
    } else {
      opcombo++;
    }
  }
}

function calMontoTotal() {

  var iva = "[% iva %]";
  iva=iva.replace(/\./g,'');
  iva=iva.replace(',','.');
  iva=parseFloat(iva);

  var precio = document.getElementById('nprecio').value;

  var nprecio=precio.replace(/\./g,'');
  nprecio=nprecio.replace(',','.');
  nprecio=parseFloat(nprecio);

  if ( !document.getElementById('biva').checked ){ iva = 0 }

  var montototal = (nprecio + ((nprecio * iva) / 100));

  var valor;

  if ( isNaN(montototal) ) { valor = '0,00' }else{ valor = montototal }

  document.getElementById('montototal').innerHTML = formatearMoneda(valor) + " BsF.";

}

function cargarCombo(campoLlenar){
  var forma = document.datosprodserv;

  var texto = document.getElementById('criterio').value;
  var funcion = eval('llenar_' + campoLlenar);
  var url = '[% ruta_combo %]';

  if (texto) {
    var pars = campoLlenar+"="+texto+"&id_tpproductoservicio="+forma.id_tpproductoservicio.value;
    var myAjax = new Ajax.Request( url, { method: 'post', parameters: pars , onLoading: function(request){Element.show('cargando')}, onComplete: funcion});
  }
  else {
    limpiarListas(campoLlenar);
  }
}

function cargarComboUnidad(campoLlenar){
  var forma = document.datosprodserv;


  var texto = document.getElementById('id_tpproductoservicio').value;
  var funcion = eval('llenar_' + campoLlenar);
  var url = '[% ruta_combo_unidad %]';

  Element.show('cargando');
  if (texto) {
    var pars = "id_tpproductoservicio="+texto;
    var myAjax = new Ajax.Request( url, { method: 'post', parameters: pars , onComplete: funcion});
  }
  else {
    limpiarListas(campoLlenar);
  }
}

function cargarComboPartida(campoLlenar){
  var forma = document.datosprodserv;

  var texto = document.getElementById('id_tpproductoservicio').value;
  var funcion = eval('llenar_' + campoLlenar);
  var url = '[% ruta_combo_partida %]';

  Element.show('cargando');
  if (texto) {
    var pars = "id_tpproductoservicio="+texto;
    var myAjax = new Ajax.Request( url, { method: 'post', parameters: pars , onComplete: funcion});
  }
  else {
    limpiarListas(campoLlenar);
  }
}

function cargarComboAccionSnc(campoLlenar){
  var forma = document.datosprodserv;

  var texto = document.getElementById('id_tpproductoservicio').value;
  var funcion = eval('llenar_' + campoLlenar);
  var url = '[% ruta_combo_accionsnc %]';

  Element.show('cargando');
  if (texto) {
    var pars = campoLlenar+"="+texto+"&id_tpproductoservicio="+forma.id_tpproductoservicio.value;

    var myAjax = new Ajax.Request( url, { method: 'post', parameters: pars , onComplete: funcion});
  }
  else {
    limpiarListas(campoLlenar);
  }
}
function llenar_id_partidas(originalRequest) {
  llenarListaDependiente(originalRequest, 'id_partidas');
  //Element.hide('cargando');
}

function llenar_id_tpunidad(originalRequest) {
  llenarListaDependiente(originalRequest, 'id_tpunidad');
    //Element.hide('cargando');
}

function llenar_id_tpaccionsnc(originalRequest) {
  llenarListaDependiente(originalRequest, 'id_tpaccionsnc');
  Element.hide('cargando');
}
function llenarListaDependiente(originalRequest, nombreListaLlenar) {
  var respuesta = originalRequest.responseText;
  var forma = document.datosprodserv;
  var listaLlenar = eval('forma.'+nombreListaLlenar);

  limpiarListas(nombreListaLlenar);

  if ( respuesta != 'undef' ){
    var primerarreglo = respuesta.split("|");
    for(i=0;i<primerarreglo.length;i++){
      var elemento  = primerarreglo[i].split(":");
      agregarOpcionLista(listaLlenar,new Option(elemento[1],elemento[0]));
    }
  }
}

// Función limpiarListas: Método encargado de limpiar el contenido de una lista desplegable.
function limpiarListas(nombreLista) {
  var forma = document.datosprodserv;
  vaciarLista(eval('forma.'+nombreLista));
}

function validar_cod( ){
  var forma = document.datosprodserv;
  tipo = forma['id_tpproductoservicio'].value;

  if (tipo == 1){   // Producto
    document.getElementById('inicial').innerHTML = "B-";
  }
  else{
    if (tipo == 2){   // Servicio
      document.getElementById('inicial').innerHTML = "S-";
    }
  }
}

</script>

</head>
<body onload="cargarMenu(); validar_cod()">

[% INCLUDE encabezado.tt %]

<fieldset>
<legend>Bienes/Servicios</legend>

[% formbuilder.start %]
[% formbuilder.statetags %]
[% formbuilder.keepextras %]

<table align="center" width="80%">
  <tr>
    <td align="center" colspan="2" class="titulodonforojo">[% tituloTabla %]</td>
  </tr>
  <tr>
    <td width="25%" align="left" class="fondoetiqueta"><b>[% formbuilder.field.id_tpproductoservicio.label %]</b></td>
    <td width="75%" align="left">[% formbuilder.field.id_tpproductoservicio.field %] (*)</td>
  </tr>
  <tr>
    <td width="25%" align="left" class="fondoetiqueta"><b>[% formbuilder.field.scodsnc.label %]</b></td>
    <td width="75%" align="left"><table><tr><td><b><div id="inicial"></div></b></td><td>[% formbuilder.field.scodsnc.field %] (*)</td></tr></table></td>
  </tr>
  <tr>
    <td width="25%" align="left" class="fondoetiqueta"><b>[% formbuilder.field.sdescripcion.label %]</b></td>
    <td width="75%" align="left">[% formbuilder.field.sdescripcion.field %] (*)</td>
  </tr>
  <tr>
    <td width="25%" align="left" class="fondoetiqueta"><b>[% formbuilder.field.id_tpprogsnc.label %]</b></td>
    <td width="75%" align="left">[% formbuilder.field.id_tpprogsnc.field %] (*)</td>
  </tr>
  <tr>
    <td width="25%" align="left" class="fondoetiqueta"><b>[% formbuilder.field.id_tpfuentefinsnc.label %]</b></td>
    <td width="75%" align="left">[% formbuilder.field.id_tpfuentefinsnc.field %](*)</td>
  </tr>
  <tr>
    <td width="25%" align="left" class="fondoetiqueta"><b>[% formbuilder.field.id_tpentfederal_snc.label %]</b></td>
    <td width="75%" align="left">[% formbuilder.field.id_tpentfederal_snc.field %](*)</td>
  </tr>
  <tr>
    <td width="25%" align="left" class="fondoetiqueta"><b>[% formbuilder.field.id_tpaccionsnc.label %]</b></td>
    <td width="75%" align="left">[% formbuilder.field.id_tpaccionsnc.field %] (*)</td>
  </tr>
  <tr>
    <td width="25%" align="left" class="fondoetiqueta"><b>[% formbuilder.field.id_partidas.label %]</b></td>
    <td width="75%" align="left">[% formbuilder.field.criterio.field %]&nbsp;[% formbuilder.field.id_partidas.field %] (*)</td>
  </tr>
  <tr>
    <td width="25%" align="left" valign="middle" class="fondoetiqueta"><b>[% formbuilder.field.nprecio.label %]</b></td>
    <td width="75%" align="left" valign="middle">[% formbuilder.field.nprecio.field %] (*)&nbsp;&nbsp;[% formbuilder.field.biva.field %]</td>
  </tr>
  <tr>
    <td width="25%" align="left" class="fondoetiqueta"><b>[% formbuilder.field.id_tpmoneda.label %]</b></td>
    <td width="75%" align="left">[% formbuilder.field.id_tpmoneda.field %] (*)</td>
  </tr>
  <tr>
    <td width="25%" align="left" class="fondoetiqueta"><b>Precio con I.V.A. ([% iva %] %):</b></td>
    <td width="75%" align="left"><div id="montototal">[% IF montototal %][% montototal %] BsF.[% ELSE %]0,00 BsF.[% END %]</div></td>
  </tr>
  <tr>
    <td width="25%" align="left" class="fondoetiqueta"><b>[% formbuilder.field.id_tpunidad.label %]</b></td>
    <td width="75%" align="left">[% formbuilder.field.id_tpunidad.field %] (*)</td>
  </tr>
  <tr>
    <td colspan="2" align="left" ><font color="#0F305A" size="0" >Nota: (*) Estos campos son obligatorios.</font></td>
  </tr>
</table>

<table align="center" width="50%">
  <tr>
    <td colspan="2" align="center">[% formbuilder.field.btnvolver.field %]&nbsp;[% formbuilder.submit %]</td>
  </tr>
</table>
[% formbuilder.field.id.field %]
[% formbuilder.end %]

</fieldset>
</body>
</html>
