<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]

<!-- archivos de javascript generales (cargar en todas las páginas) -->
[% INCLUDE jsgenerales.tt %]

<!--
En la plantilla siguiente se incluye el javascript para cargar el menu,
asociado al evento onload de la página. Si se quiere personalizar dicho evento,
debe escribirse la nueva función de javascript requerida y, dentro, invocar a
la función cargarMenu() existente, cambiando la respectiva etiqueta <body>.
-->
[% INCLUDE jscargarmenu.tt %]
[% formbuilder.jshead %]

<script type="text/javascript">

function runMode( id, accion ){
  document.listaegresos.action = accion;
  document.listaegresos.id_producto.value = id;
  document.listaegresos.submit();
}

function paginar( page ){
  document.listaegresos.page.value = page;
  document.listaegresos.submit();
}

</script>

</head>
<body onload="cargarMenu()">

[% INCLUDE encabezado.tt %]
<fieldset>
<legend>Catálogo de Otros Egresos</legend>

[% formbuilder.start %]
[% formbuilder.statetags %]
[% formbuilder.keepextras %]

<table align="left" width="100%" border="0">
  <tr>
    <td width="20%" class="fondoetiqueta" align="left"><b>[% formbuilder.field.criterio.label %]</b></td>
    <td align="left" valign="middle">[% formbuilder.field.criterio.field %]&nbsp;<img src="[% ruta_estatica %]/imagenes/menu/help.gif" onmouseover="Tip('<b>Criterio de Busqueda</b><br>Debe especificar un parámetro que concuerden con los campos:<br>Código, Descripción ó Partida Presupuestaria')" onmouseout="UnTip()"/>&nbsp;&nbsp;[% formbuilder.submit %]</td>
  </tr>
</table>
<br><br>&nbsp;

<table align="center" width="95%" border="0">
  <tr>
    <td align="center">[% formbuilder.field.btningresar.field %]</td>
  </tr>
</table>
<br>

<table align="center" cellpadding="2" width="97%" border="0">
<tr>
  <td align="center" colspan="9" class="titulodonforojo">Lista de Otros Egresos</td>
</tr>
<tr>
  <td width="10%" align="center" class="fondoetiqueta5">C&oacute;digo</td>
  <td width="30%" align="center" class="fondoetiqueta5">Descripci&oacute;n del Egreso</td>
  <td width="45%" align="center" class="fondoetiqueta5">Partida Presupuestaria</td>
  <td width="15%" align="center" class="fondoetiqueta5">Fecha Vigencia</td>
</tr>
[% IF registros %]
[% FOREACH registros %]
<tr bgcolor="[% sclase %]">
    <td width="10%" align="left" ><a href="javascript: runMode([% id %],'/presupuesto/catalogo/otrosegresos/detalleEgreso')">[% scodsnc %]</a></td>
    <td width="30%" align="justify" >[% sdescripcion %]</td>
    <td width="45%" align="justify" >[% spartida %]</td>
    <td width="15%" align="center" >[% dvigencia %]</td>
</tr>
[% END %]
[% ELSE %]
<tr>
<td align="center" colspan="8" class="titulodonfomarillo">No Existen Egresos registrados en el catalogo.</td>
</tr>
[% END %]
</table>

[% IF registros and last_page > 1 %]
<br>
<table align="center" width="30%">
<tr>
  <td width="45%">
    <a style="text-decoration:none" href="javascript:paginar([% previous_page %])"><< Anterior</a>
  </td>
  <td width="10%" align="center">
    [% current_page %] / [% last_page %]
  </td>
  <td width="45%" align="right">
    <a style="text-decoration:none" href="javascript:paginar([% next_page %])">Siguiente >></a>
  </td>
</tr>
</table>
[% END %]

<br>
<table align="center" width="95%" border="0">
  <tr>
    <td align="center">[% formbuilder.field.btningresar.field %]</td>
  </tr>
</table>

[% formbuilder.field.id_producto.field %]
[% formbuilder.field.page.field %]
[% formbuilder.end %]
</fieldset>
</body>
</html>
