<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]

<!-- archivos de javascript generales (cargar en todas las páginas) -->
[% INCLUDE jsgenerales.tt %]

<!-- hoja de estilo del calendario -->
<link rel="stylesheet" type="text/css" media="all" href="[% ruta_estatica %]/js/jscalendar/calendar-win2k-cold-2.css" title="Calendario" />
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/calendar.js"></script>
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/lang/calendar-es.js"></script>
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/calendar-setup.js"></script>

[% formbuilder.jshead %]
<script type="text/javascript">

    function upd(valor, ruta){
//                 document.forma.id_proyectos.value = valor;
                document.datosbasicos.action = ruta;
                document.datosbasicos.flag.value = 0;
                document.datosbasicos.submit();
    }

</script>
</head>
<body onload="cargarMenu()">

[% INCLUDE encabezado.tt %]

[% formbuilder.start %]
[% formbuilder.statetags %]
[% formbuilder.keepextras %]
[% INCLUDE jscargarmenu.tt %]
<table align="center" width="65%">
  <tr>
    <td align="center" colspan="2" class="titulodonforojo">Datos B&aacute;sicos del Proyecto</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_proyectos.label %]</b></td>
    <td align="left"><b>[% formbuilder.field.id_proyectos.value %][% formbuilder.field.id_proyectos.field %]</td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.ssolicitante.label %]</b></td>
    <td align="left">[% formbuilder.field.ssolicitante.value %]&nbsp;</td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.snombproy.label %]<b></td>
    <td align="left">[% formbuilder.field.snombproy.value %]&nbsp;</td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.nmtoproyecto.label %]<b></td>
    <td align="left">[% formbuilder.field.nmtoproyecto.value %]&nbsp;</td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.nmtofinanc.label %]<b></td>
    <td align="left">[% formbuilder.field.nmtofinanc.value %]&nbsp;</td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_tpedoproy.label %]<b></td>
    <td align="left">[% formbuilder.field.stpedoproy.value %]&nbsp;
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_tpregionpais.label %]<b></td>
    <td align="left">[% formbuilder.field.id_tpregionpais.value %]</td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_tppais.label %]<b></td>
    <td align="left">[% formbuilder.field.id_tppais.value %]&nbsp;</td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.senteejecutor.label %]</b></td>
    <td align="left">[% ente %][% formbuilder.field.senteejecutor.value %]&nbsp;</td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.snroptopdcia.label %]</b></td>
    <td align="left">[% ente %][% formbuilder.field.snroptopdcia.value %]</td>
  </tr>

  <tr>
    <td width="15%" align="left" class="fondoetiqueta"><b>[% formbuilder.field.dptopdcia.label %]<b></td>
    <td width="75%" align="left">[% formbuilder.field.dptopdcia.value %]</td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.sptofinanc.label %]</b></td>
    <td align="left">[% ente %][% formbuilder.field.sptofinanc.value %]</td>
  </tr>

  <tr>
    <td width="15%" align="left" class="fondoetiqueta"><b>[% formbuilder.field.dptofinanc.label %]<b></td>
    <td width="75%" align="left">[% formbuilder.field.dptofinanc.value %]</td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_tpinstrumento.label %]<b></td>
    <td align="left">[% formbuilder.field.id_tpinstrumento.value %]&nbsp;</td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.snrocontrato.label %]<b></td>
    <td align="left">[% formbuilder.field.snrocontrato.value %]</td>
  </tr>

  <tr>
    <td width="15%" align="left" class="fondoetiqueta"><b>[% formbuilder.field.dcontrato.label %]<b></td>
    <td width="75%" align="left">[% formbuilder.field.dcontrato.value %]</td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.sobjetoproy.label %]<b></td>
    <td align="left">[% formbuilder.field.sobjetoproy.value %]&nbsp;</td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.sinfointeres.label %]<b></td>
    <td align="left">[% formbuilder.field.sinfointeres.value %]</td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.sresumenopera.label %]<b></td>
    <td align="left">[% formbuilder.field.sresumenopera.value %]</td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_tpmodalidad.label %]<b></td>
    <td align="left">[% formbuilder.field.id_tpmodalidad.value %]&nbsp;</td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_tpoperacion.label %]<b></td>
    <td align="left">[% formbuilder.field.id_tpoperacion.value %]&nbsp;</td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.ntasamora.label %]<b></td>
    <td align="left">[% formbuilder.field.ntasamora.value %]</td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.ntasafinanc.label %]<b></td>
    <td align="left">[% formbuilder.field.ntasafinanc.value %]</td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.splazoamort.label %]<b></td>
    <td align="left">[% formbuilder.field.splazoamort.value %]</td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_tpamortizacion.label %]<b></td>
    <td align="left">[% formbuilder.field.id_tpamortizacion.value %]</td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.speriodogracia.label %]<b></td>
    <td align="left">[% formbuilder.field.speriodogracia.value %]</td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.sgrtias.label %]<b></td>
    <td align="left">[% formbuilder.field.sgrtias.value %]</td>
  </tr>

  <tr>
    <td width="15%" align="left" class="fondoetiqueta"><b>[% formbuilder.field.damort.label %]<b></td>
    <td width="75%" align="left">[% formbuilder.field.damort.value %]</td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.nmtopaisdestino.label %]<b></td>
    <td align="left">[% formbuilder.field.nmtopaisdestino.value %]&nbsp;</td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.nmtopaisotro.label %]<b></td>
    <td align="left">[% formbuilder.field.nmtopaisotro.value %]&nbsp;</td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.nnrobenef.label %]<b></td>
    <td align="left">[% formbuilder.field.nnrobenef.value %]</td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_tpsector.label %]<b></td>
    <td align="left">[% formbuilder.field.id_tpsector.value %]&nbsp;</td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.speriododesem.label %]<b></td>
    <td align="left">[% formbuilder.field.speriododesem.value %]</td>
  </tr>

  <tr>
    <td width="15%" align="left" class="fondoetiqueta"><b>[% formbuilder.field.ddesem.label %]<b></td>
    <td width="75%" align="left">[% formbuilder.field.ddesem.value %]</td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.sobservaciones.label %]<b></td>
    <td align="left">[% formbuilder.field.sobservaciones.value %]</td>
  </tr>

  <tr>
    <td align="center" colspan="2" class="titulodonforojo">Documentación Consignada</td>
  </tr>

  [% IF registros %]
  [% FOREACH registros %]
  <tr bgcolor="[% sclase %]">
    <td align="left" colspan="2" class="fondoetiqueta"><b>[% num %].</b>&nbsp;&nbsp;[% srecaudo %]</td>
  </tr>
  [% END %]
  [% END %]

  [% IF sotrorecaudo %]
    <tr>
      <td align="left" class="fondoetiqueta"><b>Otro Recaudo:</b></td>
      <td align="justify">[% sotrorecaudo %]</td>
    </tr>
  [% END %]

  [% IF obs %]
    <tr>
      <td align="left" class="fondoetiqueta"><b>Observaciones:</b></td>
      <td align="justify">[% obs %]</td>
    </tr>
  [% END %]

  [% UNLESS obs %]
  <tr>
    <td align="center" colspan="2" class="titulodonfomarillo">No existe documentación consignada para este proyecto.</td>
  </tr>
  [% END %]

  <tr>
    <td colspan="2" align="center"><hr></td>
  </tr>

  <tr>
    <td colspan="2" align="center">
    <input type=button  onclick="javascript:upd(0,[% IF formbuilder.field.flag.value %]'/coproci/reporte/reporte/listar'[% ELSE %]'/coproci/proyecto/proyecto/listar'[% END %])" value='<< Regresar'/>
    [% IF formbuilder.field.id_tpedoproy.value <= 7 %]<input type=button  onclick="javascript:upd(0,'/coproci/proyecto/proyecto/entradaProyecto')" value='Editar'/>[% END %]</td>
  </tr>

</table>

[% formbuilder.field.qry_id_proyectos.field %]
[% formbuilder.field.qry_snombproy.field %]
[% formbuilder.field.qry_ssolicitante.field %]
[% formbuilder.field.qry_nmntoFinto_desde.field %]
[% formbuilder.field.qry_nmntoFinto_hasta.field %]
[% formbuilder.field.qry_tcreacion_desde.field %]
[% formbuilder.field.qry_tcreacion_hasta.field %]
[% formbuilder.field.qry_id_tpedoproy.field %]
[% formbuilder.field.qry_id_tpmacroedoproy.field %]
[% formbuilder.field.qry_id_tpinstrumento.field %]
[% formbuilder.field.qry_id_tpmodalidad.field %]
[% formbuilder.field.qry_id_tpoperacion.field %]
[% formbuilder.field.qry_id_tpamortizacion.field %]
[% formbuilder.field.qry_id_tpsector.field %]
[% formbuilder.field.qry_id_tpregionpais.field %]
[% formbuilder.field.qry_id_tppais.field %]
[% formbuilder.field.flag.field %]

[% formbuilder.end %]

</body>
</html>