<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]

<!-- archivos de javascript para Prototype -->
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/prototype.js"></script>

<!-- archivos de javascript para Seleccionar Item en las Listas -->
<script type="text/javascript" src="[%ruta_estatica%]/js/seleccionarItemList.js"></script>

<!-- archivos de javascript generales (cargar en todas las páginas) -->
[% INCLUDE jsgenerales.tt %]

<!-- hoja de estilo del calendario -->
<link rel="stylesheet" type="text/css" media="all" href="[% ruta_estatica %]/js/jscalendar/calendar-win2k-cold-2.css" title="Calendario" />
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/calendar.js"></script>
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/lang/calendar-es.js"></script>
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/calendar-setup.js"></script>

[% formbuilder.jshead %]


<script type="text/javascript">
    function otro(opc){
//          alert(opc.options[opc.selectedIndex].text);
            
        if (opc.name == "id_tpinstrumento") {
            if (opc.options[opc.selectedIndex].value == "6") {
                document.datosbasicos.sotroinstrumento.disabled = false;
                document.datosbasicos.id_tpmodalidad.value='';
            }else{
                document.datosbasicos.sotroinstrumento.disabled = true;
                if (opc.options[opc.selectedIndex].value == "4") {
                    document.datosbasicos.id_tpmodalidad.value=8;
                }else{
                    document.datosbasicos.id_tpmodalidad.value='';
                }
            }
        }
        if (opc.name == "id_tpoperacion") {
            if (opc.options[opc.selectedIndex].value == "13") {
                document.datosbasicos.sotrooperacion.disabled = false;
            }else{
                document.datosbasicos.sotrooperacion.disabled = true;
            }
        }
        if (opc.name == "id_tpamortizacion") {
            if (opc.options[opc.selectedIndex].value == "17") {
                document.datosbasicos.sotroamort.disabled = false;
            }else{
                document.datosbasicos.sotroamort.disabled = true;
            }
        }
        if (opc.name == "id_tpsector") {
            if (opc.options[opc.selectedIndex].value == "28") {
                document.datosbasicos.sotrosector.disabled = false;
            }else{
                document.datosbasicos.sotrosector.disabled = true;
            }
        }
    }
    
    function upd(valor, ruta){
        document.datosbasicos.action = ruta;
        document.datosbasicos.submit();
    }


</script>

<script language="JavaScript">

var arregloCampos = new Array(
  new Array('id_tpregionpais','id_tppais'),
  new Array('id_tppais')
);

//Función funcionCargarListas: se encarga de cargar el contenido de las listas dependientes deL valor del indicador de acuerdo a la selección realizada (Tipo de Antecedente seleccionada para el caso de un indicador).
function funcionCargarListas(nombreCampoSeleccionado){
  var forma = document.datosbasicos;
  var listaSeleccionada = eval('forma.'+nombreCampoSeleccionado);
  var url = '[% ruta_listas %]';
  var campoLlenar = buscarValorAsociadoEnArreglo(arregloCampos, '0', nombreCampoSeleccionado, 1);
  var funcion = eval('llenar_' + campoLlenar);
  var valorSeleccionado = listaSeleccionada.options[listaSeleccionada.selectedIndex].value;
  if (valorSeleccionado) {
    var pars = nombreCampoSeleccionado+"="+valorSeleccionado;
    var myAjax = new Ajax.Request( url, { method: 'post', parameters: pars , onComplete: funcion});
  }
  else {
    limpiarListas(campoLlenar);
  }
}

//Función llenarListaDependiente: método encargado de traducir la respuesta del servidor con la lista de valores que deben ser incluidas y llenar las listas dependientes con la información.
function llenarListaDependiente(originalRequest, nombreListaLlenar) {
  var respuesta = originalRequest.responseText;
  var forma = document.datosbasicos;
  var listaLlenar = eval('forma.'+nombreListaLlenar);
  limpiarListas(nombreListaLlenar);

  if ( respuesta != 'undef' ){
    var primerarreglo = respuesta.split("|");
    for(i=0;i<primerarreglo.length;i++){
      var elemento  = primerarreglo[i].split(":");
      agregarOpcionLista(listaLlenar,new Option(elemento[1],elemento[0]));
    }
  }
}

// Función limpiarListas: Método encargado de limpiar el contenido de una lista desplegable.
function limpiarListas(nombreLista) {
  var forma = document.datosbasicos;
  vaciarLista(eval('forma.'+nombreLista));
}

//Función llenar_id_tpindicador: Método encargado de hacer el llamado al método llenarListaDependiente, indicando que la lista a trabajar es la de los indicadores.
function llenar_id_tppais(originalRequest) {
  llenarListaDependiente(originalRequest, 'id_tppais');
}

</script>
</head>
<body onload="cargarMenu()">

[% INCLUDE encabezado.tt %]

[% formbuilder.start %]
[% formbuilder.statetags %]
[% formbuilder.keepextras %]
[% INCLUDE jscargarmenu.tt %]
<table align="center" width="65%">
  <tr>
    <td align="center" colspan="2" class="titulodonforojo">Datos B&aacute;sicos del Proyecto</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_proyectos.label %]</b></td>
    <td align="left"><b>[% formbuilder.field.id_proyectos.value %][% formbuilder.field.id_proyectos.field %]</td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.ssolicitante.label %]</b></td>
    <td align="left">[% formbuilder.field.ssolicitante.field %]&nbsp;(*)</td>
  </tr>


  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.snombproy.label %]<b></td>
    <td align="left">[% formbuilder.field.snombproy.field %]&nbsp;(*)</td>
  </tr>  
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.nmtoproyecto.label %]<b></td>
    <td align="left">[% formbuilder.field.nmtoproyecto.field %]&nbsp;(*)</td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.nmtofinanc.label %]<b></td>
    <td align="left">[% formbuilder.field.nmtofinanc.field %]&nbsp;(*)</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_tpedoproy.label %]<b></td>
    <td align="left">[% formbuilder.field.id_tpedoproy.field %]&nbsp;(*)

  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_tpregionpais.label %]<b></td>
    <td align="left">[% formbuilder.field.id_tpregionpais.field %]</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_tppais.label %]<b></td>
    <td align="left">[% formbuilder.field.id_tppais.field %]&nbsp;(*)</td>
  </tr>
  


  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.senteejecutor.label %]</b></td>
    <td align="left">[% ente %][% formbuilder.field.senteejecutor.field %]&nbsp;(*)</td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.snroptopdcia.label %]</b></td>
    <td align="left">[% ente %][% formbuilder.field.snroptopdcia.field %]</td>
  </tr>

 
  <tr>
    <td width="15%" align="left" class="fondoetiqueta"><b>[% formbuilder.field.dptopdcia.label %]<b></td>
    <td width="75%" align="left">[% formbuilder.field.dptopdcia.field %]&nbsp;<img src="[% ruta_estatica %]/imagenes/calendario.jpg" title="Desplegar Calendario" width="25" height="18" id="a_dfecha" style="cursor: pointer; border: 0px solid #0F305A;" onmouseover="this.style.background='#0F305A';" onMouseOut="this.style.background=''"/>
           <script type="text/javascript">
           Calendar.setup({
                inputField     :    "dptopdcia",     // id of the input field
                ifFormat       :    "%d/%m/%Y",      // format of the input field
                button         :    "a_dfecha",  // trigger for the calendar (button ID)
                align          :    "Tl",           // alignment (defaults to "Bl")
                singleClick    :    true
           });
           </script></td>
  </tr>
 

 <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.sptofinanc.label %]</b></td>
    <td align="left">[% ente %][% formbuilder.field.sptofinanc.field %]</td>
  </tr>

 
  <tr>
    <td width="15%" align="left" class="fondoetiqueta"><b>[% formbuilder.field.dptofinanc.label %]<b></td>
    <td width="75%" align="left">[% formbuilder.field.dptofinanc.field %]&nbsp;<img src="[% ruta_estatica %]/imagenes/calendario.jpg" title="Desplegar Calendario" width="25" height="18" id="b_dfecha" style="cursor: pointer; border: 0px solid #0F305A;" onmouseover="this.style.background='#0F305A';" onMouseOut="this.style.background=''"/>
           <script type="text/javascript">
           Calendar.setup({
                inputField     :    "dptofinanc",     // id of the input field
                ifFormat       :    "%d/%m/%Y",      // format of the input field
                button         :    "b_dfecha",  // trigger for the calendar (button ID)
                align          :    "Tl",           // alignment (defaults to "Bl")
                singleClick    :    true
           });
           </script></td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_tpinstrumento.label %]<b></td>
    <td align="left">[% formbuilder.field.id_tpinstrumento.field %]&nbsp;(*)</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.sotroinstrumento.label %]<b></td>
    <td align="left">[% formbuilder.field.sotroinstrumento.field %]</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.snrocontrato.label %]<b></td>
    <td align="left">[% formbuilder.field.snrocontrato.field %]</td>
  </tr>
<tr>
    <td width="15%" align="left" class="fondoetiqueta"><b>[% formbuilder.field.dcontrato.label %]<b></td>
    <td width="75%" align="left">[% formbuilder.field.dcontrato.field %]&nbsp;<img src="[% ruta_estatica %]/imagenes/calendario.jpg" title="Desplegar Calendario" width="25" height="18" id="c_dfecha" style="cursor: pointer; border: 0px solid #0F305A;" onmouseover="this.style.background='#0F305A';" onMouseOut="this.style.background=''"/>
           <script type="text/javascript">
           Calendar.setup({
                inputField     :    "dcontrato",     // id of the input field
                ifFormat       :    "%d/%m/%Y",      // format of the input field
                button         :    "c_dfecha",  // trigger for the calendar (button ID)
                align          :    "Tl",           // alignment (defaults to "Bl")
                singleClick    :    true
           });
           </script></td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.sobjetoproy.label %]<b></td>
    <td align="left">[% formbuilder.field.sobjetoproy.field %]&nbsp;(*)</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.sinfointeres.label %]<b></td>
    <td align="left">[% formbuilder.field.sinfointeres.field %]</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.sresumenopera.label %]<b></td>
    <td align="left">[% formbuilder.field.sresumenopera.field %]</td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_tpmodalidad.label %]<b></td>
    <td align="left">[% formbuilder.field.id_tpmodalidad.field %]&nbsp;(*)</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_tpoperacion.label %]<b></td>
    <td align="left">[% formbuilder.field.id_tpoperacion.field %]&nbsp;(*)</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.sotrooperacion.label %]<b></td>
    <td align="left">[% formbuilder.field.sotrooperacion.field %]</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.ntasamora.label %]<b></td>
    <td align="left">[% formbuilder.field.ntasamora.field %]</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.ntasafinanc.label %]<b></td>
    <td align="left">[% formbuilder.field.ntasafinanc.field %]</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.splazoamort.label %]<b></td>
    <td align="left">[% formbuilder.field.splazoamort.field %]</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_tpamortizacion.label %]<b></td>
    <td align="left">[% formbuilder.field.id_tpamortizacion.field %]</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.sotroamort.label %]<b></td>
    <td align="left">[% formbuilder.field.sotroamort.field %]</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.speriodogracia.label %]<b></td>
    <td align="left">[% formbuilder.field.speriodogracia.field %]</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.sgrtias.label %]<b></td>
    <td align="left">[% formbuilder.field.sgrtias.field %]</td>
  </tr>
<tr>
    <td width="15%" align="left" class="fondoetiqueta"><b>[% formbuilder.field.damort.label %]<b></td>
    <td width="75%" align="left">[% formbuilder.field.damort.field %]&nbsp;<img src="[% ruta_estatica %]/imagenes/calendario.jpg" title="Desplegar Calendario" width="25" height="18" id="d_dfecha" style="cursor: pointer; border: 0px solid #0F305A;" onmouseover="this.style.background='#0F305A';" onMouseOut="this.style.background=''"/>
           <script type="text/javascript">
           Calendar.setup({
                inputField     :    "damort",     // id of the input field
                ifFormat       :    "%d/%m/%Y",      // format of the input field
                button         :    "d_dfecha",  // trigger for the calendar (button ID)
                align          :    "Tl",           // alignment (defaults to "Bl")
                singleClick    :    true
           });
           </script></td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.nmtopaisdestino.label %]<b></td>
    <td align="left">[% formbuilder.field.nmtopaisdestino.field %]&nbsp;(*)</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.nmtopaisotro.label %]<b></td>
    <td align="left">[% formbuilder.field.nmtopaisotro.field %]</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.nnrobenef.label %]<b></td>
    <td align="left">[% formbuilder.field.nnrobenef.field %]</td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.id_tpsector.label %]<b></td>
    <td align="left">[% formbuilder.field.id_tpsector.field %]&nbsp;(*)</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.sotrosector.label %]<b></td>
    <td align="left">[% formbuilder.field.sotrosector.field %]</td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.speriododesem.label %]<b></td>
    <td align="left">[% formbuilder.field.speriododesem.field %]</td>
  </tr>
<tr>
    <td width="15%" align="left" class="fondoetiqueta"><b>[% formbuilder.field.ddesem.label %]<b></td>
    <td width="75%" align="left">[% formbuilder.field.ddesem.field %]&nbsp;<img src="[% ruta_estatica %]/imagenes/calendario.jpg" title="Desplegar Calendario" width="25" height="18" id="e_dfecha" style="cursor: pointer; border: 0px solid #0F305A;" onmouseover="this.style.background='#0F305A';" onMouseOut="this.style.background=''"/>
           <script type="text/javascript">
           Calendar.setup({
                inputField     :    "ddesem",     // id of the input field
                ifFormat       :    "%d/%m/%Y",      // format of the input field
                button         :    "e_dfecha",  // trigger for the calendar (button ID)
                align          :    "Tl",           // alignment (defaults to "Bl")
                singleClick    :    true
           });
           </script></td>
  </tr>

  <tr>
    <td align="left" class="fondoetiqueta" nowrap><b>[% formbuilder.field.sobservaciones.label %]<b></td>
    <td align="left">[% formbuilder.field.sobservaciones.field %]</td>
  </tr>


    <tr class=''>
      <td colspan=2 >(*) Estos campos son obligatorios</td>
    </tr>
  <tr>
    <td colspan="2" align="center">[% formbuilder.submit %]&nbsp;<input type=button  onclick="javascript:upd(0,'/coproci/proyecto/proyecto/listar')" value='Administrar Proyectos'/></td>
  </tr>
</table>
[% formbuilder.field.flag.field %]
[% formbuilder.end %]

</body>
</html>