<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>

<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]
[%INCLUDE jsgenerales.tt %]

<!-- archivos de javascript para Prototype -->
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/prototype.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/controls.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/effects.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/dragdrop.js"></script>



<link rel="stylesheet" type="text/css" media="all" href="[% ruta_estatica %]/js/jscalendar/calendar-win2k-cold-2.css" title="Calendario" />
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/calendar.js"></script>
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/lang/calendar-es.js"></script>
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/calendar-setup.js"></script>

[%formbuilder.jshead%]

[%INCLUDE jscargarmenu.tt%]

</head>
<body onload="cargarMenu();">

[%INCLUDE encabezado.tt %]
[%formbuilder.start%]
[%formbuilder.statetags%]
[%formbuilder.keepextras%]
[%formbuilder.field.idactuacion.field %]
<table  border="0"  cellspacing="0" cellpadding="5" align="center">
   <tr>
      <td colspan=2>
	[% nuevotomo %]
      </td>
   </tr>
   <tr>
      <td colspan=2 align="center">
<button type="button" onclick="if(confirm('Confirme si desea cerrar el tomo actual')){window.location ='./cerrarTomo';
};">Cerrar Tomo Actual</button>
      </td>
   </tr>
   <tr>
      <td width="15%">
	<b>Planilla:</b>
      </td>
      <td>
	[% planilla  %]
      </td>
   </tr>

   <tr>
      <td width="15%">
        <b>Número:</b>
      </td>
      <td>
        [% numero  %]
      </td>
   </tr>

   <tr>
      <td width="15%">
	<b>Tomo:</b>
      </td>
      <td>
	[% tomo  %]
      </td>
   </tr>
   <tr>
      <td width="15%">
        <b>Folio:</b>
      </td>
      <td align="left">
        [% folio  %]
      </td>
   </tr>

<tr><td colspan="2">
<fieldset>
<legend>Registro de Actuaci&oacute;n</legend>
<br>
<table align="center" colspan="3">
  <tr>
    <td>
        <table border="0" cellspacing="0" cellpadding="5" align="left" >
          <tr>
            <td><b>[%formbuilder.field.tpdocumento.label%]</b></td>
            <td>[%formbuilder.field.tpdocumento.field %]</td>
          </tr>
</table>
</td></tr><tr><td>
<fieldset id=fieldset1 [% fieldsetregto  %]>
        <legend>Datos Registro</legend>
        <table border="0" cellspacing="0" cellpadding="5" align="center" >
            <td><b>[%formbuilder.field.fregistro.label%]</b></td>
            <td>[%formbuilder.field.fregistro.field %] &nbsp;
    <img src="[% ruta_estatica %]/imagenes/calendario.jpg" title="Desplegar Calendario" width="25" height="18" id="fechareg" style="cursor: pointer; border: 0px solid #0F305A;" onmouseover="this.style.background='#0F305A';" onMouseOut="this.style.background=''"/>
           <script type="text/javascript">
           Calendar.setup({
                inputField     :    "fregistro",     // id of the input field
                ifFormat       :    "%d/%m/%Y",      // format of the input field
                button         :    "fechareg",      // trigger for the calendar (button ID)
                align          :    "Tl",            // alignment (defaults to "Bl")
                singleClick    :    true
           });
           </script></td>
          </tr>
          <tr>
            <td><b>[%formbuilder.field.numeroreg.label%]</b></td>
            <td>[%formbuilder.field.numeroreg.field %]</td>
          </tr>
          <tr>
            <td><b>[%formbuilder.field.tomoreg.label%]</b></td>
            <td>[%formbuilder.field.tomoreg.field %]</td>
          </tr>
          <tr>
            <td><b>[%formbuilder.field.folioreg.label%]</b></td>
            <td>[%formbuilder.field.folioreg.field %]</td>
          </tr>
        </table>
      </fieldset>
</td></tr><tr><td colspan="2">
<table>
          <tr>
            <td><b>[%formbuilder.field.otorgante.label%]</b></td>
            <td>[%formbuilder.field.otorgante.field %]</td>
          </tr>
          <tr>
            <td><b>[%formbuilder.field.fingreso.label%]</b></td>
            <td>[%formbuilder.field.fingreso.field %]&nbsp;
    <img src="[% ruta_estatica %]/imagenes/calendario.jpg" title="Desplegar Calendario" width="25" height="18" id="fecha" style="cursor: pointer; border: 0px solid #0F305A;" onmouseover="this.style.background='#0F305A';" onMouseOut="this.style.background=''"/>
           <script type="text/javascript">
           Calendar.setup({
                inputField     :    "fingreso",     // id of the input field
                ifFormat       :    "%d/%m/%Y",     // format of the input field
                button         :    "fecha",        // trigger for the calendar (button ID)
                align          :    "Tl",           // alignment (defaults to "Bl")
                singleClick    :    true
           });
           </script></td>
          </tr>
          <tr>
            <td><b>[%formbuilder.field.fotorgamiento.label%]</b></td>
            <td>[%formbuilder.field.fotorgamiento.field %] &nbsp;
    <img src="[% ruta_estatica %]/imagenes/calendario.jpg" title="Desplegar Calendario" width="25" height="18" id="fechaot" style="cursor: pointer; border: 0px solid #0F305A;" onmouseover="this.style.background='#0F305A';" onMouseOut="this.style.background=''"/>
           <script type="text/javascript">
           Calendar.setup({
                inputField     :    "fotorgamiento", // id of the input field
                ifFormat       :    "%d/%m/%Y",      // format of the input field
                button         :    "fechaot",       // trigger for the calendar (button ID)
                align          :    "Tl",            // alignment (defaults to "Bl")
                singleClick    :    true
           });
           </script>
</td>
          </tr>
          <tr>
            <td><b>[%formbuilder.field.folio.label%]</b></td>
            <td>[%formbuilder.field.folio.field %]</td>
          </tr>
        </table>
</td></tr>
      </fieldset>
    </td>
  </tr>
</table>
</fieldset>
<table align="center" >
  <tr>
    <td align="center">[% formbuilder.submit %]</td>
  </tr>
</table>
</td>
</tr>
</table>
[%formbuilder.end%]
<br/>
</body>
</html>
