<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]
[%INCLUDE jsgenerales.tt %]

<!-- archivos de javascript para Prototype -->
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/prototype.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/controls.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/effects.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/dragdrop.js"></script>



<link rel="stylesheet" type="text/css" media="all" href="[% ruta_estatica %]/js/jscalendar/calendar-win2k-cold-2.css" title="Calendario" />
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/calendar.js"></script>
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/lang/calendar-es.js"></script>
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/calendar-setup.js"></script>


[%formbuilder.jshead%]

[%INCLUDE jscargarmenu.tt%]

</head>
<body onload="cargarMenu();">
[%INCLUDE encabezado.tt %]
[%formbuilder.start%]
[%formbuilder.statetags%]
[%formbuilder.keepextras%]
<br>

<table border="0" cellspacing="0" cellpadding="5" align="center" >
          <tr>
            <td><b>[%formbuilder.field.planilla.label%]</b></td>
            <td>[%formbuilder.field.planilla.field %]</td>
          </tr>
          <tr>
            <td><b>[%formbuilder.field.numero.label%]</b></td>
            <td>[%formbuilder.field.numero.field %]</td>
          </tr>
          <tr>
            <td><b>[%formbuilder.field.tomo.label%]</b></td>
            <td>[%formbuilder.field.tomo.field %]</td>
          </tr>
          <tr>
            <td><b>[%formbuilder.field.folio.label%]</b></td>
            <td>[%formbuilder.field.folio.field %]</td>
          </tr>
          <tr>
            <td><b>[%formbuilder.field.tpdocumento.label%]</b></td>
            <td>[%formbuilder.field.tpdocumento.field %]</td>
          </tr>
          <tr>
            <td><b>[%formbuilder.field.otorgante.label%]</b></td>
            <td>[%formbuilder.field.otorgante.field %]</td>
          </tr>
          <tr>
            <td><b>[%formbuilder.field.fingresod.label%]</b></td>
            <td>[%formbuilder.field.fingresod.field %]&nbsp;
    <img src="[% ruta_estatica %]/imagenes/calendario.jpg" title="Desplegar Calendario" width="25" height="18" id="fingd" style="cursor: pointer; border: 0px solid #0F305A;" onmouseover="this.style.background='#0F305A';" onMouseOut="this.style.background=''"/>
           <script type="text/javascript">
           Calendar.setup({
                inputField     :    "fingresod", // id of the input field
                ifFormat       :    "%d/%m/%Y",      // format of the input field
                button         :    "fingd",       // trigger for the calendar (button ID)
                align          :    "Tl",            // alignment (defaults to "Bl")
                singleClick    :    true
           });
           </script>
         
          
            <b>Hasta:</b>
            [%formbuilder.field.fingresoh.field %] &nbsp;
    <img src="[% ruta_estatica %]/imagenes/calendario.jpg" title="Desplegar Calendario" width="25" height="18" id="fingh" style="cursor: pointer; border: 0px solid #0F305A;" onmouseover="this.style.background='#0F305A';" onMouseOut="this.style.background=''"/>
           <script type="text/javascript">
           Calendar.setup({
                inputField     :    "fingresoh", // id of the input field
                ifFormat       :    "%d/%m/%Y",      // format of the input field
                button         :    "fingh",       // trigger for the calendar (button ID)
                align          :    "Tl",            // alignment (defaults to "Bl")
                singleClick    :    true
           });
           </script></td>
          </tr>
          <tr>
            <td><b>[%formbuilder.field.fotorgamientod.label%]</b></td>
            <td>[%formbuilder.field.fotorgamientod.field %] &nbsp;
    <img src="[% ruta_estatica %]/imagenes/calendario.jpg" title="Desplegar Calendario" width="25" height="18" id="fotd" style="cursor: pointer; border: 0px solid #0F305A;" onmouseover="this.style.background='#0F305A';" onMouseOut="this.style.background=''"/>
           <script type="text/javascript">
           Calendar.setup({
                inputField     :    "fotorgamientod", // id of the input field
                ifFormat       :    "%d/%m/%Y",      // format of the input field
                button         :    "fotd",       // trigger for the calendar (button ID)
                align          :    "Tl",            // alignment (defaults to "Bl")
                singleClick    :    true
           });
           </script>
            <b>Hasta:</b>
            [%formbuilder.field.fotorgamientoh.field %] &nbsp;
    <img src="[% ruta_estatica %]/imagenes/calendario.jpg" title="Desplegar Calendario" width="25" height="18" id="foth" style="cursor: pointer; border: 0px solid #0F305A;" onmouseover="this.style.background='#0F305A';" onMouseOut="this.style.background=''"/>
           <script type="text/javascript">
           Calendar.setup({
                inputField     :    "fotorgamientoh", // id of the input field
                ifFormat       :    "%d/%m/%Y",      // format of the input field
                button         :    "foth",       // trigger for the calendar (button ID)
                align          :    "Tl",            // alignment (defaults to "Bl")
                singleClick    :    true
           });
           </script></td>
          </tr>
  <tr>
    <td align="center" colspan="2">[% formbuilder.submit %]</td>
  </tr>
</table>
<table align="center" width = "80%">
  <tr>
    <td align="center" colspan="2">[% resultado %]</td>
  </tr>
</table>
<br>
<table width="905px" align="center" border="1">
      <tr class="titulodonforojo">
        <td align="center">Planilla</td>
        <td align="center">N&uacute;mero</td>
        <td align="center">Tomo</td>
        <td align="center">Folio</td>
        <td align="center">Cant. Folios</td>
        <td align="center">Tipo de Documento</td>
        <td align="center">Otorgante</td>
        <td align="center">F. Ingreso</td>
        <td align="center">F. Otorgamiento</td>
        <td align="center">Estado</td>
        <td align="center">Acci&oacute;n</td>

      </tr>
      [% FOREACH listaactuaciones %]
      <tr>
        <td align="right"><a href="[% url %]">[% id %]</a></td>
        <td align="right">[% numero %]</td>
        <td align="right">[% itomo %]</td>
        <td align="right">[% ifolio %]</td>
        <td align="right">[% icantfolios %]</td>
        <td>[% tpdocumento %]</td>
        <td>[% sotorgante %]</td>
        <td align="center">[% dingreso %]</td>
        <td align="center">[% dotorgamiento %]</td>
        <td>[% estado  %]</td>
 [% IF folios < 200 %]
<td><a href="[% urlanular %]">Cambiar Estado</a></td>

 [% ELSE %]
        <td>&nbsp;</td>
 [% END %]
      </tr>

      [% END %]
</table>
[%formbuilder.end%]
</body>
</html>
