<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]
[%INCLUDE jsgenerales.tt %]

<!-- archivos de javascript para Prototype -->
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/prototype.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/controls.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/effects.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/dragdrop.js"></script>

<!-- hoja de estilo del calendario -->
<link rel="stylesheet" type="text/css" media="all" href="[% ruta_estatica %]/js/jscalendar/calendar-win2k-cold-2.css" title="Calendario" />
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/calendar.js"></script>
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/lang/calendar-es.js"></script>
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/calendar-setup.js"></script>

<script type="text/javascript">

function validate_criteriobusqueda(){
  var alertstr = '';
  var invalid  = 0;
  var invalid_fields = new Array();
  var forma     = document.criteriobusqueda;
  var dposdesde = forma.dposdesde.value;
  var dposhasta = forma.dposhasta.value;
  var dregdesde = forma.dregdesde.value;
  var dreghasta = forma.dreghasta.value;
  var dcesedesde = forma.dcesedesde.value;
  var dcesehasta = forma.dcesehasta.value;


  if ( dposhasta && dposdesde ){
    var Arrdesde = dposdesde.split("/");
    var Arrhasta = dposhasta.split("/");

    var dvaldesde = Arrdesde[2]+Arrdesde[1]+Arrdesde[0];
    var dvalhasta = Arrhasta[2]+Arrhasta[1]+Arrhasta[0];

    if ( dvalhasta <= dvaldesde ){
      alertstr += '- La fecha hasta de posesión no puede ser menor a la fecha desde de posesión\n';
      invalid++;
      invalid_fields.push('dposhasta');
    }
  }

  if ( dreghasta && dregdesde ){
    var Arrdesde = dregdesde.split("/");
    var Arrhasta = dreghasta.split("/");

    var dvaldesde = Arrdesde[2]+Arrdesde[1]+Arrdesde[0];
    var dvalhasta = Arrhasta[2]+Arrhasta[1]+Arrhasta[0];

    if ( dvalhasta <= dvaldesde ){
      alertstr += '- La fecha hasta de registro no puede ser menor a la fecha desde de registro\n';
      invalid++;
      invalid_fields.push('dreghasta');
    }
  }

  if ( dcesehasta && dcesedesde ){
    var Arrdesde = dcesedesde.split("/");
    var Arrhasta = dcesehasta.split("/");

    var dvaldesde = Arrdesde[2]+Arrdesde[1]+Arrdesde[0];
    var dvalhasta = Arrhasta[2]+Arrhasta[1]+Arrhasta[0];

    if ( dvalhasta <= dvaldesde ){
      alertstr += '- La fecha hasta de cese no puede ser menor a la fecha desde de cese\n';
      invalid++;
      invalid_fields.push('dcesehasta');
    }
  }

  if (invalid > 0 || alertstr != '') {
    if (! invalid) invalid = 'The following';   // catch for programmer error
    alert(''+invalid+' error(es) fueron encontrados al aceptar la información:'+'\n\n'
    +alertstr+'\n'+'- Por favor corrija los campos y trate de nuevo');
    return false;
  }

  return true;  // all checked ok


}
</script>

[%formbuilder.jshead%]

[%INCLUDE jscargarmenu.tt%]

</head>
<body onload="cargarMenu();">

[%INCLUDE encabezado.tt %]
[%formbuilder.start%]
[%formbuilder.statetags%]
[%formbuilder.keepextras%]
<fieldset>
<legend>Criterio de B&uacute;squeda</legend>
<table width="60%" border="0" align="center" cellspacing="3" cellpadding="5">
  <tr>
    <td colspan="2" class="titulodonforojo" align="center"><b>CONSULTA DE PERSONAS P&Uacute;BLICAMENTE EXPUESTAS (PEPS)</b></td>
  </tr>
  <tr>
    <td class="fondoetiqueta"><b>Rango Fecha de Registro en el Sistema :</b></td>
    <td>
      <b>Desde</b>&nbsp;[% formbuilder.field.dregdesde.field %] &nbsp;<img src="[% ruta_estatica %]/imagenes/calendario.jpg" title="Desplegar Calendario" width="25" height="18" id="t_dregdesde" style="cursor: pointer; border: 0px solid #0F305A;" onmouseover="this.style.background='#0F305A';" onMouseOut="this.style.background=''"/>
      <script type="text/javascript">
        Calendar.setup({
                         inputField     :    "dregdesde",    // id of the input field
                         ifFormat       :    "%d/%m/%Y",     // format of the input field
                         button         :    "t_dregdesde",  // trigger for the calendar (button ID)
                         align          :    "Tl",           // alignment (defaults to "Bl")
                         singleClick    :    true
                      });
      </script>
      &nbsp;<b>Hasta</b>&nbsp;[% formbuilder.field.dreghasta.field %] &nbsp;<img src="[% ruta_estatica %]/imagenes/calendario.jpg" title="Desplegar Calendario" width="25" height="18" id="t_dreghasta" style="cursor: pointer; border: 0px solid #0F305A;" onmouseover="this.style.background='#0F305A';" onMouseOut="this.style.background=''"/>
      <script type="text/javascript">
        Calendar.setup({
                         inputField     :    "dreghasta",    // id of the input field
                         ifFormat       :    "%d/%m/%Y",     // format of the input field
                         button         :    "t_dreghasta",  // trigger for the calendar (button ID)
                         align          :    "Tl",           // alignment (defaults to "Bl")
                         singleClick    :    true
                      });
      </script>
    </td>
  </tr>
  <tr>
    <td class="fondoetiqueta"><b>[% formbuilder.field.tpersona.label %] :</b></td>
    <td>[% formbuilder.field.tpersona.field %]</td>
  </tr>
  <tr>
    <td class="fondoetiqueta"><b>Nro. CI / Pasaporte / DNI :</b></td>
    <td>[% formbuilder.field.identidad.field %]</td>
  </tr>
  <tr>
    <td class="fondoetiqueta"><b>[% formbuilder.field.nombre.label%] :</b></td>
    <td>[% formbuilder.field.nombre.field %]</td>
  </tr>
  <tr>
    <td class="fondoetiqueta"><b>[% formbuilder.field.id_tpprofesion.label%] :</b></td>
    <td>[% formbuilder.field.id_tpprofesion.field %]</td>
  </tr>
  <tr>
    <td class="fondoetiqueta"><b>[% formbuilder.field.torganismo.label%] :</b></td>
    <td>[% formbuilder.field.torganismo.field %]</td>
  </tr>
  <tr>
    <td class="fondoetiqueta"><b>[% formbuilder.field.tempresa.label%] :</b></td>
    <td>[% formbuilder.field.tempresa.field %]</td>
  </tr>
  <tr>
    <td class="fondoetiqueta"><b>[% formbuilder.field.trango.label%] :</b></td>
    <td>[% formbuilder.field.trango.field %]</td>
  </tr>
  <tr>
    <td class="fondoetiqueta"><b>[% formbuilder.field.tcargo.label%] :</b></td>
    <td>[% formbuilder.field.tcargo.field %]</td>
  </tr>
  <tr>
    <td class="fondoetiqueta"><b>Datos de Designaci&oacute;n :</b></td>
    <td>
      <table>
        <tr>
          <td><b>[% formbuilder.field.nrogaceta.label %] :</b></td>
          <td>[% formbuilder.field.nrogaceta.field %]</td>
        </tr>
        <tr>
          <td><b>Nro. Resoluci&oacute;n :</b></td>
          <td>[% formbuilder.field.nroresolucion.field %]</td>
        </tr>
        <tr>
          <td><b>[% formbuilder.field.nrodecreto.label %] :</b></td>
          <td>[% formbuilder.field.nrodecreto.field %]</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="fondoetiqueta"><b>Rango Fecha de Posesi&oacute;n Cargos :</b></td>
    <td>
      <b>Desde</b>&nbsp;[% formbuilder.field.dposdesde.field %] &nbsp;<img src="[% ruta_estatica %]/imagenes/calendario.jpg" title="Desplegar Calendario" width="25" height="18" id="t_dposdesde" style="cursor: pointer; border: 0px solid #0F305A;" onmouseover="this.style.background='#0F305A';" onMouseOut="this.style.background=''"/>
      <script type="text/javascript">
        Calendar.setup({
                         inputField     :    "dposdesde",    // id of the input field
                         ifFormat       :    "%d/%m/%Y",     // format of the input field
                         button         :    "t_dposdesde",  // trigger for the calendar (button ID)
                         align          :    "Tl",           // alignment (defaults to "Bl")
                         singleClick    :    true
                      });
      </script>
      &nbsp;<b>Hasta</b>&nbsp;[% formbuilder.field.dposhasta.field %] &nbsp;<img src="[% ruta_estatica %]/imagenes/calendario.jpg" title="Desplegar Calendario" width="25" height="18" id="t_dposhasta" style="cursor: pointer; border: 0px solid #0F305A;" onmouseover="this.style.background='#0F305A';" onMouseOut="this.style.background=''"/>
      <script type="text/javascript">
        Calendar.setup({
                         inputField     :    "dposhasta",    // id of the input field
                         ifFormat       :    "%d/%m/%Y",     // format of the input field
                         button         :    "t_dposhasta",  // trigger for the calendar (button ID)
                         align          :    "Tl",           // alignment (defaults to "Bl")
                         singleClick    :    true
                      });
      </script>
    </td>
  </tr>
  <tr>
    <td class="fondoetiqueta"><b>Rango Fecha de Cese Cargos :</b></td>
    <td>
      <b>Desde</b>&nbsp;[% formbuilder.field.dcesedesde.field %] &nbsp;<img src="[% ruta_estatica %]/imagenes/calendario.jpg" title="Desplegar Calendario" width="25" height="18" id="t_dcesedesde" style="cursor: pointer; border: 0px solid #0F305A;" onmouseover="this.style.background='#0F305A';" onMouseOut="this.style.background=''"/>
      <script type="text/javascript">
        Calendar.setup({
                         inputField     :    "dcesedesde",    // id of the input field
                         ifFormat       :    "%d/%m/%Y",     // format of the input field
                         button         :    "t_dcesedesde",  // trigger for the calendar (button ID)
                         align          :    "Tl",           // alignment (defaults to "Bl")
                         singleClick    :    true
                      });
      </script>
      &nbsp;<b>Hasta</b>&nbsp;[% formbuilder.field.dcesehasta.field %] &nbsp;<img src="[% ruta_estatica %]/imagenes/calendario.jpg" title="Desplegar Calendario" width="25" height="18" id="t_dcesehasta" style="cursor: pointer; border: 0px solid #0F305A;" onmouseover="this.style.background='#0F305A';" onMouseOut="this.style.background=''"/>
      <script type="text/javascript">
        Calendar.setup({
                         inputField     :    "dcesehasta",    // id of the input field
                         ifFormat       :    "%d/%m/%Y",     // format of the input field
                         button         :    "t_dcesehasta",  // trigger for the calendar (button ID)
                         align          :    "Tl",           // alignment (defaults to "Bl")
                         singleClick    :    true
                      });
      </script>
    </td>
  </tr>
  <tr>
    <td class="fondoetiqueta"><b>[% formbuilder.field.testatus.label %] :</b></td>
    <td>[% formbuilder.field.testatus.field %]</td>
  </tr>
  <tr>
    <td colspan="2" align="center">[% formbuilder.submit %]</td>
  </tr>
</table>
</fieldset>
</br>
[% formbuilder.end %]
</body>
</html>
