<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]
[%INCLUDE jsgenerales.tt %]

<!-- archivos de javascript para Prototype -->
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/prototype.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/controls.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/effects.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/dragdrop.js"></script>

<script>

function cambiarVSeccion(idseccion) {
  if (document.getElementById) {
    var forma           = document.getElementById('datospersona');
    var elementoSeccion = document.getElementById(idseccion);

    if ( forma.id_tpprofesion.value == [% IdArtista %] ){
      if (elementoSeccion.style.display == '') {
        elementoSeccion.style.display = 'none';
      } 
      else {
        elementoSeccion.style.display = '';
      }
    }
    else{
      forma.snombartistico.value = '';
      if (elementoSeccion.style.display == '') {
        elementoSeccion.style.display = 'none';
      }
    }
  }
}


function validate_datospersona (form) {
  var alertstr = '';
  var invalid  = 0;
  var invalid_fields = new Array();

// identificador: select list, always assume it's multiple to get all values
  var identificador = null;
  var selected_identificador = 0;
  for (var loop = 0; loop < form.elements['identificador'].options.length; loop++) {
    if (form.elements['identificador'].options[loop].selected) {
      identificador = form.elements['identificador'].options[loop].value;
      selected_identificador++;
      if (identificador == null || identificador == "" || identificador === "") {
        alertstr += '- Seleccione una opción para el campo "Identificador"\n';
        invalid++;
        invalid_fields.push('identificador');
      }
    } // if
  } // for identificador

// nidentidad: standard text, hidden, password, or textarea box
  var nidentidad = form.elements['nidentidad'].value;
  if (nidentidad == null || nidentidad == "" || ! nidentidad.match(/^-?\s*[0-9]+\.?[0-9]*$|^-?\s*\.[0-9]+$/)) {
    alertstr += '- Indique un valor válido para el campo "Nidentidad"\n';
    invalid++;
    invalid_fields.push('nidentidad');
  }
  else{
    if (nidentidad.length < 5 ){
      alertstr += '- El campo "Identidad" no puede tener menos de 5 dígitos\n ';
      invalid++;
      invalid_fields.push('nidentidad');
    }
  }

// apellido: standard text, hidden, password, or textarea box
  if (document.getElementById('apellido')){
    var apellido = form.elements['apellido'].value;
    if (apellido == null || apellido == "" || apellido === "") {
      alertstr += '- Indique un valor válido para el campo "Apellidos"\n';
      invalid++;
      invalid_fields.push('apellido');
    }
  }

// nombre: standard text, hidden, password, or textarea box
  if (document.getElementById('nombre')){
    var nombre = form.elements['nombre'].value;
    if (nombre == null || nombre == "" || nombre === "") {
      alertstr += '- Indique un valor válido para el campo "Nombres"\n';
      invalid++;
      invalid_fields.push('nombre');
    }
  }

// pais: select list, always assume it's multiple to get all values
  if (document.getElementById('pais')){
    var pais = null;
    var selected_pais = 0;
    for (var loop = 0; loop < form.elements['pais'].options.length; loop++) {
      if (form.elements['pais'].options[loop].selected) {
        pais = form.elements['pais'].options[loop].value;
        selected_pais++;
        if (pais == null || pais == "" || pais === "") {
          alertstr += '- Seleccione una opción para el campo "Pais"\n';
          invalid++;
          invalid_fields.push('pais');
        }
      } // if
    } // for pais
  } 

// ifoto: select list, always assume it's multiple to get all values
  if (document.getElementById('ifoto')){
    var foto = form.elements['ifoto'].value;
    if (foto){
      Nombres = foto.split('.');

      if ( Nombres[1] != "png" && Nombres[1] != "PNG" &&
           Nombres[1] != "jpg" && Nombres[1] != "JPG" &&
           Nombres[1] != "gif" && Nombres[1] != "GIF" &&
           Nombres[1] != "bmp" && Nombres[1] != "BMP" ){
           alertstr += '- Debe indicar solo imágenes para asociar la foto (png,jpg,gif,bmp)\n';
           invalid++;
           invalid_fields.push('Foto');
      }
    }
  }

// idocumentofoto: select list, always assume it's multiple to get all values
  if (document.getElementById('idocumento')){
    var foto = form.elements['idocumento'].value;
    if (foto){
      Nombres = foto.split('.');
      
      if ( Nombres[1] != "pdf" ){
           alertstr += '- Debe indicar solo archivos pdf para asociar documentos\n';
           invalid++;
           invalid_fields.push('Documento');
      }
    }
  }

  if (invalid > 0 || alertstr != '') {
    if (! invalid) invalid = 'The following';   // catch for programmer error
    alert(''+invalid+' error(es) fueron encontrados al aceptar la información:'+'\n\n'
    +alertstr+'\n'+'- Por favor corrija los campos y trate de nuevo');
    return false;
  }
  return true;  // all checked ok
}
//-->
</script>

[%formbuilder.jshead%]

[%INCLUDE jscargarmenu.tt%]

</head>
<body onload="cargarMenu();">

[%INCLUDE encabezado.tt %]
[%formbuilder.start%]
[%formbuilder.statetags%]
[%formbuilder.keepextras%]
<fieldset>
<legend>Datos Identificador</legend>
<table width="60%" border="0" align="center" cellspacing="3" cellpadding="5">
  <tr>
    <td colspan="3" class="titulodonforojo" align="center"><b>Datos del Identificador</b></td>
  </tr>
  <tr>
    <td class="fondoetiqueta">[% formbuilder.field.identificador.label %]:</td>
    <td>[% formbuilder.field.identificador.field %] &nbsp; [% formbuilder.field.nidentidad.field %]</td>
  </tr>
  [% IF bdatos != 1 %]
    <tr>
      <td colspan="3" align="center">[% formbuilder.field.btncontinuar.field %]</td>
    </tr>
  [% END %]
</table>
</fieldset>
[% IF bdatos == 1 %]
<fieldset>
  <legend>Datos B&aacute;sicos</legend>
  <table width="60%" border="0" align="center" cellspacing="3" cellpadding="5">
    <tr>
      <td class="titulodonforojo" colspan="3" align="center">Datos B&aacute;sicos</td>
    </tr>
    <tr>
      <td class="fondoetiqueta">[% formbuilder.field.apellido.label %]:</td>
      <td colspan="2" >[% formbuilder.field.apellido.field %]</td>
    </tr>
    <tr>
      <td class="fondoetiqueta">[% formbuilder.field.nombre.label %]:</td>
      <td colspan="2">[% formbuilder.field.nombre.field %]</td>
    </tr>
    [% IF bPais == 1 %]
      <tr>
        <td class="fondoetiqueta">[% formbuilder.field.pais.label %]:</td>
        <td colspan="2"><b>[% PaisDesc %]</b></td>
      </tr>
    [% ELSE %]
      <tr>
        <td class="fondoetiqueta">[% formbuilder.field.pais.label %]:</td>
        <td colspan="2">[% formbuilder.field.pais.field %]</td>
      </tr>
    [% END %]
    <tr>
      <td class="fondoetiqueta">[% formbuilder.field.id_tpprofesion.label %]:</td>
      <td colspan="2">[% formbuilder.field.id_tpprofesion.field %]</td>
    </tr>
    <tr>
      <td colspan="2">
        <table id="tbl_nombartistico" border="0" cellspacing="2" cellpadding="2" width="100%" style="display:[% display %];">
          <tr>
            <td class="fondoetiqueta">[% formbuilder.field.snombartistico.label %]:</td>
            <td colspan="2">[% formbuilder.field.snombartistico.field %]</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td class="fondoetiqueta">[% formbuilder.field.rango.label %]:</td>
      <td colspan="2">[% formbuilder.field.rango.field %]</td>
    </tr>
    <tr>
      <td class="fondoetiqueta" align="left">Asociar Foto: </td>
      <td>[% formbuilder.field.ifoto.field %]</td>
      <td align="left">[% IF archivo_foto %]<a nowrap href="#" onclick=" runMode( 'ver_foto' );"><img border=0 src="[% src_foto %]" width="100" height="100"></a>[% END %]</td>
    </tr>
    <tr>
      <td class="fondoetiqueta" align="left">Asociar Documento: </td>
      <td>[% formbuilder.field.idocumento.field %]</td>
      <td align="left">[% IF archivo_documento %]<a nowrap href="#" onclick=" runMode( 'ver_documento' );">Ver Documento</a>[% END %]</td>
    </tr>
  </table>
  <table border="0" align="center" cellspacing="0" cellpadding="5">
    <tr>
      <td align="center">[% formbuilder.field.btnguardar.field %]</td>
      <td align="center">[% formbuilder.field.btnsiguiente.field %]</td>
    </tr>
  </table>
</fieldset>
[% END %]
</br>
[% formbuilder.field.id_persona.field %]
[% formbuilder.field.tipover.field %]
[% IF bPais == 1 %]
[% formbuilder.field.h_pais.field %]
[% END %]
[% formbuilder.end %]
</body>
</html>
