<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]
[%INCLUDE jsgenerales.tt %]

<!-- archivos de javascript para Prototype -->
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/prototype.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/controls.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/effects.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/dragdrop.js"></script>

[%formbuilder.jshead%]

[%INCLUDE jscargarmenu.tt%]

</head>
<body onload="cargarMenu();">

[%INCLUDE encabezado.tt %]
[%formbuilder.start%]
[%formbuilder.statetags%]
[%formbuilder.keepextras%]
<fieldset>
<legend>CARGOS</legend>
<table border="0" align="center" cellspacing="3" cellpadding="5" width="60%">
  <tr>
    <td class="fondoetiqueta" align="right"><b>[% formbuilder.field.identificador.label %]</b></td>
    <td>[% formbuilder.field.identificador.value %]</td>
    <td class="fondoetiqueta" align="right"><b>[% formbuilder.field.nombre.label %]</b></td>
    <td>[% formbuilder.field.nombre.value %]</td>
  </tr>
</table>
<br/>
<table border="0" align="center" cellspacing="3" cellpadding="5" width="60%">
  <tr>
    <td class="titulodonforojo" align="center"><b>Cargo</b></td>
    <td class="titulodonforojo" align="center"><b>Instituto/Empresa</b></td>
    <td class="titulodonforojo" align="center"><b>Fecha de Posesion</b></td>
    <td class="titulodonforojo" align="center"><b>Fecha  de Cese</b></td>
    <td class="titulodonforojo" align="center"><b>Estatus</b></td>
  </tr>
  [% FOREACH listado %]
    <tr bgcolor="[% clase %]">
      <td><a href="#" onclick="runMode( 'cambiar', '[% id_cargo %]')">[% desccargo %]</a></td>
      <td align="left">[% empresa %]</td>
      <td align="center">[% dposesion %]</td>
      <td align="center">[% dcese %]</td>
      <td align="center">[% estatus %]</td>
    </tr>
  [% END %]
</table>
</br>
<br/>
  [% IF listado and last_page > 1 %]
    <br>
    <table align="center" width="30%">
      <tr>
        <td width="45%">
          <a style="text-decoration:none" href="javascript:paginar([% previous_page %])"><< Anterior</a>
        </td>
        <td width="10%" align="center">
          [% current_page %] / [% last_page %]
        </td>
        <td width="45%" align="right">
          <a style="text-decoration:none" href="javascript:paginar([% next_page %])">Siguiente >></a>
        </td>
      </tr>
    </table>
  [% END %]
</table>
</br>
<table border="0" align="center" cellspacing="3" cellpadding="5" with="60%">
  <tr>
    <table align="center">
      <tr>
        <td align="center">[% formbuilder.field.btnvolver.field %]</td>
        <td align="center">[% formbuilder.submit %]</td>
      </tr>
    </table>
  </tr>
</table>
[% formbuilder.field.id_persona.field %]
[% formbuilder.field.id_cargo.field %]
[% formbuilder.field.page.field %]
[%formbuilder.end%]
</body>
</html>
