<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]
[%INCLUDE jsgenerales.tt %]

<!-- archivos de javascript para Prototype -->
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/prototype.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/controls.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/effects.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/dragdrop.js"></script>

[%formbuilder.jshead%]

[%INCLUDE jscargarmenu.tt%]

</head>
<body onload="cargarMenu();">

[%INCLUDE encabezado.tt %]
[%formbuilder.start%]
[%formbuilder.statetags%]
[%formbuilder.keepextras%]
<table border="0" align="center" cellspacing="3" cellpadding="5" width="100%">
  <tr class="titulodonforojo">
    <td align="center"><b>Nombre</b></td>
    <td align="center"><b>Nro. CI / Pasaporte / DNI</b></td>
    <td align="center"><b>Tipo de Persona</b></td>
    <td align="center"><b>Profesión</b></td>
    <td align="center"><b>Pa&iacute;s</b></td>
    <td width="60%" align="center"><b>CARGOS</b></td>
  </tr>
  [% FOREACH listado %]
    <tr bgcolor="[% clase %]">
      <td align="left">[% nombre %]
      <td align="left">[% identidad %]</td>
      <td align="center">[% tppersona %]</td>
      <td align="center">[% tpprofesion %]</td>
      <td align="center">[% pais %]</td>
      <td colspan="7">
        <table border="1">
          <tr>
            <td width="14%" class="fondoetiqueta" align="center"><b>Tipo de Organismo</b></td>
            <td width="14%" class="fondoetiqueta" align="center"><b>Instituto / Empresa</b></td>
            <td width="14%" class="fondoetiqueta" align="center"><b>Organismo Adjunto</b></td>
            <td width="14%" class="fondoetiqueta" align="center"><b>Cargo</b></td>
            <td width="14%" class="fondoetiqueta" align="center"><b>Estatus</b></td>
            <td width="14%" class="fondoetiqueta" align="center"><b>Designaci&oacute;n</b></td>
            <td width="14%" class="fondoetiqueta" align="center"><b>Fecha Posesi&oacute;n</b></td>
            <td width="14%" class="fondoetiqueta" align="center"><b>Fecha Cese</b></td>
          </tr>
        [% FOREACH listacargo %]
          <tr>
            <td align="left">[% organismo %]</td>
            <td align="left">[% empresa %]</td>
            <td align="left">[% orgadjunto %]</td>
            <td align="left">[% cargo %]</td>
            <td align="center">[% estatus %]</td>
            <td align="left">[% descdesignacion %]</td>
            <td align="left">[% dposesion %]</td>
            <td align="left">[% dcese %]</td>
          </tr>
        [% END %]
        </table>
      </td>
    </tr>
  [% END %]
</table>
</br>
<br/>
  [% IF listado and last_page > 1 %]
    <br>
    <table align="center" width="30%">
      <tr>
        <td width="45%">
          <a style="text-decoration:none" href="javascript:paginar([% previous_page %])"><< Anterior</a>
        </td>
        <td width="10%" align="center">
          [% current_page %] / [% last_page %]
        </td>
        <td width="45%" align="right">
          <a style="text-decoration:none" href="javascript:paginar([% next_page %])">Siguiente >></a>
        </td>
      </tr>
    </table>
  [% END %]
</table>
</br>
<table border="0" align="center" cellspacing="3" cellpadding="5" with="60%">
  <tr>
    <table align="center">
      <tr>
        <td align="center"><a href="#" onclick=" runMode( 'excel' );"><img border="0" id="excel" name="excel" src="[%ruta_estatica%]/imagenes/excel.jpg"></a><b>Excel</b></td>
        <td align="center"><a href="#" onclick=" runMode( 'pdf' );"><img border="0" id="pdf" name="pdf" src="[%ruta_estatica%]/imagenes/pdf.jpg"></a><b>Pdf</b></td>
      </tr>
      <tr>
        <td colspan="2" align="center">[% formbuilder.field.btnvolver.field %]</td>
      </tr>
    </table>
  </tr>
</table>
[% formbuilder.field.page.field %]
[%formbuilder.end%]
</body>
</html>
