<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]
[%INCLUDE jsgenerales.tt %]

<!-- archivos de javascript para Prototype -->
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/prototype.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/controls.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/effects.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/dragdrop.js"></script>

[%formbuilder.jshead%]

[%INCLUDE jscargarmenu.tt%]

</head>
<body onload="cargarMenu();">

[%INCLUDE encabezado.tt %]
[%formbuilder.start%]
[%formbuilder.statetags%]
[%formbuilder.keepextras%]
<fieldset>
<legend>Administrar Tablas Tipo</legend>
<br>
<table align="center" colspan="3">
  <tr>
    <td>
      <table border="0" cellspacing="0" cellpadding="5" align="center" >
        <tr>
          <td><b>[% formbuilder.field.nombretabla.label %]:</b></td>
          <td>[%formbuilder.field.nombretabla.field %]</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</fieldset>
<table align="center" colspan="3">
  <tr>
    <td align="center">[% formbuilder.submit %]</td>
  </tr>
</table>
[% formbuilder.field.origen.field %]
[%formbuilder.end%]
<br/>
</body>
</html>
