<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]

<!-- archivos de javascript para Prototype -->
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/prototype.js"></script>

<!-- archivos de javascript para Seleccionar Item en las Listas -->
<script type="text/javascript" src="[%ruta_estatica%]/js/seleccionarItemList.js"></script>

<!-- archivos de javascript generales (cargar en todas las páginas) -->
[% INCLUDE jsgenerales.tt %]

<!-- hoja de estilo del calendario -->
<link rel="stylesheet" type="text/css" media="all" href="[% ruta_estatica %]/js/jscalendar/calendar-win2k-cold-2.css" title="Calendario" />
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/calendar.js"></script>
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/lang/calendar-es.js"></script>
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/calendar-setup.js"></script>
1
[% INCLUDE jscargarmenu.tt %]
[% formbuilder.jshead %]
<script  type="text/javascript">
   function calcular(){
      var forma=document.datosbasicos;
      var resultado,valor,tasa,monto;
      tasa = replaceCharacters(editarValorMoneda(forma.ntasainteres.value),",",".");
      tasa = redondeoDecimal(tasa,2);
      monto = replaceCharacters(editarValorMoneda(forma.nmonto.value),",",".");
      monto = redondeoDecimal(monto,2);

      valor= (parseFloat(monto) * parseFloat(tasa/100))+ monto ;
      
      if (isNaN(valor) || valor=='Infinity') {
         resultado=0;
      }else{
         resultado=redondeoDecimal(valor,2);
      }
       
      document.getElementById('basecalculo').innerHTML = formatearMoneda(resultado) + " Bs.";
      forma.totalingreso.value=resultado
   }
</script>
[% formbuilder.jsfunc%]
</head>

<body onload="cargarMenu();calcular();">
[% INCLUDE encabezado.tt %]
[% formbuilder.start %]
[% formbuilder.statetags %]
[% formbuilder.keepextras %]

<fieldset>
<legend>Registar Ingreso</legend>
<table align="center" width="65%" >
  <tr>
    <td align="left" class="fondoetiqueta" width="35%"><b>[% formbuilder.field.id_tpingreso.label %]<b></td>
    <td align="left">[% formbuilder.field.id_tpingreso.field %](*)</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" width="35%"><b>[% formbuilder.field.id_tpinteres.label %]<b></td>
    <td align="left">[% formbuilder.field.id_tpinteres.field %](*)</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" width="35%"><b>[% formbuilder.field.imes.label %]<b></td>
    <td align="left">[% formbuilder.field.imes.field %](*)</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" width="35%"><b>[% formbuilder.field.nmonto.label %]<b></td>
    <td align="left">[% formbuilder.field.nmonto.field %](*)</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" width="35%"><b>[% formbuilder.field.ntasainteres.label %]<b></td>
    <td align="left">[% formbuilder.field.ntasainteres.field %](*)</td>
  </tr>
  <tr>
    <td align="left" class="fondoetiqueta" width="35%"><b>[% formbuilder.field.totalingreso.label %]<b></td>
    <td align="left"><div id="basecalculo"></div></td>
  </tr>
</table>
<table align="center" width="65%">
  <tr class=''>
      <td colspan=2 >(*) Estos campos son obligatorios</td>
  </tr>
<tr>
    <td colspan="2" align="center">[% formbuilder.field.btnregresar.field %][% formbuilder.submit %] [% formbuilder.field.totalingreso.field %] [% formbuilder.field.id_unidadesadmin.field %] [% formbuilder.field.id.field %]</td>
  </tr>
</table>
</fieldset>
[% formbuilder.end %]
</body>
</html>