<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]
[%INCLUDE jsgenerales.tt %]

<!-- archivos de javascript para Prototype -->
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/prototype.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/controls.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/effects.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/dragdrop.js"></script>

<script type="text/javascript">
function validar_desc ( numero ){
  var form = document.getElementById('crearcompetencia');
  var campo = eval('form.descripcion_'+numero);

  var invalid = 0;
  var alertstr = '';

  if (campo.value == ''){
    alertstr += '- Error el campo descripción debe tener algún valor \n';
    invalid++;
  }

  if (invalid){
    alert ( alertstr );
    return false;
  }

  return true;
}

function validar_peso ( numero ){
  var form = document.getElementById('crearcompetencia');
  var campo = eval('form.peso_'+numero);

  var invalid = 0;
  var alertstr = '';

  var nivel = form.elements['stnivel'];
  var pesos = new Array("2.5", "5", "7.5", "10", "12.5");
  var valorvalido = 0;

  if ( nivel.value == 11 ){
    if (campo.value == ''){
        alertstr += '- Error el peso de la competencia debe ser indicado \n';
        invalid++;
    }
    else{
      for ( var loop = 0; loop <= pesos.length; loop++){
        if (parseFloat(campo.value) == parseFloat(pesos[loop])){
          valorvalido++;
        }
      }
      if ( !valorvalido ){
        alertstr += '- Error el peso de la competencia debe pertenecer a uno de los siguientes valores "2.5", "5", "7.5", "10", "12.5" \n';
        campo.value = '';
        invalid++;
      }
    }
  }
  else{
    if ( campo.value ){
      if (campo.value < 5 || campo.value > 7){
        alertstr += '- Error el peso de la competencia no puede ser menor a 5 ni mayor a 7 \n';
        campo.value = '';
        invalid++;
      }
    }
  }

  if (invalid){
    alert ( alertstr );
    return false;
  }

  return true;
}

function validate_crearcompetencia () {
  var form = document.getElementById('crearcompetencia');
  var alertstr = '';
  var invalid  = 0;
  var invalid_fields = new Array();
  var nivel = form.elements['stnivel'];

// stnivel: select list, always assume it's multiple to get all values
  var stnivel = null;
  var selected_stnivel = 0;
  var limite = form.elements['hcargados'];

  for ( var lista = 0; lista <= limite.value; lista++){

    var categ = eval('form.categoria_'+lista);
    if (document.getElementById(categ.name)){
      for (var loop = 0; loop < form.elements['stnivel'].options.length; loop++) {
        if (categ.options[loop].selected) {
          categoria = categ.options[loop].value;
          selected_stnivel++;
          if (categoria == null || categoria === "") {
            alert('- Seleccione una opción para el campo "Categoria Linea '+lista+'\n');
            return false;
          }
        } // for stnivel
      }

// descripcion: standard text, hidden, password, or textarea box
      var descrip = eval('form.descripcion_'+lista);
      if (document.getElementById(descrip.name)){
        if (descrip.value == null || descrip.value === "" || descrip.value == " ") {
          alert('- Indique un valor válido para el campo "Descripcion:" Linea '+ ++lista+'\n');
          return false;
        }
      }

// peso: standard text, hidden, password, or textarea box
    var pesos = new Array("2.5", "5", "7.5", "10", "12.5");
    var valorvalido = 0;

      var campo = eval('form.peso_'+lista);
      if ( nivel.value == 11 ){
        if (campo.value == ''){
          alert('- Error el peso de la competencia debe ser indicado \n');
          return false;
        } 
        else{
          for ( var loop = 0; loop <= pesos.length; loop++){
            if (parseFloat(campo.value) == parseFloat(pesos[loop])){
              valorvalido++;
            }
          }
          if ( !valorvalido ){
            alert('- Error el peso de la competencia debe pertenecer a uno de los siguientes valores "2.5", "5", "7.5", "10", "12.5" \n');
            return false;
          }
        }
      }
      else{
        if ( campo.value ){
          if (campo.value < 5 || campo.value > 7){
            alert('- Error el peso de la competencia no puede ser menor a 5 ni mayor a 7 \n');
            return false;
          }
        }
      }
    }
  }

  return true;  // all checked ok
}


</script>

[%formbuilder.jshead%]

[%INCLUDE jscargarmenu.tt%]

</head>
<body onload="cargarMenu();">

[%INCLUDE encabezado.tt %]
[%formbuilder.start%]
[%formbuilder.statetags%]
[%formbuilder.keepextras%]
<fieldset>
<legend>Crear Competencia</legend>
<br>
<table align="center" colspan="3">
  <tr>
    <td>
        <table border="0" cellspacing="0" cellpadding="5" align="center" >
          <tr>
            <td colspan="1"><b>[%formbuilder.field.stnivel.label%]</b></td>
            <td colspan="1">[%formbuilder.field.stnivel.field%]</td>
          </tr>
        </table>
    </td>
  </tr>
</table>
<table id="challenge" align="center" border="0" cellpadding="2" width="83%" >
  <thead>
    <tr>
      <td align="center" colspan="4" class="titulodonforojo">Informaci&oacute;n de Competencia</td>
    </tr>
    <tr>
      <td align="center" width="50%" class="fondoetiqueta2"><strong>Categor&iacute;a</strong></td>
      <td align="center" class="fondoetiqueta2"><strong>Descripci&oacute;n</strong></td>
      <td align="center" class="fondoetiqueta2"><strong>Peso</strong></td>
      <td align="center" class="fondoetiqueta2"><strong>Eliminar</strong></td>
    </tr>
  </thead>
  <tbody>
  [% FOREACH listado %]
    <tr>
      <td align="center">
        <input type="hidden" name="[% nombre_id %]" value="[% val_id %]" id="[% id_id %]">
        <SELECT name="[% nombre_cate %]" id="[% id_cate %]"> 
          [% FOREACH id_categoria %]
            <option [% selected %] value="[% value %]">[% descrip %]</option>
          [% END %]
        </SELECT>
      </td>
      <td align="center">
        <textarea cols="50" rows="3" name="[% nombre_desc %]"  id="[% id_desc %]" onchange="javascript: validar_desc([% num %]);">[% val_desc %]</textarea>
      </td>
      <td align="center">
        <input type="text" size="2" name="[% nombre_peso %]" value="[% val_peso %]" id="[% id_peso %]" onchange="javascript: validar_peso([% num %]);">
      </td>
      <td>
       [% IF borrar == 1 %]
         <a href="/evaluacion/regtocompetencia/eliminarCompetencia/[%formbuilder.field.stnivel.value %]/[% val_id %]"><img src="[% ruta_estatica %]/imagenes/del.png" border="0"></a></td>
       [% END %]
      </td>
    </tr>
  [% END %]
  </tbody>
</table>
</fieldset>
<table align="center" colspan="3">
  <tr>
[% IF bMostrarAgregar == 1 %]
    <td align="right">[% formbuilder.field.btnAgregar.field %]</td>
[% END %]
[% IF bMostrar %]
    <td align="left">[% formbuilder.submit %]</td>
[% END %]
  </tr>
</table>
[% formbuilder.field.hcargados.field %]
[%formbuilder.end%]
<br/>
</body>
</html>
