<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]
[%INCLUDE jsgenerales.tt %]

<!-- archivos de javascript para Prototype -->
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/prototype.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/controls.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/effects.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/dragdrop.js"></script>

[%formbuilder.jshead%]

[%INCLUDE jscargarmenu.tt%]

</head>
<body onload="cargarMenu();">

[%INCLUDE encabezado.tt %]
[%formbuilder.start%]
[%formbuilder.statetags%]
[%formbuilder.keepextras%]
<fieldset>
<legend>Datos del Evaluado</legend>
<table border="0" align="center" cellspacing="0" cellpadding="5">
  <tr>
    <td><b>N&uacute;mero de C&eacute;dula:</b></td>
    [% IF nombreapellido != '' %]
      <td>[% ncedulaevaluado %]</td>
      <td border="1">[% nombreapellido %] [% formbuilder.field.h_ncedulaevaluado.field %]</td>
    [% ELSE %]
      <td>[% formbuilder.field.ncedulaevaluado.field %]</td>
      <td border="1">[% formbuilder.submit %]</td>
    [% END %]
  </tr>
  [% IF nombreapellido != '' %]
    [% IF byaexiste == 1 %]
      <tr>
        <td  align="left" ><b>Evaluador:</b></td>
        <td> [% ncedulaevaluador %]</td>
        <td> [% nombreapellido_sup %]</td>
      </tr>
    [% END %]
    <tr>
      <td align="center" colspan="3">
        <table>
          <tr>
            <td align="center">[% formbuilder.field.btnvolver.field %]</td>
            <td align="center">[% formbuilder.field.btnaceptar.field %]</td>
          </tr>
      </td>
    </tr>
  [% END %]
</table>
</br>
</fieldset>
<br>
[% formbuilder.field.ncedevaluador.field %]
[% formbuilder.end %]
<br/>
</body>
</html>
