<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]
[%INCLUDE jsgenerales.tt %]

<!-- archivos de javascript para Prototype -->
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/prototype.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/controls.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/effects.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/dragdrop.js"></script>

<script type="text/javascript">

function validar_peso ( ){
  var form = document.getElementById('datoscompetencia');
  var invalid = 0;
  var alertstr = '';

  var peso = form.elements['peso'];
  var nivel = form.elements['nivel'];
  var pesos = new Array("2.5", "5", "7.5", "10", "12.5");
  var valorvalido = 0;

  if ( nivel.value == 11 ){
    if (peso.value == ''){
        alertstr += '- Error el peso de la competencia debe ser indicado \n';
        invalid++;
    }
    else{
      for ( var loop = 0; loop <= pesos.length; loop++){
        if (peso.value == pesos[loop]){
          valorvalido++;
        }
      }
      if ( !valorvalido ){
        alertstr += '- Error el peso de la competencia debe pertenecer a uno de los siguientes valores "2.5", "5", "7.5", "10", "12.5" \n';
        peso.value = '';
        invalid++;
      }
    }
  }
  else{
    if (peso.value){
      if (peso.value < 5 || peso.value > 7){
        alertstr += '- Error el peso de la competencia no puede ser menor a 5 ni mayor a 7 \n';
        peso.value = '';
        invalid++;
      }
    }
  }

  if (invalid){
    alert ( alertstr );
    return false;
  }

  return true;
}

</script>

[%formbuilder.jshead%]

[%INCLUDE jscargarmenu.tt%]

</head>
<body onload="cargarMenu();">

[%INCLUDE encabezado.tt %]
[%formbuilder.start%]
[%formbuilder.statetags%]
[%formbuilder.keepextras%]
<fieldset>
<legend>Datos Competencia</legend>
<table width="60%" border="0" align="center" cellspacing="3" cellpadding="5">
  <tr>
    <td align="center" colspan="2" class="titulodonforojo"><b>[% nivel %]</b></td>
  </tr>
  <tr>
    <td class="fondoetiqueta"><b>[% formbuilder.field.categoria.label %]:</b></td>
    <td class="fondoetiqueta2">[% formbuilder.field.categoria.field %] <b>(*)</b></td>
  </tr>
  <tr>
    <td class="fondoetiqueta"><b>[% formbuilder.field.descripcion.label %]:</b></td>
    <td class="fondoetiqueta2">[% formbuilder.field.descripcion.field %] <b>(*)</b></td>
  </tr>
  <tr>
    <td class="fondoetiqueta"><b>[% formbuilder.field.peso.label %]:</b></td>
    <td class="fondoetiqueta2">[% formbuilder.field.peso.field %]</td>
  </tr>
  <tr>
    <td colspan="2" align="left" ><font color="#0F305A" size="0" >Nota: (*) Estos campos son obligatorios.</font></td>
  </tr>
</table>
<table width="60%" border="0" align="center" cellspacing="3" cellpadding="5">
  <tr>
    <td align="right">[% formbuilder.field.btnvolver.field %]</td>
    <td align="left">[% formbuilder.field.btnguardar.field %]</td>
  </tr>
</table>
[% formbuilder.field.nId.field %]
[% formbuilder.field.nivel.field %]
[% formbuilder.end %]
</body>
</html>
