<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
pe
<html>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="now">
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]
[%INCLUDE jsgenerales.tt %]

<!-- archivos de javascript para Prototype -->
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/prototype.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/controls.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/effects.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/dragdrop.js"></script>

<script type="text/javascript">

function openWin( ced ){
  var url = "/evaluacion/regtoodi/imprimirSeguimiento/"+ced;
  window.open(url,'','toolbar=0,menubar=0,scrollbars=1,status=0,resizable=1,width =750,height=750');
}

function ismaxlength(obj){
  var mlength=obj.getAttribute? parseInt(obj.getAttribute("maxlength")) : ""
  if (obj.getAttribute && obj.value.length>mlength)
    obj.value=obj.value.substring(0,mlength)
}

</script>

[%formbuilder.jshead%]

[%INCLUDE jscargarmenu.tt%]

</head>
<body onload="cargarMenu();">

[%INCLUDE encabezado.tt %]
[%formbuilder.start%]
[%formbuilder.statetags%]
[%formbuilder.keepextras%]
[% IF NOT error_msg %]
<fieldset>
<legend>Datos Evaluado</legend>
<table border="1" align="center" cellspacing="0" cellpadding="5">
  <tr>
    <td border="1"><b>Nro. C&eacute;dula:</b></td>
    <td border="1">[% cedula %]
    <td border="1"><b>Nombres y Apellidos:</b></td>
    <td border="1">[% nombreapellido %]
    <td border="1"><b>Cargo:</b></td>
    <td border="1">[% cargo %]</td>
  </tr>
</table>
</fieldset>
<br>
<fieldset>
<legend>Establecimiento y Seguimiento de los ODIS</legend>
<table align="center" cellspacing="0" cellpadding="5">
  [% IF listado %]
      <table width="100%" align="center" border="1">
        <tr>
          <td colspan="5" align="center" class="titulodonfomarillo">[% descestatusodi %]</td>
        </tr>
        <tr class="titulodonforojo">
          <tr class="titulodonforojo">
          <td width="32%" align="center">Objetivo</td>
          <td width="2%" align="center">Peso</td>
          <td width="22%" align="center" wrap="hard">Primera Revision</td>
          <td width="22%" align="center" wrap="hard">Segunda Revision</td>
          <td width="22%" align="center" wrap="hard">Tercera Revision</td>
        </tr>
      [% FOREACH listado %]
        <tr>
          <td width="32%" wrap="hard" align="justify"><input type="hidden" name="id" value="[% id %]" id="id"> <b>[% descripcion %]</td>
          <td width="2%" wrap="hard" >[% peso %]</td>
          [% IF NOT revision.1 %]
            <td width="22%" align="center">
              <textarea cols="28" rows="5" maxlength="350" name="[% nombre_desc %]" onchange="return ismaxlength(this)" onkeyup="return ismaxlength(this)" id="[% id_desc %]">[% val_desc %]</textarea>
            </td>
          [% ELSE %]
            <td width="22%" wrap="hard">[% revision.1 %]</td>
          [% END %]
          [% IF revision.1 AND NOT revision.2 %]
            <td width="22%" align="center">
              <textarea cols="28" rows="5" maxlength="350" name="[% nombre_desc %]" onchange="return ismaxlength(this)" onkeyup="return ismaxlength(this)" id="[% id_desc %]">[% val_desc %]</textarea>
            </td>
          [% ELSE %]
            <td width="22%" wrap="hard">[% revision.2 %]</td>
          [% END %]
          [% IF revision.2 AND NOT revision.3 %]
            <td width="22%" align="center">
              <textarea cols="28" rows="5" maxlength="350" name="[% nombre_desc %]" onchange="return ismaxlength(this)" onkeyup="return ismaxlength(this)" id="[% id_desc %]">[% val_desc %]</textarea>
            </td>
          [% ELSE %]
            <td width="22%" wrap="hard">[% revision.3 %]</td>
          [% END %]
        </tr>
        [% END %]
      </table>
    [% END %]
  </table>
</fieldset>
<table align="center" colspan="3">
  <tr>
    <td align="center">[% formbuilder.field.btnVolver.field %]</td>
    [% UNLESS idestatusseguim == '12' %]
    <td align="center">[% formbuilder.submit %]</td>
    [% END %]
    <td align="center">[% formbuilder.field.btnimprimir.field %]</td>
  </tr>
</table>
[% END %]
[% formbuilder.field.ncedula.field %]
[% formbuilder.end %]
<br/>
</body>
</html>
