<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]
[%INCLUDE jsgenerales.tt %]

<!-- archivos de javascript para Prototype -->
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/prototype.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/controls.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/effects.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/dragdrop.js"></script>

[%formbuilder.jshead%]

[%INCLUDE jscargarmenu.tt%]

</head>
<body onload="cargarMenu();">

[%INCLUDE encabezado.tt %]
[%formbuilder.start%]
[%formbuilder.statetags%]
[%formbuilder.keepextras%]
<fieldset>
<legend>Datos Evaluador</legend>
<table border="0" align="center" cellspacing="3" cellpadding="5">
  <tr>
    <td border="1"><b>Nro. C&eacute;dula:</b></td>
    <td border="1">[% cedula %]
    <td border="1"><b>Nombres y Apellidos:</b></td>
    <td border="1">[% nombreapellido %]
    <td border="1"><b>Cargo:</b></td>
    <td border="1">[% cargo %]</td>
  </tr>
</table>
</fieldset>
<br>
<fieldset>
<legend>Lista de Evaluados</legend>
<table align="center" cellspacing="3" cellpadding="5">
  [% IF listado %]
    <table align="center" border="1">
      <tr class="titulodonforojo">
        <td align="center">C&eacute;dula</td>
        <td align="center">Nombre Evaluado</td>
        <td align="center">Estatus Odi</td>
        <td align="center">Estatus Competencia</td>
        <td align="center">Estatus Seguimiento</td>
      </tr>
      [% FOREACH listado %]
        <tr bgcolor="[% clase %]">
          <td align="center">[% id_evaluado %]</td>
          <td nowrap><input type="hidden" name="id_evaluado" id="id_evaluado" value="[% id_evaluado %]">[% NombreEvaluado %]</td>
          <td nowrap>[% descodiestatus %]</td>
          <td nowrap>[% desccompestatus %]</td>
          <td nowrap>[% descsegestatus %]</td>
        </tr>
      [% END %]
    </table>
  [% END %]
</table>
</fieldset>
[% formbuilder.field.ncedula.field %]
[% formbuilder.end %]
<br/>
</body>
</html>
