<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]
[%INCLUDE jsgenerales.tt %]

<!-- archivos de javascript para Prototype -->
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/prototype.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/controls.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/effects.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/dragdrop.js"></script>

[%formbuilder.jshead%]

[%INCLUDE jscargarmenu.tt%]

</head>
<body onload="cargarMenu();">

[%INCLUDE encabezado.tt %]
[%formbuilder.start%]
[%formbuilder.statetags%]
[%formbuilder.keepextras%]
<fieldset>
<legend>Lista de Evaluadores</legend>
<table align="center" cellspacing="0" cellpadding="5">
  <tr>
    <td>
      [% IF listado %]
        <table align="center" border="1">
          <tr class="titulodonforojo">
            <td align="center">C&eacute;dula Evaluador</td>
            <td align="center">Nombre Evaluador</td>
            <td align="center">Cédula Supervisor</td>
            <td align="center">Nombre Supervisor</td>
            <td align="center">Cambiar/Eliminar</td>
          </tr>
          [% FOREACH listado %]
            <tr bgcolor="[% clase %]">
              <td ><input type="hidden" name="id_evaluador" id="id_evaluador" value="[% id_evaluado %]">[% CedEvaluador %]</td>
              [% IF cambia_elimina == 1 %]
                <td nowrap><a href="#" onclick="runMode( 'cambiar', '[% CedEvaluador %]' );">[% NombreEvaluador %]</a></td>
              [% ELSE %]
                <td nowrap>[% NombreEvaluador %]</td>
              [% END %]
              <td nowrap>[% CedulaSupervisor %]</td>
              <td nowrap>[% NombreSupervisor %]</td>
              <!--  <td align="center" nowrap><a href="#" onclick="runMode( 'cambiar', '[% CedEvaluador %]' );">Cambiar</a></td> -->
              <td align="center"><a href="#" onclick="runMode( 'eliminar', '[% CedEvaluador %]' );"><img src="[% ruta_estatica %]/imagenes/del.png" border="0"></a></td>
            </tr>
          [% END %]
          <tr>
            <td align="center" colspan="5">[% formbuilder.field.btnagregar.field %]</td>
          </tr>
        </table>
      [%END%]
    </td>
  </tr>
</table>
[% IF listado and last_page > 1 %]
<br>
<table align="center" width="30%">
  <tr>
    <td width="45%">
    [% IF current_page != 1 %]
      <a style="text-decoration:none" href="javascript:paginar([% previous_page %])"><< Anterior</a>
    [% END %]
    </td>
    <td width="10%" align="center">
      [% current_page %] / [% last_page %]
    </td>
      <td width="45%" align="right">
    [% IF current_page != last_page %]
        <a style="text-decoration:none" href="javascript:paginar([% next_page %])">Siguiente >></a>
    [% END %]
      </td>
  </tr>
</table>
[% END %]
</fieldset>
[% formbuilder.field.ncedula.field %]
[% formbuilder.field.page.field %]
[% formbuilder.end %]
<br/>
</body>
</html>
