<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]
[%INCLUDE jsgenerales.tt %]

<!-- archivos de javascript para Prototype -->
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/prototype.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/controls.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/effects.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/dragdrop.js"></script>

[%formbuilder.jshead%]

[%INCLUDE jscargarmenu.tt%]

</head>
<body onload="cargarMenu();">

[%INCLUDE encabezado.tt %]
[%formbuilder.start%]
[%formbuilder.statetags%]
[%formbuilder.keepextras%]
<fieldset>
<legend>Datos Evaluador</legend>
<table border="1" align="center" cellspacing="0" cellpadding="5">
  <tr>
    <td border="1"><b>Nro. C&eacute;dula:</b></td>
    <td border="1">[% cedula %]
    <td border="1"><b>Nombres y Apellidos:</b></td>
    <td border="1">[% nombreapellido %]
    <td border="1"><b>Cargo:</b></td>
    <td border="1">[% cargo %]</td>
  </tr>
</table>
</fieldset>
<br>
<fieldset>
<legend>Lista de Evaluados-Empleados</legend>
<table align="center" cellspacing="0" cellpadding="5">
  [% IF listado %]
    <table align="center" border="1" cellspacing="3">
      <tr class="titulodonforojo">
       <!--<td align="center"><a href="#" onclick="runMode('eliminar');">Eliminar</a></td>-->
       <td align="center">Nombre Evaluado</td>
        <td align="center">Odi</td>
        <td align="center">Competencia</td>
        <td align="center">Estatus<br/>Odis</td>
        <td align="center">Estatus<br/>Competencia</td>
        <td align="center">Generar<br/>Instrumentos</td>
      </tr>
      [% FOREACH listado %]
        <tr>
          <!--<td align="center"><input type="checkbox" name="chk_elimina" id="chk_elimina" value="[% id_evaluado %]" ></td>-->
          <td nowrap><input type="hidden" name="id_evaluado" id="id_evaluado" value="[% id_evaluado %]">[% NombreEvaluado %]</td>
          <td align="center" nowrap>&nbsp;<input type="button" value="Ver odis" name="btodi" onclick="javascript: runMode ('verOdis', [% id_evaluado %]);">&nbsp;</td>
          <td align="center" nowrap>&nbsp;<input type="button" value="Ver Competencias" name="btComp" onclick="javascript: runMode ('verCompetencia', [% id_evaluado %]);">&nbsp;</td>
          <td align="center" nowrap><b>[% descConformeOdi %]</b></td>
          <td align="center" nowrap><b>[% descConformeComp %]</b></td>
          <td align="center" nowrap>&nbsp;<input type="button" value="Generar Instrumentos" name="btInst" onclick="javascript: runMode ('imprimirPortada', [% id_evaluado %], [% stipo %]);">&nbsp;</td>
        </tr>
      [% END %]
      <tr>
        <td align="center" colspan="7"><b>Cantidad de Evaluados:&nbsp;</b>[% cantevaluado %]</td>
      </tr>
      <tr>
        <!--<td align="center" colspan="7">[% formbuilder.field.btnagregar.field %]</td>-->
        <!--<td align="center" colspan="7"><input type="button" value="Agregar Evaluado" onclick="javascript: runMode('agregar', '');"></td>-->
      </tr>
    </table>
  [% ELSE %]
    <table align="center" border="1">
      <tr>
        <td colspan="3" align="center" class="titulodonfomarillo">No hay relación de Evaluados con este Usuario</td>
      </tr>
    </table>
  [% END %]
</table>
</fieldset>
<fieldset>
<legend>Lista de Evaluados-Obreros</legend>
<table align="center" cellspacing="0" cellpadding="5">
  [% IF listadoEval %]
    <table align="center" border="1">
      <tr class="titulodonforojo">
        <td align="center">Nombre Evaluado</td>
        <td align="center">Competencia</td>
        <td align="center">Estatus<br/>Competencia</td>
        <td align="center">Generar<br/>Instrumentos</td>
      </tr>
      [% FOREACH listadoEval %]
        <tr>
          <td nowrap><input type="hidden" name="id_evaluado" id="id_evaluado" value="[% id_evaluado %]">[% NombreEvaluado %]</td>
          <td align="center" nowrap>&nbsp;<input type="button" value="Ver Competencias" name="btComp" onclick="javascript: runMode ('verCompetenciaObrero', [% id_evaluado %]);">&nbsp;</td>
          <td align="center" nowrap><b>[% descConformeComp %]</b></td>
          <td align="center" nowrap>&nbsp;<input type="button" value="Generar Instrumentos" name="btInst" onclick="javascript: runMode ('imprimirPortadaObrero', [% id_evaluado %], [% stipoobrero %]);">&nbsp;</td>
        </tr>
      [% END %]
      <tr>
        <td align="center" colspan="7"><b>Cantidad de Evaluados:&nbsp;</b>[% cantEval %]</td>
      </tr>
    </table>
  [% ELSE %]
    <table align="center" border="1">
      <tr>
        <td colspan="3" align="center" class="titulodonfomarillo">No hay relación de Evaluados-Obreros con este Usuario</td>
      </tr>
    </table>
  [% END %]
</table>
</fieldset>
[% formbuilder.field.ncedula.field %]
[% formbuilder.field.stipo.field %]
[% formbuilder.field.origen.field %]
[% formbuilder.end %]
<br/>
</body>
</html>
