<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]
[%INCLUDE jsgenerales.tt %]

<!-- archivos de javascript para Prototype -->
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/prototype.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/controls.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/effects.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/dragdrop.js"></script>

[%formbuilder.jshead%]
<script language="JavaScript">

function mostrarEvaluacion( cedula, codunidadadm, tipo  ){
  document.listaevaluacion.ncedula.value = cedula;
  if (tipo == 2) {
    document.listaevaluacion.action = "verEvaluacionCedula";
  }else if (tipo == 3) {
    document.listaevaluacion.action = "verEvaluacionCedulaObrero";
  } 
  document.listaevaluacion.stunidad.value = codunidadadm;
  document.listaevaluacion.submit();
}

</script>
[%INCLUDE jscargarmenu.tt%]

</head>
<body onload="cargarMenu();">

[%INCLUDE encabezado.tt %]
[%formbuilder.start%]
[%formbuilder.statetags%]
[%formbuilder.keepextras%]
<table border="1" align="center" cellspacing="0" cellpadding="5">
  <tr>
    <td border="1" class="fondoetiqueta5"><b>Unidad Administrativa:</b></td>
    <td border="1">[% unidadadm %]
  </tr>
</table>
<br>
  <table width="750px" align="center" border="1">
[% IF listado %]

    <tr class="titulodonforojo">
      <tr class="titulodonforojo">
      <td width="50px" align="center">C&eacute;dula</td>
      <td width="350px" align="center">Nombres y Apellidos</td>
      <td width="350px" align="center">Cargo</td>
    </tr>
    [% FOREACH listado %]
    <tr bgcolor="[% clase %]">
      <tr>
        <td width="50px" align="center" ><a href="javascript:mostrarEvaluacion([% cedula %],'[% codunidadadm %]',[% tipo %]);">[% cedulaf %]</td>
        <td width="350px" align="left">[% nombcompleto %]</td>
        <td width="350px" align="left">[% desccargo %]</td>
      </tr>
    </tr>
    [% END %]
      <tr>
        <td colspan="2" align="right" width="400px"><b>Nro. Empleados:</b></td>
        <td align="center" width="350px"><b>[% nroregistros %]</b></td>
      <tr>
    [% END %]
</table>
<br>
<table align="center" colspan="3">
  <tr>
    <td align="center">[% formbuilder.field.volver.field %]</td>
  </tr>
</table>
[% formbuilder.field.ncedula.field %]
[% formbuilder.field.stipo.field %]
[% formbuilder.field.stunidad.field %]
[% formbuilder.field.origen.field %]
[%formbuilder.end%]
<br/>
</body>
</html>
