<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]
[%INCLUDE jsgenerales.tt %]

<!-- archivos de javascript para Prototype -->
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/prototype.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/controls.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/effects.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/dragdrop.js"></script>

[%formbuilder.jshead%]

[%INCLUDE jscargarmenu.tt%]

</head>
<body onload="cargarMenu();">
[%INCLUDE encabezado.tt %]
[%formbuilder.start%]
[%formbuilder.statetags%]
[%formbuilder.keepextras%]
<fieldset>
<legend>Evaluaciones</legend>
<b>Periodo del [% periododesde %] al [% periodohasta %]</b>
<table width="905px" align="center" border="1">
  [% FOREACH unidad_datos %]
    [% IF bdetallado == 1 %]
      <tr>
        <td colspan="[% colspan %]" align="left"><b>[% unidad %]</b></td>
      </tr>
      [% IF datos  %]
        <tr>
	  [% IF bcedula == 1 %]
            <th>C&eacute;dula</th>
          [% END %]
	  [% IF bnombre == 1 %]
            <th>Nombre y Apellido</th>
          [% END %]
	  [% IF bcargo == 1 %]
            <th>Cargo</th>
          [% END %]
	  [% IF bcedula_eval == 1 %]
            <th>C&eacute;dula del Evaluador</th>
          [% END %]
	  [% IF bnombre_eval == 1 %]
            <th>Nombre del Evaluador</th>
          [% END %]
	  [% IF bcargo_eval == 1 %]
            <th>Cargo del Evaluador</th>
          [% END %]
	  [% IF bperiodo == 1 %]
            <th>Periodo de Evaluacion</th>
          [% END %]
	  [% IF bresultado == 1 %]
            <th>Resultado de la Evaluacion</th>
          [% END %]
	  [% IF bmonto == 1 %]
            <th>Monto Total Cancelado</th>
          [% END %]
        </tr>
        [% FOREACH datos %]
          <tr class="[% clase %]">
	    [% IF bcedula == 1 %]
              <td>[% cedula %]</td>
            [% END %]
	    [% IF bnombre == 1 %]
              <td nowrap>[% nombre %]</td>
            [% END %]
	    [% IF bcargo == 1 %]
              <td>[% cargoevaluado %]</td>
            [% END %]
	    [% IF bcedula_eval == 1 %]
              <td>[% cedulaevaluador %]</td>
            [% END %]
	    [% IF bnombre_eval == 1 %]
              <td nowrap>[% nombreevaluador %]</td>
            [% END %]
	    [% IF bcargo_eval == 1 %]
              <td>[% cargoevaluador %]</td>
            [% END %]
	    [% IF bperiodo == 1 %]
              <td align="center">Del [%periodo_desde%] al [%periodo_hasta%]</td>
            [% END %]
	    [% IF bresultado == 1 %]
              <td>[% resultado %]</td>
            [% END %]
	    [% IF bmonto == 1 %]
              <td>[% monto %]</td>
            [% END %]
          </tr>
        [% END %]
      [% END %]
    [% END %]
    [% IF bconsolidado == 1 %]
      <tr>
        <td align="left" nowrap><b>[% unidad %]</b></td>
        <td align="left"><b>TOTAL : &nbsp;&nbsp;[% total_unidad %]</b></td>
      </tr>
    [% END %]
  [% END %]
</table>
</fieldset>
<br>
<table align="center" colspan="3">
  <tr>
    <td align="center">
      <table>
        <tr>
          <td align="center">[% formbuilder.field.btnvolver.field %]</td>
          <td align="center">[% formbuilder.field.btnexcel.field %]</td>
        </tr>  
      </table>  
    </td>
  </tr>
</table>
[% formbuilder.field.bexcel.field %]
[% formbuilder.field.chktipo.field %]
[% formbuilder.field.ncedula.field %]
[% formbuilder.field.nnombre.field %]
[% formbuilder.field.apellido.field %]
[% formbuilder.field.nresultado.field %]
[% formbuilder.field.unidad.field %]
[% formbuilder.field.campos_sel.field %]
[%formbuilder.end%]
<br/>
</body>
</html>
