<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>

<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]
[%INCLUDE jsgenerales.tt %]

<!-- archivos de javascript para Prototype -->
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/prototype.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/controls.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/effects.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/dragdrop.js"></script>

<script type="text/javascript">
function validaPeso( peso ){
  var form = document.getElementById('listacompetencia');
  var invalid       = 0;
  var total         = 0;
  var total_peso    = 0;
  var total_peso_OC = 0;
  var cantidad      = 0;
  var cantidad_OC   = 0;
  var alertstr = '';
  var h_npeso =  form.h_npeso;
  var npeso = document.getElementById('npeso');

  if (peso.value < 5 || peso.value > 7){
    alertstr += '- Error el peso de la competencia no puede ser menor a 5 ni mayor a 7 \n';
    peso.value = '';
    invalid++;
  }

  var idx;
  for (i=0;i<=[% lineas %];i++){
    if (form.npeso[i]){
      if (form.npeso[i].value){
        if (parseFloat(form.npeso[i].value) > 0){
         total_peso += parseFloat(form.npeso[i].value);
	       cantidad += 1;
        }
      }
    }
  }
  total = total_peso;

  document.getElementById('sumapeso').innerHTML = total;
  form.h_totalpeso.value = total;

  if ( total > 50 ){
    alertstr += '- Error el total general de los pesos no puede ser superior a 50 \n';
    document.getElementById('sumapeso').innerHTML = parseFloat(total) - parseFloat(peso.value);
    form.h_totalpeso.value = parseFloat(total) - parseFloat(peso.value);
    peso.value = '';
    invalid++;
  }

  if (invalid){
    alert ( alertstr );
    peso.focus();
    return false;
  }
    
  return true;
}
</script>
[%formbuilder.jshead%]

[%INCLUDE jscargarmenu.tt%]

</head>
<body onload="cargarMenu();">

[%INCLUDE encabezado.tt %]
[%formbuilder.start%]
[%formbuilder.statetags%]
[%formbuilder.keepextras%]
[% IF noMostrarTT != 1 %]
<fieldset>
<legend>Datos del Evaluado</legend>
<table border="1" align="center" cellspacing="0" cellpadding="5">
  <tr>
    <td border="1"><b>Nro. C&eacute;dula:</b></td>
    <td border="1">[% cedula %]
    <td border="1"><b>Nombres y Apellidos:</b></td>
    <td border="1">[% nombreapellido %]
    <td border="1"><b>Cargo:</b></td>
    <td border="1">[% cargo %]</td>
  </tr>
</table>
</fieldset>
<br>
<fieldset>
<table align="center" cellspacing="0" cellpadding="5">
[% IF listado %]
<legend>Competencia por Evaluado</legend>
      <table align="center" border="1">
      [% IF idestatuscomp %]
        <tr>
          <td colspan="3" align="center" class="titulodonfomarillo">[% descestatuscomp %]</td>
        </tr>
      [% END %]
        <tr class="titulodonforojo">
          <tr class="titulodonforojo">
          <td align="center">Competencia</td>
          <td align="center">Peso</td>
          <td align="center">Rango</td>
        </tr>
      [% FOREACH listado %]
        <tr>
          <td width="500px" align="justify"><input type="hidden" name="id" value="[% id %]" id="id"> <b>[% categoria %]:&nbsp;</b>[% descripcion %]</td>
          [%  IF accion == 'crear' %]
              [% IF peso == '' %]
                <td width="5px" align="center">
                  [% IF h_peso %]<input type="hidden" name="h_npeso" value="[% h_peso %]" id="h_npeso">[% END %][%formbuilder.field.npeso.field %]
                </td> 
              [% ELSE %]
                <td width="5px" align="center">
                  [% IF h_peso %]<input type="hidden" name="h_npeso" value="[% h_peso %]" id="h_npeso">[% END %]<input type="text" name="npeso" size="3" value="[% peso %]" readonly id="npeso">
                </td>
              [% END %]

              <td width="5px">
                <SELECT name="strango">
                  [% FOREACH strango %]
                    <option [% selected %] value="[% value %]">[% descrip %]</option>
                  [% END %]
                </SELECT>
              </td>
          [% ELSIF accion == 'guardar' %]
              <td width="5px"  align="center">
                  [% FOREACH  peso %]
                      [% IF h_peso %]<input type="hidden" name="h_npeso" value="[% h_peso %]" id="h_npeso">[% END %]<input name="npeso" id="npeso" size="3px" align="center" [% habilita %] value="[% value %]" onchange="validaPeso( this )"/> 
                  [% END %]
              </td>
              <td width="5px">
                <SELECT name="strango">
                  [% FOREACH strango %]
                    <option [% selected %] value="[% value %]">[% descrip %]</option>
                  [% END %]
                </SELECT>
              </td>
          [% ELSIF accion == 'ver' %]
              <td width="5px" align="center">[% peso %]</td>
              <td width="250px">[% strango %]</td>
          [% END %]
        </tr>
      [% END %]
        <tr>
        <td align="right" width="500px"><b>Total peso:</b></td>
        <td align="center" width="5px">
          <table>
            <tr>
              <td><b><div id="sumapeso"></id></b>
              [% IF total_peso %]
                [% total_peso %]
              [% END %]
              </td>
              <td><b>/[% totalpeso %]</b></td>
            <tr>
          </table>
        <td width="5px">&nbsp;</td>
        </tr>
      </table>
    [% END %]
  </table>
</fieldset>
[% IF listado%]
<fieldset>
<legend>Resultado de la Evaluación</legend>
<table align="center" cellspacing="0" cellpadding="5">
      <table align="center" border="1">
        <tr>
          <td nowrap><b>Total Evaluación ODI:</b></td>
            <td width="5px" nowrap>[% IF npesorangoodi %][% npesorangoodi %][% ELSE %] 0 [% END %]</td>
        </tr>
        <tr>
          <td nowrap><b>Total Evaluación Competencia:</b></td>
            <td width="5px" nowrap>[% IF npesorangocomp %][% npesorangocomp %][% ELSE %] 0 [% END %]</td>
        </tr>
        <tr>
          <td nowrap><b>Total Resultado:</b></td>
            <td width="5px" nowrap>[% IF tresultado %][% tresultado %][% ELSE %] 0 [% END %]</td>
        </tr>
        <tr>
          <td nowrap><b>Rango de Actuación:</b></td>
            <td width="300px" nowrap>[% IF rangoact %][% rangoact %][% ELSE %] 0 [% END %]</td>
        </tr>
      </table>
  </table>
</fieldset>
[% END %]
<table align="center" colspan="3">
  <tr>
    <td align="center">[% formbuilder.field.btnvolver.field %]</td>
    <td align="center">[% formbuilder.field.btnodi.field %]</td>
    [% IF listado AND  idestatuscomp != 2 %]
      [% IF bevaluar != 1 %]
        <td align="center">[% formbuilder.field.btnaceptar.field %]</td>
      [% END %]
    [% END %]
  </tr>
</table>
[% END %]
[% formbuilder.field.h_totalpeso.field %]
[% formbuilder.field.origen.field %]
[%formbuilder.end%]
<br/>
</body>
</html>
