<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>[% titulo %]</title>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]
[%INCLUDE jsgenerales.tt %]

<!-- archivos de javascript para Prototype -->
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/prototype.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/controls.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/effects.js"></script>
<script type="text/javascript" src="[%ruta_estatica%]/js/prototype/dragdrop.js"></script>

<!-- hoja de estilo del calendario -->
<link rel="stylesheet" type="text/css" media="all" href="[% ruta_estatica %]/js/jscalendar/calendar-win2k-cold-2.css" title="Calendario" />
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/calendar.js"></script>
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/lang/calendar-es.js"></script>
<script type="text/javascript" src="[% ruta_estatica %]/js/jscalendar/calendar-setup.js"></script>

<script type="text/javascript">

function validate_periodofuncionalidad (form) {
  var alertstr = '';
  var invalid  = 0;
  var invalid_fields = new Array();

// dinicio: standard text, hidden, password, or textarea box
  var dinicio = form.elements['dinicio'].value;
  if (dinicio == null || ! dinicio.match(/^(0?[1-9]|[1-2][0-9]|3[0-1])\/?(0?[1-9]|1[0-2])\/?[0-9]{4}$/)) {
    alertstr += '- Indique un valor válido para el campo "Fecha de Inicio"\n';
    invalid++;
    invalid_fields.push('dinicio');
  }
// dfin: standard text, hidden, password, or textarea box
  var dfin = form.elements['dfin'].value;
  if (dfin == null || ! dfin.match(/^(0?[1-9]|[1-2][0-9]|3[0-1])\/?(0?[1-9]|1[0-2])\/?[0-9]{4}$/)) {
    alertstr += '- Indique un valor válido para el campo "Fecha Fin"\n';
    invalid++;
    invalid_fields.push('dfin');
  }
// funcion: select list, always assume it's multiple to get all values
  var funcion = null;
  var selected_funcion = 0;
  for (var loop = 0; loop < form.elements['funcion'].options.length; loop++) {
    if (form.elements['funcion'].options[loop].selected) {
      funcion = form.elements['funcion'].options[loop].value;
      selected_funcion++;
      if (funcion == null || funcion === "") {
        alertstr += '- Seleccione una opción para el campo "Funcionalidad"\n';
        invalid++;
        invalid_fields.push('funcion');
      }
    } // if
  } // for funcion
  if (! selected_funcion) {
    alertstr += '- Seleccione una opción para el campo "Funcionalidad"\n';
    invalid++;
  }

  if ( dfin ){
   var Arrdinicio = dinicio.split("/");
   var Arrdfin    = dfin.split("/");

   var dvalinicio = Arrdinicio[2]+Arrdinicio[1]+Arrdinicio[0];
   var dvalfin    = Arrdfin[2]+Arrdfin[1]+Arrdfin[0];

   if ( dvalfin <= dvalinicio ){
     alertstr += '- La fecha fin no puede ser menor o igual a la fecha inicio\n';
     invalid++;
     invalid_fields.push('dfin');
   }

  }

  if (invalid > 0 || alertstr != '') {
   if (! invalid) invalid = 'The following';   // catch for programmer error
     alert(''+invalid+' error(es) fueron encontrados al aceptar la información:'+'\n\n'
     +alertstr+'\n'+'- Por favor corrija los campos y trate de nuevo');
     return false;
   }
   return true;  // all checked ok
}
</script>

[%formbuilder.jshead%]

[%INCLUDE jscargarmenu.tt%]

</head>
<body onload="cargarMenu();">

[%INCLUDE encabezado.tt %]
[%formbuilder.start%]
[%formbuilder.statetags%]
[%formbuilder.keepextras%]
<fieldset>
<legend>Funcionalidad del Período de evaluación</legend>
<table border="0" align="center" cellspacing="2" cellpadding="5">
  <tr>
    <td  class="fondoetiqueta"><b>[% formbuilder.field.periodo.label %]:</b></td>
    <td  class="fondoetiqueta2"><b>[% formbuilder.field.periodo.value %]</b></td>
  </tr>
  <tr>
    <td  class="fondoetiqueta"><b>[% formbuilder.field.dinicio.label %]:</b></td>
    <td  class="fondoetiqueta2">[% formbuilder.field.dinicio.field %]&nbsp;<img src="[% ruta_estatica %]/imagenes/calendario.jpg" title="Desplegar Calendario" width="25" height="18" id="t_dinicio" style="cursor: pointer; border: 0px solid #0F305A;" onmouseover="this.style.background='#0F305A';" onMouseOut="this.style.background=''"/>
      <script type="text/javascript">
        Calendar.setup({
                         inputField     :    "dinicio",    // id of the input field
                         ifFormat       :    "%d/%m/%Y",   // format of the input field
                         button         :    "t_dinicio",  // trigger for the calendar (button ID)
                         align          :    "Tl",         // alignment (defaults to "Bl")
                         date           :    "today",
                         singleClick    :    true
                      });
      </script>
    </td>
  </tr>
  <tr>
    <td  class="fondoetiqueta"><b>[% formbuilder.field.dfin.label %]:</b></td>
    <td  class="fondoetiqueta2">[% formbuilder.field.dfin.field %]&nbsp;<img src="[% ruta_estatica %]/imagenes/calendario.jpg" title="Desplegar Calendario" width="25" height="18" id="t_dfin" style="cursor: pointer; border: 0px solid #0F305A;" onmouseover="this.style.background='#0F305A';" onMouseOut="this.style.background=''"/>
      <script type="text/javascript">
        Calendar.setup({
                         inputField     :    "dfin",     // id of the input field
                         ifFormat       :    "%d/%m/%Y", // format of the input field
                         button         :    "t_dfin",   // trigger for the calendar (button ID)
                         align          :    "Tl",       // alignment (defaults to "Bl")
                         singleClick    :    true
                      });
      </script>
    </td>
  </tr>
  <tr>
    <td  class="fondoetiqueta"><b>[% formbuilder.field.funcion.label %]:</b></td>
    <td  class="fondoetiqueta2">[% formbuilder.field.funcion.field %]</td>
  </tr>
  <tr>
    <td colspan="2" align="center">[% formbuilder.submit %]</td>
  </tr>
</table>
<br/>
<br/>
<table border="0" align="center" cellspacing="3" cellpadding="5">
  <tr>
    <td class="titulodonforojo">Funcionalidad</td>
    <td class="titulodonforojo">Fecha de Inicio</td>
    <td class="titulodonforojo">Fecha Fin</td>
  </tr>
  [% IF listado %]
    [% FOREACH listado %]
      <tr>
        <td><a href="#" onclick="runMode('modificar','[% nid %]')">[% funcion %]</a></td>
        <td>[% fechainicio %]</td>
        <td>[% fechafin %]</td>
      </tr>
    [% END %]
  [% END %]
</table>
</fieldset>
[% formbuilder.field.nid.field %]
[% formbuilder.end %]
<br/>
</body>
</html>
