<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]
[%formbuilder.jshead%]

<script language ="JavaScript">

function imprime(){
//desaparece el boton
document.getElementById("noprint").style.visibility='hidden';
//se imprime la pagina
print();
setTimeout("showlayer()",2000);
}
function showlayer(){
     document.getElementById("noprint").style.visibility='visible';
}
</script>
</head>
[%formbuilder.start%]

<br/><br/>
<div class="page">
<table align="center" cellspacing="1" cellpadding="1" border="1" width="900px">
  <tr>
    <td colspan="4" bgcolor="#DDDDDD">
      <b><div align="center">SECCION "D"</div>
      <div  align="center">En esta sección se obtendrá el rango de actuación del evaluado.</div></b>
    </td>
  </tr>
<tr>
  <td width="300px" align="justify"><small>
      <b>CALIFICACION FINAL:</b>&nbsp;Es la sumatoria de los puntajes obtenidos en la sección  “B” y “C”.<br/>
      <ul>
        <li>&nbsp;&nbsp;Total sección “B”: Coloque el total del puntaje obtenido en dicha sección.</li>
        <li>&nbsp;&nbsp;Total sección “C”: Coloque el total del puntaje obtenido en dicha sección.</li>
        <li>&nbsp;&nbsp;Puntaje Final (B+C): Coloque la sumatoria del total de la sección “B” más el total de la sección “C”.</li>
      <br/>
      </ul>
      <b>RANGO DE ACTUACION:</b>&nbsp;Es la expresión cualitativa del desempeño del funcionario.<br/>
      <ul>
        <li>&nbsp;&nbsp;Ubique el puntaje final en la Escala Cuantitativa, para obtener el rango de actuación.</li>
        <li>&nbsp;&nbsp;Coloque el resultado en el espacio Rango de Actuación.</li>
      </ul>
      <br/></td>
  <td valign="top">
    <table border=0 cellspacing="0" cellpadding="2">
    <br></br>
    <br></br>
    <br></br>
      <tr>
        <td>&nbsp;</td>
        <td><b><small>31. TOTAL SECCION "B":</small></b></td>
        <td>[% tseccionb %]</td>
      </tr>
      <tr>
        <td style="vertical-align: top;">&nbsp;</td>
      <td style="vertical-align: top;">&nbsp;</td>
      <td style="vertical-align: top;">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="1" rowspan="3" style="text-align: center; vertical-align: middle;"><b>30.CALIFICACION FINAL:</b></td>
        <td><b><small>32. TOTAL SECCION "C":</small></b></td>
        <td>[% tseccionc %]</td>
      </tr>
      <tr>
        <td style="vertical-align: top;">&nbsp;</td>
        <td style="vertical-align: top;">&nbsp;</td>
      </tr>
      <tr>
        <td><b><small>33. PUNTAJE FINAL (B + C):</small></b></td>
        <td>[%  totales %]</td>
      </tr>
      <tr>
        <td style="vertical-align: top;">&nbsp;</td>
        <td style="vertical-align: top;">&nbsp;</td>
        <td style="vertical-align: top;">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><b><small>34. RANGO DE ACTUACION:</small></b></td>
        <td>[%  rangoact %]</td>
      </tr>
    </table>
  </td>
<table border=1 align="center" cellspacing="1" cellpadding="1" width="900px">
<tr bgcolor="#DDDDDD">
  <td align="center"><br><small><b>35. Escala Cuantitativa</b></small></td>
  <td align="center"><br><small><b>36. Rango de Actuaci&oacute;n</b></small></td>
  <td align="center" colspan="2" widht="200px"><br><small><b>37. Definici&oacute;n de los rangos de actuaci&oacute;n</b></small></td>
</tr>
<tr>
  <td align="center"><small>100 - 179</small></td>
  <td align="left"><small>Actuación muy por debajo de lo esperado</small></td>
  <td colspan="2" rowspan="1" align="left" widht="300px"><small><br>Desempeño deficiente, no cumple con los objetivos asignados</small></td>
</tr>
<tr>
  <td align="center"><small>180 - 259</small></td>
  <td align="left"><small>Actuación por debajo de lo esperado</small></td>
  <td colspan="2" rowspan="1" align="left" widht="300px"><small><br>Desempeño que lo lleva a cumplir parcialmente el logro de los objetivos propuestos.</small></td>
</tr>
<tr>
  <td align="center"><small>260 - 339</small></td>
  <td align="left"><small>Actuación dentro de lo esperado</small></td>
  <td colspan="2" rowspan="1" align="left" widht="300px"><small><br>Desempeño satisfactorio, cumple con todos los objetivos asignados.</small></td>
</tr>
<tr>
  <td align="center"><small>340 - 419</small></td>
  <td align="left"><small>Actuación sobre lo esperado</small></td>
  <td colspan="2" rowspan="1" align="left" widht="300px"><small><br>Desempeño por encima de lo esperado y contribuye al logro de los objetivos propuestos, en ocasiones obtiene logros adicionales.</small></td>
</tr>
<tr>
  <td align="center"><small>420 - 500</small></td>
  <td align="left"><small>Desempeño Excepcional</small></td>
  <td colspan="2" rowspan="1" align="left" widht="300px"><small><br>Desempeño consistentemente extraordinario y contribuye a logros adicionales no implícitos  en sus objetivos  de desempeño individual.</small></td>
</tr>
</table>
</table>
<div id=noprint>
  <TABLE width="93%" cellpadding="2">
    <tr align="center">
      <td colspan="6">[% formbuilder.field.btnvolver.field %][% formbuilder.field.btnImprimir.field %][% formbuilder.submit %]</td>
    </tr>
  </TABLE>
</div>
</div>
[% formbuilder.field.ncedula.field %]
[% formbuilder.end %]
<br/>
</body>
</html>
