<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>

<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]

[%formbuilder.jshead%]

<script language ="JavaScript">

function imprime(){
//desaparece el boton
document.getElementById("noprint").style.visibility='hidden';
//se imprime la pagina
print();
setTimeout("showlayer()",2000);
}
function showlayer(){
     document.getElementById("noprint").style.visibility='visible';
}
</script>
</head>
<br/><br/>
<div class="page">
<table width="900px" align="center" cellspacing="0" cellpadding="2" colspan="2" border="1">
<tr>
<td colspan="2" bgcolor="#DDDDDD">
    <b><div align="center">SECCION "E"</div></b>
    </td>
</tr>
<td colspan="2" bgcolor="#DDDDDD">
    <b><div align="justify"><small>En esta sección, exprese comentarios con respecto a los resultados de la evaluación del funcionario, así como las acciones a seguir para mejorar el desempeño.</small></div></b>
    </td>
</tr>
<tr>
  <td colspan="2"><small>Indique cualquier observación que considere pertinente mencionar sobre los resultados de la evaluación del funcionario; así como, aquellas actividades que acuerden el supervisor y supervisado a fin de mantener e incrementar las fortalezas demostradas o para corregir las áreas débiles encontradas.</small></td>
</tr>
<tr>
  <td colspan="2" align="center"><small><b>38. Comentarios del Supervisor</b></small></td>
</tr>
<tr>
  <td colspan="2" width="300px" rowspan="1" height="120px">&nbsp;</td>
</tr>
<tr>
  <td colspan="2" align="center" bgcolor="#DDDDDD"><small><b>39. FIRMAS</b></small></td>
</tr>
<tr>
  <td width="200px" colspan="1" rowspan="1" height="100px" valign="top"><small><b>SUPERVISOR INMEDIATO</b></small>
<br></br>
<br></br>
<br></br>
<br></br>
<div align="justify"><small>Fecha de Evaluaci&oacute;n:</small></div>
<br></br>
</td>
  <td colspan="1" rowspan="1" height="100px" valign="top"><small><b>JEFE DEL SUPERVISOR INMEDIATO</b></small>
</td>
</tr>
<tr>
  <td colspan="2" align="center" bgcolor="#DDDDDD"><small><b>40. FIRMAS DEL EVALUADO</b></small></td>
</tr>
<tr>
<td colspan="2" height="50px" ><small>¿Est&aacute; de acuerdo?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Si
[% IF obligatorio == 'Si' %]
<img src="[% ruta_estatica %]/imagenes/menu/cerrar.gif" width="11" height="9" />
[% ELSE %]
<img src="[% ruta_estatica %]/imagenes/menu/vacio.gif" width="11" height="9" />
[% END %]
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No
[% IF obligatorio == 'No' %]
<img src="[% ruta_estatica %]/imagenes/menu/cerrar.gif" width="11" height="9" />
[% ELSE %]
<img src="[% ruta_estatica %]/imagenes/menu/vacio.gif" width="11" height="9" />
[% END %]</small></td>
</tr>
<tr>
  <td colspan="2" align="center" bgcolor="#DDDDDD"><small><b>41. Comentarios: El evaluado podr&aacute; expresar culaquier observaci&oacute;n adicional que considere pertinente sobre su evaluaci&oacute;n</b></small></td>
</tr>
<tr>
  <td colspan="2" rowspan="1" height="50px"><small>[% observacion %]</small></td>
</tr>

<tr bgcolor="#DDDDDD">
  <td align="center"><small><b>42. Firma del Evaluado</b></small></td>
  <td align="center"><small><b>43. Fecha</b></small></td>
</tr>
<tr>
  <td colspan="1" rowspan="1">&nbsp;</td>
  <td colspan="1" rowspan="1">&nbsp;</td>
</tr>
</table>
<div id=noprint>
  <TABLE width="93%" cellpadding="2">
    <tr align="center">
      <td colspan="6">[% formbuilder.field.btnvolver.field %][% formbuilder.field.btnImprimir.field %]</td>
    </tr>
  </TABLE>
</div>
</div>
[% formbuilder.end %]
<br/>
</body>
</html>
