<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>

<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]
[%formbuilder.jshead%]

<script language ="JavaScript">

function imprime(){
//desaparece el boton
document.getElementById("noprint").style.visibility='hidden';
//se imprime la pagina
print();
setTimeout("showlayer()",2000);
}
function showlayer(){
     document.getElementById("noprint").style.visibility='visible';
}
</script>
</head>
[%formbuilder.start%]
<div class="page">
<table cellspacing="1" cellpadding="1" border="1">
<tr>
<td colspan="4" bgcolor="#DDDDDD">
    <b><div align="center">SECCION "C"</div></b>
    </td>
</tr>
  <tr>
    <td width="300px" align="justify"><small>
      <b>COMPETENCIAS:</b>&nbsp;Son los factores de desempe&ntilde;o que facilitan al evaluado la consecuci&oacute;n de los ODI.<br/><br/>
      <b>PESO:</b>Es la ponderaci&oacute;n de la competencia expresada en puntos.<br/><br/>
      <ul>
        <li>&nbsp;&nbsp;En esta columna el supervisor debe indicar el peso de cada competencia en funci&oacute;n al cargo que ocupa el evaluado.</li>
        <li>&nbsp;&nbsp;El peso total es de cincuenta (50) puntos.</li>
        <li>&nbsp;&nbsp;El peso de las tres (3) primeras competencias ha sido previamente establecido siendo su sumatoria de veinte (20) puntos.</li>
        <li>&nbsp;&nbsp;Los treinta (30) puntos restantes deben ser distribuidos entre las dem&aacute;s competencias.</li>
        <li>&nbsp;&nbsp;El peso que se le asigne a cada competencia puede ser igual o inferior a siete (7) puntos pero nunca mayor.</li>
        <li>&nbsp;&nbsp;Se deben ponderar todas las competencias.</li>
      </ul>
      <b>RANGOS:</b>&nbsp;Es la expresi&oacute;n cuantitativa de la presencia de la competencia en el desempe&ntilde;o del evaluado.
      <br/>
      <ul>
        <li>&nbsp;&nbsp;En este cuadro debe seleccionar y marcar con una equies (X) el rango que mejor describa la presencia la competencia en el 
            comportamiento del evaluado.</li>
      </ul><small>
      <table width="300px" border=1 cellspacing="0" cellpadding="1">
        <tr bgcolor="#DDDDDD">
          <th><small><small>RANGOS</small></th>
          <th><small><small>DESCRIPCI&Oacute;N</small></th>
        </tr>
        <tr>
          <td align="center"><small>1</small></td>
          <td align="left"><small>Muy por debajo de lo esperado</small></td>
        </tr>
        <tr>
          <td align="center"><small>2</small></td>
          <td align="left"><small>Por debajo de lo esperado</small></td>
        </tr>
        <tr>
          <td align="center"><small>3</small></td>
          <td align="left"><small>Dentro de lo esperado</small></td>
        </tr>
        <tr>
          <td align="center"><small>4</small></td>
          <td align="left"><small>Sobre lo esperado</small></td>
        </tr>
        <tr>
          <td align="center"><small>5</small></td>
          <td align="left"><small>Excepcional</small></td>
        </tr>
       </table>      <br/>
       <b><small>PESO X RANGO:</b> En esta columna proceda a colocar el resultado de multiplicar el peso fijado a la competencia por el rango obtenido por el
          funcionario.<br/><br/>
       <b>TOTAL:</b> Coloque en la casilla correspondiente la sumatoria de los puntajes de la columna peso x rango.</small>

    </td>
    <td valign="top">
      <table border=1 cellspacing="0" cellpadding="1">
        <tr>
          <td colspan="8" bgcolor="#DDDDDD" align="center">
            <b>EVALUACI&Oacute;N DE LAS COMPETENCIAS</b>
          </td>
        </tr>
        <tr>
          <td colspan="8">
            En esta secci&oacute;n se ponderan las competencias en relaci&oacute;n al cargo y se eval&uacute;an de acuerdo al grado en que est&eacute;n presentes en el evaluado.
          </td>
        </tr>
        <tr bgcolor="#DDDDDD">
          <td align="center" rowspan="2"><b><small>25. COMPETENCIAS</small></b></td>
          <td align="center" rowspan="2"><b><small>26. PESO</small></b></td>
          <td colspan="5" align="center"><b><small>27. RANGO</small></b></td>
          <td rowspan="2" align="center"><b><small>28. PESO X RANGO</small></b> </td>
        </tr>
        <tr bgcolor="#DDDDDD">
          <td align="center">1</td>
          <td align="center">2</td>
          <td align="center">3</td>
          <td align="center">4</td>
          <td align="center">5</td>
        </tr>
        [% FOREACH listado %]
          <tr>
            <td border="0" height="50px" align="justify"><small><b>[%categoria%]:&nbsp;</b>[% descripcion %]</small></td>
            <td align="center" height="50px"><small>[% npeso %]</small></td>
            <td height="50px"><small>[% celda1 %]</small></td>
            <td height="50px"><small>[% celda2 %]</small></td>
            <td height="50px"><small>[% celda3 %]</small></td>
            <td height="50px"><small>[% celda4 %]</small></td>
            <td height="50px"><small>[% celda5 %]</small></td>
            <td  height="50px" align="center"><small>[% rangoxpeso %]</small></td>
          </tr>
        [% END %]
        <tr>
          <td>&nbsp;</td>
          <td align="center"><b>[% totalpeso %]</b></td>
          <td colspan="5" valign="top" align="right" bgcolor="#DDDDDD"><b><small>29. TOTAL</small></b></td>
          <td align="center"><b>[% nTotal %]</b></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<div id=noprint>
  <TABLE width="93%" cellpadding="2">
    <tr align="center">
      <td colspan="6">[% formbuilder.field.btnvolver.field %][% formbuilder.field.btnImprimir.field %][% formbuilder.submit %]</td>
    </tr>
  </TABLE>
</div>
</div>
[% formbuilder.field.ncedula.field %]
[% formbuilder.end %]
<br/>
</body>
</html>
