<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>

<!-- hojas de estilo generales -->
[% INCLUDE estilosgenerales.tt %]

[%formbuilder.jshead%]

<script language ="JavaScript">

function imprime(){
//desaparece el boton
document.getElementById("noprint").style.visibility='hidden';
//se imprime la pagina
print();
setTimeout("showlayer()",2000);
}
function showlayer(){
     document.getElementById("noprint").style.visibility='visible';
}
</script>
</head>
<br/><br/>
<div class="page">
<table width="900px" align="center" cellspacing="0" cellpadding="2" colspan="2" border="1">
<tr>
<td colspan="2" bgcolor="#DDDDDD">
    <b><div align="center"><small>9.- COMENTARIOS DEL SUPERVISOR</small></div></b>
    </td>
</tr>
<tr>
  <td colspan="2" width="300px" rowspan="1" height="110px">&nbsp;</td>
</tr>
<tr>
  <td colspan="1" align="center" bgcolor="#DDDDDD"><small><b>10.- ASPECTOS A MEJORAR</b></small></td>
  <td colspan="1" align="center" bgcolor="#DDDDDD"><small><b>11.- ACCIONES</b></small></td>
</tr>
<tr>
  <td width="200px" colspan="1" rowspan="1" height="100px" valign="top">&nbsp;
<br></br>
<br></br>
<br></br>
<br></br>
</td>
  <td width="200px" colspan="1" rowspan="1" height="100px" valign="top">&nbsp;
</td>
</tr>
<tr>
  <td colspan="2" align="center" bgcolor="#DDDDDD"><small><b>12.- PARA USO DEL TRABAJADOR EVALUADO</b></small></td>
</tr>
<tr>
<td colspan="2" height="30px" ><small>¿Est&aacute; de acuerdo?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Si
[% IF obligatorio == 'Si' %]
<img src="[% ruta_estatica %]/imagenes/menu/cerrar.gif" width="11" height="9" />
[% ELSE %]
<img src="[% ruta_estatica %]/imagenes/menu/vacio.gif" width="11" height="9" />
[% END %]
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No
[% IF obligatorio == 'No' %]
<img src="[% ruta_estatica %]/imagenes/menu/cerrar.gif" width="11" height="9" />
[% ELSE %]
<img src="[% ruta_estatica %]/imagenes/menu/vacio.gif" width="11" height="9" />
[% END %]</small></td>
</tr>
<tr>
  <td colspan="2" width="300px" rowspan="1" height="65px">&nbsp;</td>
</tr>
</table>

<table width="900px" align="center" cellspacing="0" cellpadding="2" colspan="3" border="1">
<tr bgcolor="#DDDDDD">
  <td colspan="3" align="center"><small><b>13.- FIRMAS</b></small></td>
</tr>
<tr>
  <td width="300px" colspan="1" rowspan="1">&nbsp;</td>
  <td width="300px" colspan="1" rowspan="1">&nbsp;</td>
  <td width="300px" colspan="1" rowspan="1">&nbsp;</td>
</tr>
<tr bgcolor="#DDDDDD">
  <td width="300px" align="center"><small><b>Evaluador</b></small></td>
  <td width="300px" align="center"><small><b>Supervisor del Evaluador</b></small></td>
  <td width="300px" align="center"><small><b>Evaluado</b></small></td>
</tr>
</table>
<table width="900px" align="center" cellspacing="0" cellpadding="2" colspan="2" border="1">
<tr bgcolor="#DDDDDD">
  <td colspan="2" align="center"><small><b>PARA USO DE LA COORDINACION DE DESARROLLO DE PERSONAL</b></small></td>
</tr>
<tr bgcolor="#DDDDDD">
  <td width="450px" rowspan="2" align="center"><small><b>14.- Resultados de la Evaluación</b></small></td>
  <td width="450px" align="center"><small><b>15.- Puntaje Obtenido</b></small></td>
</tr>
<tr>
  <td colspan="1" rowspan="1" align="center">&nbsp;[% puntaje %]</td>
</tr>
<tr bgcolor="#DDDDDD">
  <td width="450px" align="center"><small><b>16.- Rango de Actuación</b></small></td>
  <td width="450px" align="center"><small><b>17.- Decisión</b></small></td>
</tr>
<tr>
  <td colspan="1" rowspan="1" align="center">&nbsp;[% rangoactuacion %]</td>
  <td colspan="1" rowspan="1">&nbsp;</td>
</tr>
<tr bgcolor="#DDDDDD">
  <td width="450px" align="center"><small><b>18.- Firma del Especialista de Recursos Humanos</b></small></td>
  <td width="450px" align="center"><small><b>19.- Fecha</b></small></td>
</tr>
<tr>
  <td colspan="1" rowspan="1">&nbsp;</td>
  <td colspan="1" rowspan="1">&nbsp;</td>
</tr>
</table>
<div id=noprint>
  <TABLE width="93%" cellpadding="2">
    <tr align="center">
      <td colspan="6">[% formbuilder.field.btnvolver.field %][% formbuilder.field.btnImprimir.field %]</td>
    </tr>
  </TABLE>
</div>
</div>
[% formbuilder.end %]
<br/>
</body>
</html>
